.container-fluid{
    height: 100vh;
    margin-top: -56px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.cursor-pointer{
    cursor: pointer;
}

$bg : #eff4f7;
$yellow :#E87528;
$blue : #00A0A8;

.img-size{
    height: 320px;
    width: 100%;
}

.example-card{
    cursor: pointer;
    transition: 0.4s ease-in;
    padding: 0;
    &:hover{
        transform: scale(0.97);
        
    } 
}

.action-part{
    padding: 0;
    margin: 0;
}
.main-row{
    margin-top: 10%;
}
