<div class="container-fluid">
  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-10 mt-4 ">
      <div class="row"> <!--Apply loop here-->
        
        <div class="col-md-6 col-lg-4 no-padding mt-3"  *ngFor="let img of data; let i = index">

          <mat-card class="example-card"(click)="typeSelected(img.name)">
            <!--
            <mat-card-header style="justify-content: center">
              <mat-card-title class="header" style="font-size : x-large; font-weight : 600">{{img.name}}</mat-card-title>
              <mat-card-subtitle></mat-card-subtitle>
            </mat-card-header>
            -->
            <img mat-card-image [src]='img.img' style="margin : 0" class="img-size" alt="Photo of a Shiba Inu">
            <mat-card-actions class="action-part">
              <button mat-button 
                class="btn btn-info full-width"
                (click)="typeSelected(img.name)"
                >{{img.name}} Doctors 
                <mat-icon class="white-icon ">keyboard_arrow_right</mat-icon>
              </button>
            </mat-card-actions>
          </mat-card>
        </div>
        
      </div>
    </div>
  </div>
</div>