.option-no {
  height: 100%;
  width: 100%;
  padding: 11px 14px;
  margin-left: -16px;
  border-radius: 5px 0px 0px 5px;
  background-color: #80409a;
  margin-right: 10px;
  color: #fff;
}
.option-label:hover {
  background-color: #80409a;
  color: #fff;
}
