<div class="row container-fluid">
  <div class="col-md-12">
    <div class="card mt-0">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">perm_contact_calendar</i>
        </div>
        <h4 class="card-title m-0">Employee Registration</h4>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <button class="btn btn-success mr-2" (click)="openform()">Add New Employee</button>

            <input type="file" #csvFile accept=".csv" multiple (change)="filechanged($event)"
              [ngStyle]='{"display" : numberOfFiles == 0 ? "none" : ""}'>

            <button class="btn btn-info" (click)='csvFile.click()'
              [ngStyle]='{"display" : numberOfFiles > 0 ? "none" : ""}'>Add Bulk Employee (CSV)</button>
            <button class="btn btn-success btn-icon ml-3" [ngStyle]='{"display" : numberOfFiles == 0 ? "none" : ""}'
              title="Upload file">
              <mat-icon (click)="fileupload()">cloud_upload</mat-icon>
            </button>
          </div>

        </div>

        <div class="row mt-4">
          <div class="col-md-9">
            <h3 class="ml-3">Registred Employees</h3>
          </div>
          <div class="col-md-3 mt-0">
            <mat-form-field appearance="outline" class="full-width">
              <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filters">
            </mat-form-field>
          </div>
        </div>

        <div class="table-responsive">
          <table mat-table [dataSource]="list" class="table text-center">

            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Name </th>
              <td mat-cell *matCellDef="let element"> {{element.name }} </td>
            </ng-container>

            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Email </th>
              <td mat-cell *matCellDef="let element"> {{element.email}} </td>
            </ng-container>

            <ng-container matColumnDef="contactNo">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Contact </th>
              <td mat-cell *matCellDef="let element"> {{element.contactNo}} </td>
            </ng-container>

            <ng-container matColumnDef="age">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Age </th>
              <td mat-cell *matCellDef="let element"> {{element.age}} </td>
            </ng-container>

            <ng-container matColumnDef="empId">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Employ Id </th>
              <td mat-cell *matCellDef="let element"> {{element.empId}} </td>
            </ng-container>

            <ng-container matColumnDef="branch">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Branch </th>
              <td mat-cell *matCellDef="let element"> {{element.branch}} </td>
            </ng-container>

            <ng-container matColumnDef="dept">
              <th mat-header-cell *matHeaderCellDef class="text-center"> Department </th>
              <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
            </ng-container>

            <ng-container matColumnDef="update">
              <th mat-header-cell *matHeaderCellDef> Edit</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button class="btn btn-social btn-link btn-info" (click)="update(i)" title="Edit">
                  <i class="material-icons">edit</i>
                </button>
              </td>
            </ng-container>

            <ng-container matColumnDef="delete">
              <th mat-header-cell *matHeaderCellDef> Delete</th>
              <td mat-cell *matCellDef="let element; let i = index">
                <button class="btn btn-social btn-link btn-danger" (click)="delete(i)" title="Delete">
                  <i class="material-icons">delete</i>
                </button>

              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="col"></tr>
            <tr mat-row *matRowDef="let row; columns: col;"></tr>
          </table>
          <mat-paginator [pageSizeOptions]="[5, 10, 15]" showFirstLastButtons> </mat-paginator>
        </div>
      </div>
    </div>
  </div>