.mat-stepper-horizontal {
  margin-top: 8px;
}

.mat-form-field {
  margin-top: 16px;
}
.cdk-overlay-container {
  z-index: 9999 !important;
}

table {
  width: 100%;
  min-width: 580px;
}
.increaseZindex {
  z-index: 99999999;
}
mat-option {
  z-index: 99999;
}
// .card ,.card-header{
//   background-image: linear-gradient(orange , #f9d293);
// }
.upload {
  color: white;
  font-size: xx-large;
  cursor: pointer;
}
.table-div {
  overflow-x: scroll;
}
.filterTable {
  margin-left: 50%;
}
.full-width {
  width: 100%;
}
