<div class="row master container-fluid">
  <div class="col-md-12">
    <div class="card ml-2 mr-2 mat-elevation-z8 top-card">
      <div class="card-header card-header-primary card-header-icon top-card-header">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title ">Track your Employee</h4>
        
        <div class="row">
          <button class="col-8 col-lg-4 col-xl-3 btn btn-success" (click)="addrequest()">Add New request</button>
        </div>
        
      </div>
    </div>
  </div>
</div>


<div class="appoint container-fluid ml-4">
  <form [formGroup]="form"> 
    <div class="row" >
      <div class="col-md-4">
        <div class="card">
          <div class="card-header card-header-warning card-header-text">
            <div class="card-icon">
              <i class="material-icons">insert_invitation</i>
            </div>
            <h4 class="card-title">Start Date</h4>
          </div>
          <div class="card-body ">
            <mat-form-field style="width:100%">
              <mat-label>From</mat-label>
              <input matInput [matDatepicker]="picker_start" formControlName="start">
              <mat-datepicker-toggle matSuffix [for]="picker_start"></mat-datepicker-toggle>
              <mat-datepicker #picker_start></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card ">
          <div class="card-header card-header-warning card-header-text">
            <div class="card-icon">
              <i class="material-icons">insert_invitation</i>
            </div>
            <h4 class="card-title">End Date</h4>
          </div>
          <div class="card-body ">
            <mat-form-field style="width:100%">
              <mat-label>To</mat-label>
              <input matInput [matDatepicker]="picker_end" formControlName="end" >
              <mat-datepicker-toggle matSuffix [for]="picker_end"></mat-datepicker-toggle>
              <mat-datepicker #picker_end></mat-datepicker>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="col-md-4 filter">
        <button class="btn btn-primary" (click)="filter()">Filter</button>
      </div>
    </div>
  </form>
</div>


<!--
<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon shad ">
            <i class="material-icons">assignment</i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title ">Employee Test Appointment</h4>
            </div>
            <div class="col-md-6"><button class="btn btn-rose">Add New Request</button></div>
          </div>


        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>
                    S No.
                  </th>
                  <th>
                    Employee Name
                  </th>
                  <th>
                    age
                  </th>
                  <th>
                    Emp Id
                  </th>
                  <th>
                    Dept.
                  </th>
                  <th>
                    Pkg.
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    Date of Request
                  </th>
                  <th>
                    Date of Appointment
                  </th>
                  <th>
                    Last Checkup date
                  </th>
                  <th>
                    Approved/Cancel
                  </th>
                  <th>
                    Checkup <br>
                    Done/Not Done
                  </th>
                  <th>
                    Report Added
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    11be45
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    65
                  </td>
                  <td>
                    Emp-iD
                  </td>
                  <td>
                    3738
                  </td>
                  <td class="">
                    Pkg-1
                  </td>
                  <td class="">
                    Delhi
                  </td>
                  <td class="">
                    12/06/20XX
                  </td>
                  <td class="">
                    12/06/20XX
                  </td>
                  <td class="">
                    12/06/20XX
                  </td>
                  <td class="">
                    Approved
                  </td>
                  <td class="">
                    Done
                  </td>
                  <td class="">
                    Yes
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination pagination-primary">
              <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons">chevron_left</i></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons">chevron_right</i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
-->