<div class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-icon">
          <div class="card-icon shad ">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title ">Your Prescriptions</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Prescription No.
                  </th>
                  <th>
                    Patient Name
                  </th>
                  <th>
                    Doctor Name
                  </th>
                  
                  <th>
                    Appointment No.
                  </th>
                  <th>
                    Download Prescription
                  </th>
                  <th>
                    Note
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor = "let pres of prescriptionTOshow; index as i">
                  <td>{{i + 1}}</td>
                  <td>{{pres.patientName}}</td>
                  <td>{{pres.doctorName}}</td>
                  <td> {{pres.appointmentNum}}</td>
                  <td class="td-actions">
                    <button type="button" class="btn btn-info">
                      <div class="up" (click)="getPdf(pres.orderId)">
                        <!-- <span class="btn btn-info btn-file"> -->
                        <span class="fileinput-new up">
                        <i class="material-icons">
                          arrow_downward
                        </i></span>
                      </div>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>