<div class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-text card-header-warning">
          <div class="card-text">
            <h4 class="card-title">Feedback form</h4>
            <p class="card-category">Please provide valuable feedback.</p>
          </div>
        </div>
        <div class="card-body table-responsive">
          <div class="row">
            <div class="col-md-12 before">
              <h4 class="card-title">FeedBack About Doctor</h4>
              <div class="form-check">
                <mat-radio-group aria-label="Rating">
                  <mat-radio-button value="1">BAD</mat-radio-button>
                  <mat-radio-button value="2">AVERAGE</mat-radio-button>
                  <mat-radio-button value="3">GOOD</mat-radio-button>
                  <mat-radio-button value="4">BETTER</mat-radio-button>
                </mat-radio-group><br />
                <mat-form-field class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12 before">
              <h4 class="card-title">Feedback on Services</h4>
              <div class="form-check">
                <mat-radio-group aria-label="Rating">
                  <mat-radio-button value="1">BAD</mat-radio-button>
                  <mat-radio-button value="2">AVERAGE</mat-radio-button>
                  <mat-radio-button value="3">GOOD</mat-radio-button>
                  <mat-radio-button value="4">BETTER</mat-radio-button>
                </mat-radio-group><br />
                <mat-form-field class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-12 before">
              <h4 class="card-title">HealthCrum Feedback</h4>
              <div class="form-check">
                <mat-radio-group aria-label="Rating">
                  <mat-radio-button value="1">BAD</mat-radio-button>
                  <mat-radio-button value="2">AVERAGE</mat-radio-button>
                  <mat-radio-button value="3">GOOD</mat-radio-button>
                  <mat-radio-button value="4">BETTER</mat-radio-button>
                </mat-radio-group><br />
                <mat-form-field class="example-full-width">
                  <mat-label>Leave a comment</mat-label>
                  <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
                </mat-form-field>
              </div>
            </div>
            <div class="col-md-6">
              <button mat-button class="btn btn-info">submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>