.top-card ,.top-card-header{
    background-image: linear-gradient(orange , #f9d293);
  }
  .mytable-articles{
    width: 100%;
  }
  table{
    width: 100%;
  }
  th{
    font-size: medium;
    font-weight: bolder;
    color: black;
    tr{
      text-align: center;
      
    }
    
  }
  .material-icons{
    color: black;
  }
  i{
    cursor: pointer;
  }