<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-4">
      <div class="border-green">
        <div class="card-header row">
          <div class="card-icon col-4">
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
            <i class="material-icons">grade</i>
          </div>
          <div class="col-6 title-card" >
            <h4 class="card-title m-0">Blood Test</h4>
          </div>
          <div class="col-lg-2 col-2 offers">
            <h3 style="float : right">
              54% Off
            </h3>
          </div>
        </div>
        <div class="card-body" style="padding-bottom : 10px">
          <div class="row">
            <div class="col-md-6">
              <table class="table">
                <tbody>
                    <tr>
                      <td>Includes :</td>
                      <td>{{shownresult.includes}}</td>
                    </tr>
                    <tr>
                      <td>Report Available in :</td>
                      <td>{{shownresult.reportIn }}</td>
                    </tr>
                    <tr>
                      <td>HealthCrum Price :</td>
                      <td>
                        <span class="delete-text">₹{{shownresult.healcrumprice}} </span>
                        <span class="offer-price">₹{{shownresult.offerprice}} </span>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 emoji-class" >
              <h4 style="text-align:center; font-weight : 600">Recommended for</h4>
              <div class="recommended row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4 individual-parent">
                      <div class="row  individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/boy.jpg"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-2">
                          Male
                        </div>
                      </div>
                    </div>
                    <div class="col-4 ml-4 individual-parent">
                      <div class="row individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/girl.png"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-1">
                          Female
                        </div>
                      </div>
                    </div>
                    <div class="col-4 mt-2 individual-parent">
                      <div class="row individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/kid.png"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-1">
                          Kid
                        </div>
                      </div>
                    </div>
                    <div class="col-4 ml-4 mt-2 individual-parent">
                      <div class="row individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/calender.jpg"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-1">
                          5-99 yrs
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin : auto">
            <div class=" col-12 about-package">
              HealthCrum’ 2020 package can help you identify any developing disease so that you can take precautions 
              before it is too late.
               This at-home preventive health checkup consists of 82 important health parameters.
                These include tests like lipid, liver, thyroid, iron, kidney, urine and vitamin test
              . Simply click the button below to book the test now. 10 hours of fasting is mandatory to get accurate results.   
              ndia’s largest health test @ home service, creating a new benchmark for very high quality and honest prices.
               HealthCrum employs state of art 46 touchpoints technology for assuring quality collection and testing across 
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="m-auto">
          <!--
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-info" (click)="booknow()">Book know <mat-icon>arrow_forward</mat-icon></button>
            </div>
            <div class="col-md-4">
              <button class="btn white-button" (click)="getCall()">Get a Call Back</button>  
            </div>
          </div>
          -->
          <button class="btn place-order" (click)="booknow()">Book know <mat-icon>arrow_forward</mat-icon></button>
          <button class="btn white-button" (click)="getCall()">Get a Call Back</button>  
              
        </div>
      </div>
      <div class="row green-backgrouns mt-4">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              Proile/Parameters
            </div>
            <div class="col-4 ">
              No. of parameters
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-6">
          <div class="row">
            <div class="col-4  ">
              Proile/Parameters
            </div>
            <div class="col-4 ">
              No. of parameters
            </div>
          </div>
        </div>
        -->
      </div>
      <div class="row mt-2">
        <div class="col-12" *ngFor="let profile of profiles">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{profile.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{profile.parameters}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul type>
              <li *ngFor="let param of profile.parametersAre">
                {{param}}
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>

      <div class="row mt-4" class="blood-test-checkout">
        <div class="col-12 mt-4" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                About Test
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            With it installed in the code editor you are using, you can type “lorem” and then tab and it will expand into a paragraph of Lorem Ipsum placeholder text. But it can do more!
            You can control how much you get, place it within HTML structure as it expands, and get different bits of it in repeated elements
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Why this test is done
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            With it installed in the code editor you are using, you can type “lorem” and then tab and it will expand into a paragraph of Lorem Ipsum placeholder text. But it can do more!
            You can control how much you get, place it within HTML structure as it expands, and get different bits of it in repeated elements
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Finding of the result
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            With it installed in the code editor you are using, you can type “lorem” and then tab and it will expand into a paragraph of Lorem Ipsum placeholder text. But it can do more!
            You can control how much you get, place it within HTML structure as it expands, and get different bits of it in repeated elements
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Related Disease
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            With it installed in the code editor you are using, you can type “lorem” and then tab and it will expand into a paragraph of Lorem Ipsum placeholder text. But it can do more!
            You can control how much you get, place it within HTML structure as it expands, and get different bits of it in repeated elements
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Additional Information
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            With it installed in the code editor you are using, you can type “lorem” and then tab and it will expand into a paragraph of Lorem Ipsum placeholder text. But it can do more!
            You can control how much you get, place it within HTML structure as it expands, and get different bits of it in repeated elements
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>
