<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-4">
      <div class="border-green">
        <div class="card-header row">
          <div class="card-icon col-sm-4 col-lg-3">
            <i class="material-icons" [ngClass]="ind < shownresult[0].rating? 'active-feedback' : 'passive-feedback' " 
              *ngFor="let star of ratingArray; let ind = index">grade</i>
          </div>
          <div class="col-md-5 title-card" >
            <h4 class="card-title m-0" style="padding-top : 7px">{{shownresult[0].name}} ({{shownresult[0].type}})</h4>
          </div>
          <div class="col-sm-4 col-md-2 offers">
            <h3 class="offer-percent">
              54% Off
            </h3>
          </div>
          <div class="col-sm-6 col-md-2" >
            <img
              src="{{shownresult[0].labLogo}}"
              class="logo"
            >
          </div>

        </div>
        <div class="card-body" style="padding-bottom : 10px">
          <div class="row">
            <div class="col-md-6">
              <table class="table">
                <tbody>
                    <tr>
                      <td>Includes :</td>
                      <td>{{shownresult[0].parameters}}</td>
                    </tr>
                    <tr>
                      <td>Report Available in :</td>
                      <td>{{shownresult[0].reportTAT }}</td>
                    </tr>
                    <tr>
                      <td>Fasting required </td>
                      <td>{{shownresult[0].fasting}}</td>
                    </tr>
                    <tr>
                      <td>HealthCrum Price :</td>
                      <td>
                        <span class="delete-text">₹{{shownresult[0].marketprice}} </span>
                        <span class="offer-price">₹{{shownresult[0].offerprice}} </span>
                      </td>
                    </tr>
                </tbody>
              </table>
            </div>
            <div class="col-md-6 emoji-class" >
              <h4 style="text-align:center; font-weight : 600">Recommended for</h4>
              <div class="recommended row">
                <div class="col-12">
                  <div class="row">
                    <div class="col-4 individual-parent" *ngIf="shownresult[0].recommendedFor.male">
                      <div class="row  individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/boy.jpg"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-2">
                          Male
                        </div>
                      </div>
                    </div>
                    <div class="col-4 ml-4 individual-parent" *ngIf="shownresult[0].recommendedFor.male">
                      <div class="row individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/girl.png"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-1">
                          Female
                        </div>
                      </div>
                    </div>
                    <div class="col-4 mt-2 individual-parent" >
                      <div class="row individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/kid.png"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-1">
                          Kid
                        </div>
                      </div>
                    </div>
                    <div class="col-4 ml-4 mt-2 individual-parent">
                      <div class="row individual">
                        <div class="col-4">
                          <img 
                          src="./assets/img/faces/calender.jpg"
                          class="img-style"
                          >
                        </div>
                        <div class="col-8 mt-1">
                          {{shownresult[0].recommendedage.from}}-{{shownresult[0].recommendedage.to}} yrs
                        </div>
                      </div>  
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin : auto">
            <div class=" col-12 about-package">
              {{shownresult[0].why}}
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="m-auto">
          <!--
          <div class="row">
            <div class="col-md-4">
              <button class="btn btn-info" (click)="booknow()">Book know <mat-icon>arrow_forward</mat-icon></button>
            </div>
            <div class="col-md-4">
              <button class="btn white-button" (click)="getCall()">Get a Call Back</button>  
            </div>
          </div>
          -->
          <button class="btn place-order" (click)="booknow()">Book know </button>
          <button class="btn white-button" (click)="getCall()">Get a Call Back</button>  
              
        </div>
      </div>
      <div class="row green-backgrouns mt-4" *ngIf="shownresult[0].type != 'singleTest'">
        <div class="col-12">
          <div class="row">
            <div class="col-4">
              Proile/Parameters
            </div>
            <div class="col-4 ">
              No. of parameters
            </div>
          </div>
        </div>
        <!--
        <div class="col-md-6">
          <div class="row">
            <div class="col-4  ">
              Proile/Parameters
            </div>
            <div class="col-4 ">
              No. of parameters
            </div>
          </div>
        </div>
        -->
      </div>
      <div class="row mt-2" *ngIf="shownresult[0].type != 'singleTest'">
        <div class="col-12" *ngFor="let profile of profiles">
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{profile.name}}
              </mat-panel-title>
              <mat-panel-description>
                {{profile.parameters}}
              </mat-panel-description>
            </mat-expansion-panel-header>
            <ul type>
              <li *ngFor="let param of profile.parametersAre">
                {{param}}
              </li>
            </ul>
          </mat-expansion-panel>
        </div>
      </div>

      <div class="row mt-4" class="blood-test-checkout">
        <div class="col-12 mt-4" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                About Test
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            {{shownresult[0].why}}  
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Why this test is done
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            {{shownresult[0].why}}  
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Finding of the result
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
           {{shownresult[0].what}}  
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Related Disease
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            With it installed in the code editor you are using, you can type “lorem” and then tab and it will expand into a paragraph of Lorem Ipsum placeholder text. But it can do more!
            You can control how much you get, place it within HTML structure as it expands, and get different bits of it in repeated elements
          </mat-expansion-panel>
        </div>
        <div class="col-12 mt-2" style="padding:0"  >
          <mat-expansion-panel class="green-backgrouns">
            <mat-expansion-panel-header style= "height : 20px">
              <mat-panel-title style="color : white" class="bottom-expansion-title">
                Additional Information
              </mat-panel-title>
              <mat-panel-description>
               
              </mat-panel-description>
            </mat-expansion-panel-header>
            {{shownresult[0].when}}   
          </mat-expansion-panel>
        </div>
      </div>
    </div>
  </div>
</div>
