$grey :#FAFAFA;
$orange : #f37d26;
.delete-text{
    //color: #ababab;
    font-size: 18px;
    display: inline-block;
    text-decoration: line-through;
    margin-right: 8px;
}
.offers {
   // margin-top: -10px;;
    display: inline-block;
   // background-color: white;
    h3{
      display: inline-block;
        padding: 5px;
        background-color: #fff;
        border: 1px solid white;
        margin-bottom: 4px;
        border-radius: 2px 0 17px;
        font-size: 20px;
        font-family: Ubuntu,sans-serif;
        font-weight: 600;
        color: #f27d27;
        margin: 0;
    }
  }
  .offer-price{
    display: inline-block;
    padding-left: 0;
    font-family: Ubuntu,sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: #1a9ca6;
  }
  .container-fluid{
    background-color: $grey;
  }
  .card-icon{
    margin-top: -10px;
    margin-left: -25px;
    color: white;
  }
  .card-header{
    margin: 0;
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
  }
  .card-title{
    color: white;
    font-size: 25px;
    font-weight: 600;
   
  }
  .title-card{
    margin-top: -15px;
  }

  .logo{
    width : 50px;
    right : 20px; 
    top : -10px ; 
    position : absolute
  }
  @media only screen and (max-width : 800px) {
    .title-card{
      margin-top: 0px;
      padding: 0;
    }
    .logo{
      top: -140px;
      right: 2px;
    }
    .offer-percent{
      float: right;
    }
  }

  .green-backgrouns{
    margin: 0;
    color: white;
    //background-color: #199CA6;
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
    padding: 10px 30px;
    border-radius: 5px;
  }
  li{
    color: darkgrey;
    list-style-type: disc;
  }
  .btn{
    border-radius: 20px;
  }
  .place-order{
    color: white;
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
  }
  .white-button{
    color: #107d6e;
    background-color: white;
    border: 1px solid #107d6e;
    
  }
  .mat-expansion-panel-header{
   // background-color: #ECECEC;
    margin-bottom: 4px;
  }
  .about-package {
    color: #8484A4;
  }
  .emoji-class h4 {
    color: #484848;
    font-weight: 500;
    font-family: Ubuntu,sans-serif;
  }
  span {
    text-align: center;
  }
  
  .border-green{
    border: 2px solid #107d6e;
    border-top: none;
  }

  .individual{
    background-color: rgb(82, 184, 113) ;
    padding: 5px;
    border-radius: 20px;
    height: 35px;
    color: white;
  }
  .individual-parent{
    padding-right: 25px;
    padding-bottom: 5px;
    margin-left: 10%;
  }

  .img-style{
    height: 30px;
    width :30px; 
    border-radius : 25px
  }

.bottom-expansion-title{
  font-size: large;
  font-weight: 600;
}

.active-feedback{
  // color: coral;
  background: -webkit-linear-gradient( #BF953F, #FCF6BA);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.passive-feedback{
   color: white
}
