<div style="margin-top: 7em;" class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="page-categories">
        <br>
        <ul class="nav nav-pills nav-pills-warning nav-pills-icons justify-content-center" role="tablist">
          <li class="nav-item">
            <a class="nav-link active show" data-toggle="tab" href="#link7" role="tablist">
              <i class="material-icons">event</i> Recommend Test
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#link8" role="tablist">
              <i class="material-icons">shopping_basket</i> Recommend Equipments
            </a>
          </li>
        </ul>
        <div class="tab-content tab-space tab-subcategories">
          <div class="tab-pane active show" id="link7">
            <div class="card">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                  <i class="material-icons">event</i>
                </div>
                <h4 class="card-title ">Recommend Test</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <form class="navbar-form">
                    <span class="bmd-form-group">
                      <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search by Patient Name...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                    </span>
                  </form>
                  <table class="table">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Patient ID
                        </th>
                        <th>
                          Patient Name
                        </th>

                        <th>
                          Location
                        </th>

                        <th>
                          Details
                        </th>
                        <th>
                          Recommend
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1XXSD
                        </td>
                        <td>
                          XXXXXX
                        </td>

                        <td>
                          Delhi
                        </td>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="td-actions">
                          <button type="button" onclick="demo.showSwal('input-field')" rel="tooltip"
                            class="btn btn-info" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          1XXCD
                        </td>
                        <td>
                          XXXXXX
                        </td>

                        <td>
                          Delhi
                        </td>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="td-actions">
                          <button type="button" onclick="demo.showSwal('input-field')" rel="tooltip"
                            class="btn btn-info" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          1XXFD
                        </td>
                        <td>
                          XXXXXX
                        </td>

                        <td>
                          Delhi
                        </td>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="td-actions">
                          <button type="button" onclick="demo.showSwal('input-field')" rel="tooltip"
                            class="btn btn-info" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination pagination-primary">
                    <li class="page-item">
                      <a class="page-link" href="#"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">5</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#"><i class="material-icons">chevron_right</i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link8">
            <div class="card">
              <div class="card-header card-header-icon card-header-rose">
                <div class="card-icon">
                  <i class="material-icons">event</i>
                </div>
                <h4 class="card-title ">Recommend Equipments</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <form class="navbar-form">
                    <span class="bmd-form-group">
                      <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search by Patient Name...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                          <i class="material-icons">search</i>
                          <div class="ripple-container"></div>
                        </button>
                      </div>
                    </span>
                  </form>
                  <table class="table">
                    <thead class=" text-primary">
                      <tr>
                        <th>
                          Patient ID
                        </th>
                        <th>
                          Patient Name
                        </th>

                        <th>
                          Location
                        </th>

                        <th>
                          Details
                        </th>
                        <th>
                          Recommend
                        </th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>
                          1XXSD
                        </td>
                        <td>
                          XXXXXX
                        </td>

                        <td>
                          Delhi
                        </td>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="td-actions">
                          <button type="button" onclick="demo.showSwal('input-field')" rel="tooltip"
                            class="btn btn-info" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          1XXCD
                        </td>
                        <td>
                          XXXXXX
                        </td>

                        <td>
                          Delhi
                        </td>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="td-actions">
                          <button type="button" onclick="demo.showSwal('input-field')" rel="tooltip"
                            class="btn btn-info" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tr>
                      <tr>
                        <td>
                          1XXFD
                        </td>
                        <td>
                          XXXXXX
                        </td>

                        <td>
                          Delhi
                        </td>
                        <td>
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </td>
                        <td class="td-actions">
                          <button type="button" onclick="demo.showSwal('input-field')" rel="tooltip"
                            class="btn btn-info" data-original-title="" title="">
                            <i class="material-icons">edit</i>
                          </button>
                        </td>

                      </tr>
                    </tbody>
                  </table>
                  <ul class="pagination pagination-primary">
                    <li class="page-item">
                      <a class="page-link" href="#"><i class="material-icons">chevron_left</i></a>
                    </li>
                    <li class="page-item active">
                      <a class="page-link" href="#">1</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">2</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">3</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">4</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#link">5</a>
                    </li>
                    <li class="page-item">
                      <a class="page-link" href="#"><i class="material-icons">chevron_right</i></a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link9">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Legal info of the product</h4>
                <p class="card-category">
                  More information here
                </p>
              </div>
              <div class="card-body">
                Completely synergize resource taxing relationships via premier niche markets. Professionally cultivate
                one-to-one customer service with robust ideas.
                <br>
                <br>Dynamically innovate resource-leveling customer service for state of the art customer service.
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link10">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Help center</h4>
                <p class="card-category">
                  More information here
                </p>
              </div>
              <div class="card-body">
                From the seamless transition of glass and metal to the streamlined profile, every detail was carefully
                considered to enhance your experience. So while its display is larger, the phone feels just right.
                <br>
                <br> Another Text. The first thing you notice when you hold the phone is how great it feels in your
                hand. The cover glass curves down around the sides to meet the anodized aluminum enclosure in a
                remarkable, simplified design.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>