<div class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-6">
          <div class="card card-chart" data-count="0">
            <div class="card-header card-header-info">
              <div class="ct-chart" id="completedTasksChart"></div>
            </div>
            <div class="card-body">
              <div class="card-actions">
                <button type="button" class="btn btn-danger btn-link fix-broken-card">
                  <i class="material-icons">build</i> Fix Header!
                </button>
                <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title=""
                  data-original-title="Refresh">
                  <i class="material-icons">refresh</i>
                </button>
              </div>
              <h4 class="card-title">Blood Health</h4>
              <p class="card-category">Progress in Blood-Health since last month</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> updated 10 min ago
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-chart" data-count="0">
            <div class="card-header card-header-success">
              <div class="ct-chart" id="websiteViewsChart"></div>
            </div>
            <div class="card-body">
              <div class="card-actions">
                <button type="button" class="btn btn-danger btn-link fix-broken-card">
                  <i class="material-icons">build</i> Fix Header!
                </button>
                <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title=""
                  data-original-title="Refresh">
                  <i class="material-icons">refresh</i>
                </button>
              </div>
              <h4 class="card-title">Non Progress</h4>
              <p class="card-category">No Progress in Health since last month</p>
            </div>
            <div class="card-footer">
              <div class="stats">
                <i class="material-icons">access_time</i> updated 10 min ago
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card card-chart" data-count="0">
        <div class="card-header card-header-warning">
          <div class="ct-chart" id="dailySalesChart"></div>
        </div>
        <div class="card-body">
          <div class="card-actions">
            <button type="button" class="btn btn-danger btn-link fix-broken-card">
              <i class="material-icons">build</i> Fix Header!
            </button>
            <button type="button" class="btn btn-info btn-link" rel="tooltip" data-placement="bottom" title=""
              data-original-title="Refresh">
              <i class="material-icons">refresh</i>
            </button>
          </div>
          <h4 class="card-title">Overall Body Progress Report</h4>
          <p class="card-category">Progress in Health since last month</p>
        </div>
        <div class="card-footer">
          <div class="stats">
            <i class="material-icons">access_time</i> updated 10 min ago
          </div>
        </div>
      </div>
    </div>

  </div>
</div>