<div class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12"></div>



    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-success card-header-icon">
          <div class="card-icon shad ">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title ">Pre-Employment Reports</h4>
          <!-- <button style="margin-top: 1em;" class="btn ane">Add New Booking</button> -->
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>
                    S No.
                  </th>
                  <th>
                    Name
                  </th>
                  <th>
                    Pkg
                  </th>
                  <th>
                    Booking <br> Date
                  </th>
                  <th>
                    Request <br> date
                  </th>
                  <th>
                    Appoint. <br> Date
                  </th>
                  <th>
                    Diagnostic <br> Centre
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    HRA <br>Status
                  </th>
                  <th>
                    Checkup <br>Status
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    11be45
                  </td>
                  <td>
                    IDXXX
                  </td>


                  <td class="">
                    ABC
                  </td>
                  <td class="">
                    date
                  </td>
                  <td class="">
                    date
                  </td>
                  <td class="">
                    date
                  </td>
                  <td class="">
                    Centre
                  </td>
                  <td class="">
                    Location
                  </td>
                  <td class="">
                    Pending
                  </td>
                  <td class="">
                    Checkup Pending
                  </td>
                </tr>
              </tbody>
            </table>
            <ul class="pagination pagination-primary">
              <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons">chevron_left</i></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link disabled" href="#"><i class="material-icons">chevron_right</i></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>