<div class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-icon">
          <div class="card-icon shad ">
            <i class="material-icons">assignment</i>
          </div>
          <h4 class="card-title ">Issued Prescriptions</h4>
        </div>
        <div class="card-body">
          <div class="table-responsive">
            <table class="table text-center">
              <thead class=" text-primary">
                <tr>
                  <th>
                    Prescription No.
                  </th>
                  <th>
                    Patient Name
                  </th>

                  <th>
                    Lab
                  </th>
                  <th>
                    Appointment No.
                  </th>
                  <th>
                    Upload Prescription
                  </th>
                  <th>
                    Download Prescription
                  </th>
                  <th>
                    Note
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    11be45
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    Lab-Name
                  </td>
                  <td>
                    3738
                  </td>
                  <td class="td-actions">
                    <button type="button" class="btn btn-info">
                      <div class="up">
                        <!-- <span class="btn btn-info btn-file"> -->
                        <span class="fileinput-new up"><i class="material-icons">add</i></span>
                        <input type="hidden"><input type="file" name="...">
                      </div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button class="btn btn-white btn-round btn-just-icon" mat-raised-button=""><i
                        class="material-icons">save_alt</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>

                  <td class="td-actions">
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon"
                      data-original-title="Add Note" title="">
                      <i class="material-icons">edit</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    109e45
                  </td>
                  <td>
                    Minerva Hooper
                  </td>

                  <td>
                    Lab-Name
                  </td>
                  <td>
                    2789
                  </td>
                  <td class="td-actions">
                    <button type="button" class="btn btn-info">
                      <div class="up">
                        <!-- <span class="btn btn-info btn-file"> -->
                        <span class="fileinput-new up"><i class="material-icons">add</i></span>
                        <input type="hidden"><input type="file" name="...">
                      </div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button class="btn btn-white btn-round btn-just-icon" mat-raised-button=""><i
                        class="material-icons">save_alt</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon"
                      data-original-title="Add Note" title="">
                      <i class="material-icons">edit</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>
                </tr>
                <tr>
                  <td>
                    20984
                  </td>
                  <td>
                    Sage Rodriguez
                  </td>

                  <td>
                    Lab-Name
                  </td>
                  <td>
                    5642
                  </td>
                  <td class="td-actions">
                    <button type="button" class="btn btn-info">
                      <div class="up">
                        <!-- <span class="btn btn-info btn-file"> -->
                        <span class="fileinput-new up"><i class="material-icons">add</i></span>
                        <input type="hidden"><input type="file" name="...">
                      </div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button class="btn btn-white btn-round btn-just-icon" mat-raised-button=""><i
                        class="material-icons">save_alt</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon"
                      data-original-title="Add Note" title="">
                      <i class="material-icons">edit</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>

                </tr>
                <tr>
                  <td>
                    980065
                  </td>
                  <td>
                    Philip Chaney
                  </td>

                  <td>
                    Lab-Name
                  </td>
                  <td>
                    3800
                  </td>
                  <td class="td-actions">
                    <button type="button" class="btn btn-info">
                      <div class="up">
                        <!-- <span class="btn btn-info btn-file"> -->
                        <span class="fileinput-new up"><i class="material-icons">add</i></span>
                        <input type="hidden"><input type="file" name="...">
                      </div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button class="btn btn-white btn-round btn-just-icon" mat-raised-button=""><i
                        class="material-icons">save_alt</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>
                  <td class="td-actions">
                    <button type="button" rel="tooltip" class="btn btn-info btn-round btn-just-icon"
                      data-original-title="Add Note" title="">
                      <i class="material-icons">edit</i>
                      <div class="ripple-container"></div>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>