.type-text{
font-family: monospace;
    text-transform: capitalize;
    border-bottom: 1px dashed #e1e1e1;
}
.lab-contract-file-label {
    position: absolute;
    top: -6px;
    z-index: 9;
    left: 18px;
    background: #ffffff;
    padding: 0 8px;
    font-size: 0.7rem;
  }
  