<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10 mt-4">
      <div class=" mt-0 mat-elevation-z3 bg-white">
        <div class="row top-heading-background">
          <div class="col-12">
            <div class="row">
              <div class="col-md-4 col-lg-3  card-icon mt-1  header-icon ">
                <i class="material-icons" [ngClass]="i < rating ? 'active-feedback' : 'passive-feedback' " 
                *ngFor="let star of ratingArray; let i = index">grade</i>
              </div>  
              <div class="col-md-8 col-lg-7 doctor-name">
                <h2>{{doctor.name}} (Reg.No.{{doctor.registrationNumber}})</h2>
              </div> 
              <div class="logo-div">
                <img
                  src="./assets/img/consulation/logo.png"
                  class="logo"
                >
              </div>  
            </div>
          </div>
        </div> 
        <div class="row">
          <div class="col-md-4 mt-4" style="text-align : center">
            <img src={{doctor.profilepic}} 
              alt="loading..." 
              height="220px" 
              width="220px" 
              class="center img-circle">
              <div class="col-12 mt-4">
              <button class="btn btn-primary btn-book-appointment">
                Book Appointment
                <mat-icon style= "font-size: x-large;">arrow_drop_down_circle</mat-icon>  
              </button>
            </div>
          </div>
          <div class="col-md-8 photo-right">
            <div class="row mt-2 ml-3">
              <div class="col-md-8">
                <div class="row mt-4">
                  <div class="col-4 text-center doctor-points">
                    {{doctor.speciality | titlecase }}
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-4 text-center">
                    <label class="doctor-points"  *ngFor="let deg of doctor.qualification">{{deg | uppercase}}</label>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-3 text-center doctor-points">
                  
                  {{doctor.experience}} years</div>
                  
                </div>
                <div class="row mt-3">
                  <div class="col-4 text-center doctor-points">
                    
                  {{doctor.location.city | titlecase}}
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-4 text-center doctor-points">
                    5 Km
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-3 text-center doctor-points">
                    <img
                      src="./assets/img/consulation/blood-test/location.jpg"
                      class="horizontal-location"
                    >
                  </div>
                </div>
              </div>
            </div>  

            <div class="row mt-1">
              <div class="col-12">
                <label class="about-me-label">About Me</label>
              </div>
              <div class="col-12">
                <label style="padding-right : 20px">
                 {{doctor.about}}
                </label>  
              </div>
            </div>
          </div>

        </div>
        
        <div class="row">
          <div class="col-12">
            <div class="row mt-4">
              <div class="col-md-6 consultation-horizontal">
                <div class="row consultation-div-horizontal mr-1"> 
                  <div class="col-12 consultation-port-new">
                    <div class="row"> 
                      <div class="col-md-9">
                        <div class="row">
                          <div class="col-12">
                            <label class="consultation-label-top">
                              BOOK APPOINTMENT
                            </label>
                          </div>
                          <div class="col-12">
                            <label class="consultation-label-bottom">
                              Click Preferred Mode of Consultation
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-3">
                        <div class="row">
                          <div class="col-12"  >
                            <label class="fee-in-consultation">
                                Rs.{{doctor.consultationFees}}/-
                            </label>
                          </div>
                        </div>
                      </div>
                    </div> 
                  </div>
                  <div class="col-12" style="padding-bottom : 0px ; padding-top : 0px">
                    <div class="row book-appointment-row" >
                      <div class="col-3 padding-none">
                        <div class="consultation-border cursor-pointer text-center" (click)="openDialog('video', i)">
                          <div class="center">
                            <mat-icon>videocam</mat-icon>
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.video.from}}-{{doctor.consultationTiming.video.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3 padding-none">
                        <div  class="consultation-border cursor-pointer text-center" (click)="openDialog('telephone', i)">
                          <div  class="center">
                            <mat-icon>perm_phone_msg</mat-icon>
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.tele.from}}-{{doctor.consultationTiming.tele.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3 padding-none">
                        <div  class="consultation-border cursor-pointer text-center" (click)="openDialog('physical', i)">
                          <div class="center">
                            <mat-icon>phone_android</mat-icon>
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.physical.from}} - {{doctor.consultationTiming.physical.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3 padding-none">
                        <div  class="consultation-border cursor-pointer text-center" (click)="openDialog('chat', i)">
                          <div class="center">
                            <mat-icon>person_add</mat-icon>
                          </div>
                          <label class="image-data ">
                            8am-6pm
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class="col-12 emergency-section">
                    <div class="row" style="border-top : 1px solid green">
                      <div class="col-12">
                        <div class="row ">
                          <div class="col-6 col-lg-4 mt-2 ">
                            <img
                              src="./assets/img/consulation/blood-test/emergency1.jpg"
                              class="emergency-image-horizontal"
                            >
                          </div>
                          <div class="col-6 col-lg-5 mt-2">
                            <div class="row">
                              <div class="col-12 emergency-fee mt-1">
                                <label class="emergency-fee color-black">Fee : {{doctor.emergencyFees}}/-</label>
                              </div>
                              <div class="col-12 emergency-time-div " style="margin-top : -5px">
                                <label class="emergency-time color-black">24 hrs</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-1"></div>
              <div class="col-md-5">
                <div class="row available" style="margin : 0">
                  <div class="col-11 available-heading" >
                    <label>Available days</label>
                  </div>
                  <div class="col-11 available-details">
                    <mat-chip-list aria-label="daysAvailable">
                      <mat-chip  *ngFor="let days of doctor.days" >{{days}}</mat-chip>
                    </mat-chip-list>
                  </div>
                </div>
                <div>
              </div>
            </div>
          </div>
        </div>

        <!--
        <div class="row m-auto">
          <div class="col-11 mt-4 ml-4 mr-4">
            <mat-tab-group mat-stretch-tabs>
              <mat-tab label="General Info"> 
                <label class="mt-4">
                  About : Dr. Pankaj Manoria is an Interventional Cardiologist and Director of the 
                  Cardiac Cath Lab at Manoria Heart & Critical Care Hospital in Bhopal. He started practicing in 2006 and has performed over 12,000 Angiographies and 2,000 Ang
                  During this time, Dr. Manoria has developed special skills in doing cardiac interventions through the transradial route.
                </label>
              </mat-tab>
              <mat-tab label="Background"> 
                <label class="mt-4">
                  About : Dr. Pankaj Manoria is an Interventional Cardiologist and Director of the 
                  Cardiac Cath Lab at Manoria Heart & Critical Care Hospital in Bhopal. He started practicing in 2006 and has performed over 12,000 Angiographies and 2,000 Ang
                  During this time, Dr. Manoria has developed special skills in doing cardiac interventions through the transradial route.
                </label>
              </mat-tab>
            </mat-tab-group>
            
          </div>
        </div>
        -->
        <div class="col-12">
          <div class="">
            <div class="container mt-5">
              <ngx-slick-carousel class="customer-logos " [config]="slideConfig">
                <div ngxSlickItem *ngFor="let pic of doctor.pictures " class="slide">
                 hello
                  <img 
                    src="{{pic}}"
                    class="img-gallary"
                  >
                </div>
              </ngx-slick-carousel>
            </div>
          </div>
          <div class="col-12 mt-3 mb-3">
            <div class="row feedback-heading">
              <div class="col-12 ml-2">
                <h4> Reviews/Feedbacks </h4>
              </div>
            </div>
            <div class="row">
              <div class="col-12 mt-3">
                <mat-expansion-panel>
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      View Doctor feedback
                    </mat-panel-title>
                    <mat-panel-description>
                      5
                    </mat-panel-description>
                  </mat-expansion-panel-header>
                  <div class=" mt-2">     <!--apply loop here-->
                    <div class="row">
                      <div class="col-4">1. Harry</div>
                      <div class="col-6">4 / 5</div>
                    </div>
                    <div class="row">
                      <div class="col-12 ml-3 mt-1">
                        This is very good doctor
                      </div>
                    </div>
                  </div>
                  <mat-divider></mat-divider>
                  <div class=" mt-2 "> 
                    <div class="row ">
                      <div class="col-4">2. Harry</div>
                      <div class="col-6">4 / 5</div>
                    </div>
                    <div class="row">
                      <div class="col-12 ml-3 mt-1">
                        This is very good doctor
                      </div>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
