$grey : #F5F8FA;
$blue : #00AEC5;
$bg : #eff4f7;
$yellow :#E87528;

@mixin green-gradient {
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
}
@mixin  blue-gradient {
    background-image: linear-gradient(#00BCD4, #2ee0f4);
}
@mixin  blue-gradient-triple {
    background-image: linear-gradient(to right, #00BCD4, #6fe5f2, #00BCD4); 
}
@mixin consultation-filter-gradient {
    background: linear-gradient(to right, #17c0d3, #027e8e);
}

.container-fluid  {
    background-color: $grey;
}
.img-circle {
    border-radius: 50%;
}
.doctor-name h2{
    //color : $blue;
    color: white;
    font-weight: 600;
    //text-align: center;
    font-family: cursive;
    font-size: x-large;
}
table{
    border: none !important;
}
.btn{
    width: 80%;
}
.btn-info{
    background: linear-gradient(to right, #17c0d3, #027e8e);
    @include consultation-filter-gradient();
}
// .btn-primary {
//     background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
// }
.btn-book-appointment{

    color: $blue;
    background-color: white;
    border: 1px solid $blue;
    &:hover{
        @include blue-gradient();
        color: white;
    }
}

@media screen and (min-width : 800px) {
}
@media screen and (min-width : 800px) {
}
.active-feedback{
    // color: coral;
   //  color: #E87528;
    // color: #BF953F;
    // color : #FCF6BA;
     background: -webkit-linear-gradient( #BF953F, #FCF6BA);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
 .passive-feedback{
     //color: #f7e5c3
  //  color : #FCF6BA;
    color: white;
    //font-size: 72px;
    
}


.horizontal-location{
    width: 45px;
    cursor: pointer;
}
.consultation-horizontal{
    padding-right: 0;
    padding-left: 35px;
}
@media only screen and (max-width: 600px) {
    .consultation-horizontal{
        padding-right: 35px;
    }
}

.consultation-div-horizontal, .consultation-div {
    //margin-top : -15px;
    border: 1px solid green;
    border-radius: 10px;
    .consultation-heading{
        color: white;
       // background: linear-gradient(to right, #17c0d3, #027e8e);
        background-image: linear-gradient(#00BCD4, white);
        margin-left: -15px;
        padding: 5px;
    }
}
.consultation-port-new{
    @include consultation-filter-gradient();
    
    border-radius: 10px;
    //padding: 5px;
     .consultation-label-top{
      //   color: white;
         margin-left: 10px;
     }
     label{
         color: white;
     }
 }
 .consultation-image-horizontal{
    width: 35px;
}
.emergency-image-horizontal{
    width: 100px;
}

.available-heading{

    @include consultation-filter-gradient();
    margin: 5px;
    border-radius: 10px;
    padding: 5px;
    label{
        color: white;
        font-size: x-large;
    }
}
.select-slot{
    padding-left: 10%;
}
.image-data{
    color: black;
    font-size: smaller;
}
.consultation-border{
    border: 1px solid black;
}
.color-black{
    color: black;
}

.simple-border{
    border: 1px solid black;
}
.img-gallary{
    width: 220px;
}



.slicker-simple{
    padding: 0;
}
.top-heading-background{
    background-color: #deebdd;
   // background-image: linear-gradient(315deg, #deebdd 0%, #bbdbbe 74%);
  // @include green-gradient(); 
   //background: linear-gradient(to right, rgb(82, 184, 113), #107d6e,rgb(82, 184, 113),);
  // background-image: linear-gradient(to right, #6cb782,#107d6e, #6cb782);
 // background-image: linear-gradient(to right, #00BCD4, #6fe5f2); 
  @include consultation-filter-gradient();
  margin: 0;
    //padding-top: 5px;
    padding-bottom: 10px;
    .logo-div{
        position: absolute;
        right: 0;
        top: 0;
        .logo{
            width: 50px;
        }
    }
}
.fee-in-consultation{
    font-size: large;
}

@media screen and (max-width : 770px) {
    .photo-right{
        padding-left: 15%;
    }
}

.about-me-label{
    color: black;
    text-decoration: underline;
}

.doctor-points {
    font-size: large;
    
}