$grey : #F5F8FA;
$blue : #00AEC5;
.container-fluid  {
    background-color: $grey;
}
img {
    border-radius: 50%;
}
.doctor-name h2{
    color : $blue;
    font-weight: 600;
    text-align: center;
}
table{
    border: none !important;
}
.btn{
    width: 100%;
}
.btn-info{
    background: linear-gradient(to right, #17c0d3, #027e8e);
}
.btn-primary {
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
}