
<div class="ml-2" style="text-content : center" class="row mat-elevation-z8">
 <button class="col-12 btn " [ngClass] = "userclass"
   mat-raised-button>Reason to put in {{userZone}}</button>
</div>

<div class="row mt-4">

  <div class="col-4">
    <nav class="nav flex-column">
      <a class="nav-link active" (click)="getdetails('lifestyle')" class="btn btn-info btn-sm">Life Style</a>
      <a class="nav-link" (click)="getdetails('physical')" class="btn btn-info btn-sm">Physical</a>
      <a class="nav-link" (click)="getdetails('family')" class="btn btn-info btn-sm">Family</a>
      <a class="nav-link" (click)="getdetails('others')" class="btn btn-info btn-sm">Others</a>
    </nav>
  </div>
  
  <div class="col-7 mt-3">
    <div *ngFor='let value of currentdata; let i = index'> 
      <mat-checkbox labelPosition="before" 
      (change)="checkCheckBoxvalue(value.quest, value.ans, $event.checked)">
      {{i + 1}} : {{value.ques}}  {{value.ans}}</mat-checkbox>
    </div>
    <div *ngIf = 'currentdata.length > 0' class="button-class">
      <button class="btn btn-primary btn-sm last-button"  (click)="submit()">Submit</button>
    </div>
  </div>
  
</div>