<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active text-white" href="#Labs" data-toggle="tab">
                      <i class="material-icons">code</i> Registred Labs
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link text-white" href="#add-Lab" data-toggle="tab">
                      <i class="material-icons">add</i> Add New Lab
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="Labs">
                <table class="table">
                  <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>2023</td>
                      <td>Dummy Clinic</td>
                      <td>Dental clinic</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>2023</td>
                      <td>Dummy Clinic</td>
                      <td>Blood Test</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>2023</td>
                      <td>Dummy Clinic</td>
                      <td>Health Chekup</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>2023</td>
                      <td>Dummy Clinic</td>
                      <td>X-ray,ECG etc.</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="add-Lab">
                <div class="card-body">
                  <form [formGroup]="labFormGroup">

                    <div class="row form-top-line my-4 py-4">
                      <p>Lab Basic Details</p>
                      <div class="row">
                        <div class="col-md-3" style="display: flex;justify-content: center;">
                          <div class="fileinput logofileinput fileinput-new text-center" data-provides="fileinput">
                            <div class="fileinput-new thumbnail img-raised">
                              <img src="../../../assets//img/logo-placeholder.png" rel="logo" alt="...">
                            </div>
                            <div class="fileinput-preview fileinput-exists thumbnail img-raised"></div>
                            <div style="display:flex">
                              <span class="btn btn-raised btn-round btn-default btn-file btn-sm">
                                <span class="fileinput-new">Select logo</span>
                                <span class="fileinput-exists">Change logo</span>
                                <input type="file" name="logo" formControlName="lab_logo" />
                              </span>
                              <button class="btn btn-danger btn-round fileinput-exists btn-sm"
                                data-dismiss="fileinput"><i class="fa fa-times"></i> Remove logo</button>
                            </div>
                          </div>
                        </div>
                        <div class="col-md-8 my-auto">
                          <div class="row">
                            <div class="col-md-6">
                              <mat-form-field class="full-width">
                                <mat-label>Lab Name</mat-label>
                                <input matInput formControlName="lab_name">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Lab Certification Type</mat-label>
                                <mat-select formControlName="lab_certification">
                                  <mat-option [value]="cert" *ngFor="let cert of certifications">{{cert}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-6">
                              <mat-form-field appearance="outline" class="full-width">
                                <mat-label>Contract Number</mat-label>
                                <input matInput type="text" formControlName="contract_number" name="contract_number"
                                  placeholder="Contract Number">
                              </mat-form-field>
                            </div>
                            <div class="col-md-6" style="position: relative;">
                              <label class="lab-contract-file-label ">Lab Contract File</label>
                              <input type="file" formControlName="contract_file" (change)="labContractChange($event)"
                                class="col-md-12" style="padding: 14px 5px 5px 5px;">
                            </div>
                          </div>
                        </div>
                      </div>

                    </div>


                    <div class="row form-top-line my-4 py-4">
                      <p>Lab Address</p>
                      <div class="col-md-4">
                        <div class="col-md-12">
                          <mat-form-field class="full-width">
                            <mat-label>City</mat-label>
                            <input matInput #postalCode placeholder="lab_city" formControlName="lab_city" name="city">
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="full-width">
                            <mat-label>State</mat-label>
                            <input matInput placeholder="Ex. Maharastra" formControlName="lab_state" name="lab_state">
                          </mat-form-field>
                        </div>
                        <div class="col-md-12">
                          <mat-form-field class="full-width">
                            <mat-label>Address</mat-label>
                            <textarea matInput formControlName="lab_address" name="lab_address"></textarea>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="col-md-8">
                        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                          [zoomControl]="false" (mapClick)="mapClicked($event)" style="height:300px">
                          <agm-marker (markerClick)="clickedMarker(marker.label, 1)" [latitude]="marker.lat"
                            [longitude]="marker.lng" [label]="marker.label" [markerDraggable]="marker.draggable"
                            (dragEnd)="markerDragEnd(marker, $event)"></agm-marker>
                        </agm-map>
                      </div>

                    </div>

                    <div class="row form-top-line my-4 py-4">
                      <p>Lab Working day and time</p>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Start Working Day</mat-label>
                          <mat-select formControlName="lab_working_from">
                            <mat-option [value]="day" *ngFor="let day of days">{{day}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-md-3">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>End Working Day</mat-label>
                          <mat-select formControlName="lab_working_to">
                            <mat-option [value]="day" *ngFor="let day of days">{{day}}</mat-option>
                          </mat-select>
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Opening Time</mat-label>
                          <input matInput type="time" min="00:00" max="24:00" formControlName="lab_open_time">
                        </mat-form-field>
                      </div>
                      <div class="col-sm-6 col-md-3">
                        <mat-form-field appearance="outline" class="full-width">
                          <mat-label>Closing Time</mat-label>
                          <input matInput type="time" min="00:00" max="24:00" formControlName="lab_close_time">
                        </mat-form-field>
                      </div>
                    </div>
                    <div class="form-top-line my-4 py-4">
                      <p>Lab Pictures</p>
                      <div class="row">
                        <div class="col-12">
                          <nz-upload nzAction="http://localhost:3000/api/upload-single" nzListType="picture-card"
                            [(nzFileList)]="fileList" [nzShowButton]="fileList.length < 8" [nzPreview]="handlePreview"
                            [nzMultiple]="true">
                            <i class="material-icons">add</i>
                            <div class="ant-upload-text">Upload</div>
                          </nz-upload>
                          <nz-modal [nzVisible]="previewVisible" [nzContent]="modalContent" [nzFooter]="null"
                            (nzOnCancel)="previewVisible = false">
                            <ng-template #modalContent>
                              <img [src]="previewImage" [ngStyle]="{ width: '100%' }" />
                            </ng-template>
                          </nz-modal>
                        </div>
                      </div>

                    </div>
                    <div class="row">
                      <div class="col-12 col-mb-5 mb-3">
                        <button class="btn btn-warning" (click)="bookappointment()"
                          [disabled]="labFormGroup.invalid">Add Lab</button>
                      </div>
                    </div>
                  </form>
                </div>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
</div>