<mat-card>
  <mat-tab-group>
    <mat-tab label="Webinar Appointments">
      <!-- <app-no-data></app-no-data> -->
      <nz-table #editRowTable nzBordered [nzData]="listOfStateData">
        <thead>
          <tr>
            <th nzCustomFilter>
              States
              <button [(nzVisible)]="stateVisible" class="btn btn-link m-0 p-0" style="float:right" nz-button
                nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu" nzPlacement="bottomRight">
                <i class="material-icons">search</i>
              </button>

            </th>
            <th>City
              <button [(nzVisible)]="cityVisible" class="btn btn-link m-0 p-0" style="float:right" nz-button nz-dropdown
                nzTrigger="click" [nzDropdownMenu]="menu2" nzPlacement="bottomRight">
                <i class="material-icons">search</i>
              </button>
            </th>
            <th>Address
              <button [(nzVisible)]="addressVisible" class="btn btn-link m-0 p-0" style="float:right" nz-button
                nz-dropdown nzTrigger="click" [nzDropdownMenu]="menu3" nzPlacement="bottomRight">
                <i class="material-icons">search</i>
              </button>
            </th>
            <th>Areas</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of editRowTable.data" class="editable-row">
            <td> {{ data.state}}</td>
            <td>
              {{ data.city }}
            </td>
            <td>
              {{ data.address }}
            </td>
            <td>
              <div class="editable-cell" [hidden]="editId === data.id" (click)="startEdit(data.id)">
                <span *ngIf=" data.area == ''" class="text-danger">Not Set</span>
                <span *ngIf="data.area != ''">{{ data.area }}</span>
              </div>
              <input *ngIf="data.area != '' " [hidden]="editId !== data.id" type="text" nz-input [(ngModel)]="data.area"
                (blur)="stopEdit()" class="col-md-6" />
              <input *ngIf=" data.area == '' " [hidden]="editId !== data.id" type="text" nz-input
                [(ngModel)]="data.area" (blur)="stopEdit()" class="col-md-6" placeholder="Not set" />
            </td>

            <td>
              <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data._id)">Delete</a>
            </td>
          </tr>
        </tbody>
      </nz-table>
      <nz-dropdown-menu #menu="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search state" [(ngModel)]="searchValue" />
            <button (click)="search()" class="btn btn-primary">
              Search
            </button>
            <button class="btn btn-danger" (click)="reset()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
      <nz-dropdown-menu #menu2="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search City" [(ngModel)]="searchCity" />
            <button (click)="searchCities()" class="btn btn-primary">
              Search
            </button>
            <button class="btn btn-danger" (click)="resetCity()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>

      <nz-dropdown-menu #menu3="nzDropdownMenu">
        <div class="ant-table-filter-dropdown">
          <div class="search-box">
            <input type="text" nz-input placeholder="Search Address" [(ngModel)]="searchAddress" />
            <button (click)="searchAddresses()" class="btn btn-primary">
              Search
            </button>
            <button class="btn btn-danger" (click)="resetAddress()">Reset</button>
          </div>
        </div>
      </nz-dropdown-menu>
    </mat-tab>
    <mat-tab label="Our Webinars"> Content 2 </mat-tab>
    <mat-tab label="Add new Webinar"> Content 3 </mat-tab>
  </mat-tab-group>
</mat-card>