<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login-2">
        <h1>Please login to Healthcrum!</h1>
        <ngx-flip [flip]="flipDiv">
          <div front class="front" >
            <form>
              <div class="box_form clearfix">
                <div class="box_login">

                  <button (click)="signInWithGoogle()" class="btn btn-social btn-google w-75 mb-3">
                    <span>
                      <fa-icon [icon]="google" class="fa-google-icon"></fa-icon>
                    </span> <span>Sign in with Google</span></button>
                  <button (click)="signInWithFB()" class="btn btn-social btn-facebook w-75">
                    <span>
                      <fa-icon [icon]="fb" class="fa-facebook-icon"></fa-icon>
                    </span> <span>Sign in with Facebook</span>
                  </button>

                </div>
                <div class="box_login last">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Login Id</mat-label>
                    <input type="text" matInput [(ngModel)]="user_email" name="user_email"
                      placeholder="userid / email / phone number" required>
                  </mat-form-field>
                  <!-- <div class="form-group">
                    <input type="email" class="form-control" placeholder="userid / email / phone number"
                      [(ngModel)]="user_email" name="user_email">
                  </div> -->
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="user_pass" name="user_pass" required>
                  </mat-form-field>
                  <div class="form-group">

                    <a href="#" class="forgot" data-toggle="modal"
                     
                     [attr.data-target]="user_email ? '#forgotModal' : ''" 
                      style="cursor : pointer"
                      (click)="forgetpass()"
                      >

                     <small>Forgot password?</small></a>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Login" (click)="loginLocal()">
                  </div>
                </div>
              </div>
            </form>
          </div>
            
          <div class="back"  *ngIf="!forgotPass" back>
            <form>
              <div class="box_form clearfix">
                <div class="box_login">

                  <button  class="btn btn-social btn-facebook w-75 mb-3" 
                  [ngClass]="bynumber ? 'btn-number-click' : 'btn-number'"
                  (click)="verifyByNumber()">
                    <span>
                      <mat-icon> mobile_screen_share</mat-icon>
                      <!--<fa-icon [icon]="fb" class="fa-facebook-icon"></fa-icon>-->
                    </span> <span>Verify by number</span>
                  </button>

                  <button  class="btn btn-social btn-google w-75" 
                  [ngClass]="!bynumber ? 'btn-email-click' : 'btn-email'"
                  (click)="verifyByEmail()">
                    <span>
                      <mat-icon> email</mat-icon>
                      <!--<fa-icon [icon]="google" class="fa-google-icon"></fa-icon>-->
                    </span> <span>Verify by Email</span></button>
                  <div class="form-group mt-3">
                    <a class="forgot" (click)="flip()" style="cursor : pointer">
                      <small>GO Back</small>
                    </a>
                  </div>
                </div>

                <div class="box_login last">

                  <mat-form-field class="full-width" *ngIf="bynumber"
                    appearance="outline">
                   
                    <input type="text" matInput [(ngModel)]="userMobile" name="user_number"
                      placeholder="Phone Number" >
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="!bynumber"
                    appearance="outline">
                   
                    <input type="text" matInput [(ngModel)]="userEmail" name="user_email"
                      placeholder="Email" >
                  </mat-form-field>
                  
                  <div class="form-group" *ngIf="!otpSend">
                    <input class="btn btn-success" type="submit" value="Send OTP" (click)="sendOTP()">
                  </div>

                  <div *ngIf="otpSend">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>OTP</mat-label>
                      <input type="number" matInput placeholder="Enter OTP" [(ngModel)]="myotp" required>
                    </mat-form-field>
                    <div class="form-group">

                      <a class="forgot" (click)="sendOTP()" style="cursor : pointer">
                        <small>Resend OTP </small>
                      </a>
                    </div>
                    <div class="form-group">
                      <input class="btn btn-success" type="submit" value="Verify" (click)="verify()">

                    </div>
                  </div>

                </div>
              </div>
            </form>
          </div>

          <div class="back"  *ngIf="forgotPass" back>
            <form>
              <div class="box_form clearfix">
                <div class="box_login">

                  <button  class="btn btn-social btn-facebook w-75 mb-3" 
                  [ngClass]="bynumber ? 'btn-number-click' : 'btn-number'"
                  (click)="verifyByNumber()">
                    <span>
                      <mat-icon> mobile_screen_share</mat-icon>
                      <!--<fa-icon [icon]="fb" class="fa-facebook-icon"></fa-icon>-->
                    </span> <span>Get otp by Number</span>
                  </button>

                  <button  class="btn btn-social btn-google w-75" 
                  [ngClass]="!bynumber ? 'btn-email-click' : 'btn-email'"
                  (click)="verifyByEmail()">
                    <span>
                      <mat-icon> email</mat-icon>
                      <!--<fa-icon [icon]="google" class="fa-google-icon"></fa-icon>-->
                    </span> <span>Link by Email</span></button>
                  <div class="form-group mt-3">
                    <a class="forgot" (click)="flip()" style="cursor : pointer">
                      <small>GO Back</small>
                    </a>
                  </div>
                </div>
                
                
                <div class="box_login last" *ngIf="!otpConfirmed">

                  <mat-form-field class="full-width" *ngIf="bynumber"
                    appearance="outline">
                   
                    <input type="number" matInput [(ngModel)]="forgotMobile" name="user_number"
                      placeholder="Enter phone number" >
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="!bynumber"
                    appearance="outline">
                   
                    <input type="text" matInput [(ngModel)]="forgotEmail" name="user_email"
                      placeholder="Enter email">
                  </mat-form-field>
                  
                  <div class="form-group" *ngIf="!otpSend">
                    <input class="btn btn-success" type="submit" value="Send OTP" (click)="sendOTP()">
                  </div>

                  <div *ngIf="otpSend">
                    <mat-form-field class="full-width" appearance="outline">
                      <mat-label>OTP</mat-label>
                      <input type="number" matInput placeholder="Enter OTP" [(ngModel)]="myotp" required name="forgotOtp">
                    </mat-form-field>
                    <div class="form-group">

                      <a class="forgot" (click)="sendOTP()" style="cursor : pointer">
                        <small>Resend OTP </small>
                      </a>
                    </div>
                    <div class="form-group">
                      <input class="btn btn-success" type="submit" value="Verify" (click)="verify()">
                    </div>
                  </div>
                </div>

                <div class="box_login last" *ngIf="otpConfirmed">
                  <mat-form-field class="full-width" *ngIf="bynumber"
                    appearance="outline">
                   
                    <input type="password" matInput [(ngModel)]="newPassword" name="newPass"
                      placeholder="Enter new password">
                  </mat-form-field>

                  <mat-form-field class="full-width" *ngIf="bynumber"
                    appearance="outline">
                   
                    <input type="password" matInput [(ngModel)]="newPasswordConfirm" name="newPassConfirm"
                      placeholder="Confirm password" >
                  </mat-form-field>
                  
                  <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Change" (click)="changePassword()">
                  </div>
                </div>
              </div>
            </form>

          </div>
        </ngx-flip>
          
        
        <p class="text-center link_bright">Do not have an account yet? <a routerLink="/signup"><strong
              style="color: #fff700;">Register
              now!</strong></a></p>
      </div>
      <!-- /login -->
    </div>
  </div>
</main>
<!-- Modal -->

<!--
<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="card-title text-white" id="forgotModalLabel">Password Reset Form</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter OTP</mat-label>
              <input type="text" matInput [(ngModel)]="forgot_email" name="forgot_email" placeholder="Enter OTP">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Enter New password</mat-label>
              <input type="text" matInput [(ngModel)]="forgot_email" name="forgot_email" placeholder="Enter New password">
            </mat-form-field>
          </div>
          <div class="col-12">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Confirm password</mat-label>
              <input type="text" matInput [(ngModel)]="forgot_email" name="forgot_email" placeholder="Confirem password">
            </mat-form-field>
          </div>
          <div class="col-12 text-center mt-3">
            
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button (click)="sendResetLink()" class="btn btn-primary">
         
          send link
        </button>
      </div>
    </div>
  </div>
</div>
-->