
<div class="container-fluid">

  <div class="row hra-details pb-4">
    <div class="col-md-2 col-sm-4 mt-4" >
      <mat-card class="example-card mat-card " style="height:100%" (click)="showlastconsultant()">
          <mat-card-header>
              <mat-card-title >Last Consultant</mat-card-title>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer">
        <mat-card class="example-card mat-card " style="height:100%" (click)="investigation()">
            <mat-card-header>
                    <mat-card-title>Investigation</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer">
      <mat-card class="example-card mat-card " style="height:100%">
          <mat-card-header>
              <mat-card-title >Condition / Symptemic</mat-card-title>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer">
      <mat-card class="example-card mat-card " style="height:100%">
          <mat-card-header>
              <mat-card-title>Medications</mat-card-title>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer" mat-icon-button>
      <mat-card class="example-card mat-card " style="height:100%" (click)="showprofile()">
          <mat-card-header>
              <mat-card-title>EHR</mat-card-title>
          </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer" mat-icon-button>
        <mat-card class="example-card mat-card " style="height:100%" (click)="moveToZone()">
            <mat-card-header>
                <mat-card-title>Analysis</mat-card-title>
            </mat-card-header>
        </mat-card>
    </div>
  </div>

  <mat-sidenav-container>
      <mat-sidenav mode="side" [(opened)]="showPriscribtion" position="end">
        
          <app-investigation></app-investigation>
      </mat-sidenav>
      <div class="master appoint container-fluid main-container">
          <div class="row mt-3" >
            <div class="col-3 ml-0" >
              <mat-accordion >
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Prevent Disease</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                            Here describe all disease from major to minor
                        </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Prevent Medicine</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                            Here describe all current medicine
                        </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Allergy</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                            Here describe the alergy here
                        </mat-panel-description>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>Others</mat-panel-title>
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                            Any other aspect describe
                        </mat-panel-description>
                </mat-expansion-panel>
              </mat-accordion>
            </div>
            <form class="middle-table  col-8 ml-1" [formGroup]="formFirst">
              <div>
                  <table class="mid-table" style="width :100%">
                      <tr class="color row">
                          <th class="col-2 col-lg-3"></th>
                          <th class="col-7 col-lg-6"></th>
                          <th class="col-3 col-lg-3 ">Remarks</th>
                      </tr>
                      <tr class="row" formGroupName="problems">
                          <td class="color col-2">Problems</td>
                          <td class="col-7">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName='description'>
                              </mat-form-field>
                          </td>
                          <td class="col-3">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName='remarks'>
                              </mat-form-field>
                          </td>
                      </tr>
                      <tr class="row" formGroupName="symptoms">
                          <td class="color col-2">Symptoms</td>
                          <td class="col-7">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName='description' >
                              </mat-form-field>
                          </td>
                          <td class="col-3">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName='remarks'>
                              </mat-form-field>
                          </td>
                      </tr>
                      <tr class="row" formGroupName='finding'>
                          <td class="color col-2">Finding</td>
                          <td class="col-7">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName="description">
                              </mat-form-field>
                          </td>
                          <td class="col-3">
                              <mat-form-field class="example-full-width">
                                  <input matInput width="100%" formControlName='remarks'>
                              </mat-form-field>
                          </td>
                      </tr>
                      <tr class="row" formGroupName='recommendation'>
                          <td class="color col-2">Recom- mendation</td>
                          <td class="col-7">
                              <mat-form-field class="example-full-width">
                                  <input matInput width="100%" formControlName='description'>
                              </mat-form-field>
                          </td>
                          <td class="col-3">
                              <mat-form-field class="example-full-width">
                                  <input matInput formControlName='remarks'>
                              </mat-form-field>
                          </td>
                      </tr>
                  </table>    
                  <button class="btn btn-primary btn-sm" [disabled]='!formFirst.valid '(click)="submitFirstForm()">Submit</button>
              </div>
            </form>
          </div>
      </div>
  </mat-sidenav-container>
    <div class="mt-4 recommendation-bottom">
      <form [formGroup]="formSecond2">
        <div class="row"> 
          <div class="col-10">
            <label>
              <h4>Recommendation For patient</h4>
            </label>
          </div>
          <div >
            <button class="btn btn-warning btn-sm" (click)="addmedicineButtonClick()">Add</button>
          </div>
        </div>
        <div formArrayName="medication">
          <div *ngFor = "let element of formSecond2.get('medication').controls; let i = index">
            <div class="row mt-2" [formGroupName]= "i">
              <div class="col-2 mt-3" >
                Medication
              </div>
              <div class="col-2 ml-3">
                <mat-form-field>
                  <mat-label>Medicine</mat-label>
                  <input matInput class="example-full-width" formControlName='medicine'>
                </mat-form-field>
              </div>
              <div class="col-2 ml-3">
                <mat-form-field>
                  <mat-label>Dose</mat-label>
                  <input matInput class="example-full-width" formControlName='dose'>
                </mat-form-field>
              </div>  
              <div class="col-2 ml-3">
                <mat-form-field>
                  <mat-label class="example-full-width">Timing</mat-label>
                  <input matInput formControlName='timing'>
                </mat-form-field>
              </div>
              <div class="col-2 ml-3">
                <mat-form-field>
                  <mat-label>Duration</mat-label>
                  <input matInput class="example-full-width" formControlName='duration'>
                </mat-form-field>
              </div>
              <div *ngIf="formSecond2.get('medication').length > 1">
                <button class="btn btn-danger btn-sm pull-right" title="Delete" (click)="removeMedicineClick(i)" >
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 mt-3">
            Investigation
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Investigation</mat-label>
              <input matInput class="example-full-width" formControlName='investigation'>
            </mat-form-field>
          </div>
          <div class="col-2 mt-2">
            <b>Other Recommend- ation</b>
          </div>
          <div class="col-4">
            <mat-form-field>
              <mat-label>Recommendation</mat-label>
              <input matInput class="example-full-width" formControlName='recommendation'>
            </mat-form-field>
          </div>
        </div>
        <div>
          <button mat-raised-button class="btn btn-primary" [disabled]='!formSecond2.valid' 
          (click)="submitSecondForm()">Submit</button>
        </div>
      </form>
    </div>
  

  <div class="analysis-menu mt-4">
    
    <div class="analysis-button  row">
      <div>
        <button class="btn btn-info" mat-raised-button (click)="analysisPart()">Select Zone for User</button>
      </div>
    </div>

    <div  class="analysis-tab"  #analysisZone>
      <div class=" row ml-5  zone-select mt-3">
        <mat-tab-group #tabRef (selectedTabChange)="onTabChanges($event)">
          <mat-tab label="None" ></mat-tab>
          <mat-tab label ="Red" ></mat-tab>
          <mat-tab label = "Purpul"></mat-tab>
          <mat-tab label = "Yellow"></mat-tab>
          <mat-tab label = "Green"></mat-tab>
        </mat-tab-group> 
      </div>
    </div>
  </div>

    <!--
  <div class="analysis-menu zone-part-bottom">
   
    <div *ngIf="analysis == true">
      <div class="mt-4" >
        <div class="ml-2" style="text-content : center">
          <button class="btn " [ngClass] = 'userZone == "Red" ? "btn-danger" : (userZone =="Green" ? "btn-success" : (userZone == "Yellow" ? "btn-warning" : "btn-primary")) ' mat-raised-button>Reason to put in {{userZone}}</button>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <mat-card class="example-card mat-card " style="height:100%" (click)="analysisSection('investigation')">
              <mat-card-header>
                  <mat-card-title >Investigation</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-4">
            <mat-card class="example-card mat-card " style="height:100%" (click)="analysisSection('lra')">
              <mat-card-header>
                  <mat-card-title >LRA</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-4">
            <mat-card class="example-card mat-card " style="height:100%" (click)="analysisSection('recommendation')">
              <mat-card-header>
                  <mat-card-title >Recommendation</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </div>


      <div class="row mt-4 ml-4" *ngIf="analysisPort == 'lra'">
        <div class="col-10 ml-4" >
          <mat-card class="example-card mat-card "  >
            <mat-card-header>
              <mat-card-title class="row mat-display-3">LRA Details : </mat-card-title>
              
              <div class="row mt-3">
                <div *ngFor="let category of lraFromOfUser1" class=" ml-2">
                  <div *ngFor="let key of objectKeys(category)">
                    <mat-checkbox labelPosition="before" (change)="checkCheckBoxvalue(key, $event.checked)"> {{key}} : {{category[key]}}</mat-checkbox>
                  </div>
                </div>    
              </div>
              <div>
                <button (click)="submitreason()">Submit Reason</button>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      
    </div>
  </div>
  -->
</div>  