// .nav-tabs .nav-item .nav-link {
//   color: #fff !important;
// }
// .example-full-width {
//   width: 100%;
// }



.hra-details {
  background-image: linear-gradient(#00BCD4, white);
}
.mat-card-title{
text-align: center;
font-size: small;
}
tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #00BCD4;
  color: white;
}
td{
    padding-top: 2%;;
}   

.example-full-width {
  width: 80%;
}

mat-sidenav-container {
  height: 100%;
}
mat-sidenav, mat-sidenav-container {
  padding : 16;
}
mat-sidenav{
    width: 400px;
}

.recommendation-bottom, .analysis-menu{
  background-color: #FAFAFA;
}

.row{
  margin: 0;
  padding: 0;
}


.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar{
  background: yellow;
  height: 10px;
} 

.zone-part-label{
  font-size: x-large;
  color: dark;
}
.mat-display-3 {
  font-size: larger;
}

.red{
  color: red;
}

.purple{
  color:purple;
}

.green{
  color: green;
}
.md-dialog-container {
  background-color: #000;
  width: 500px;
}
.mat-ink-bar{
  color: red !important;
  background-color: red !important;
}

.mat-tab-group.mat-primary .mat-ink-bar, .mat-tab-nav-bar.mat-primary .mat-ink-bar {
  background-color: red !important;
}



.myloading{
  width: 70x;
  height: 70px;
  z-index: 1;
}


@keyframes ldio-bz74ojoebh {
  0% { opacity: 1 }
  100% { opacity: 0 }
}
.ldio-bz74ojoebh div {
  left: 94px;
  top: 48px;
  position: absolute;
  animation: ldio-bz74ojoebh linear 1s infinite;
  background: #fe718d;
  width: 12px;
  height: 24px;
  border-radius: 6px / 12px;
  transform-origin: 6px 52px;
}.ldio-bz74ojoebh div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -0.9166666666666666s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -0.8333333333333334s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.75s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.6666666666666666s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.5833333333333334s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.5s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.4166666666666667s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.3333333333333333s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.25s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.16666666666666666s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.08333333333333333s;
  background: #fe718d;
}.ldio-bz74ojoebh div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
  background: #fe718d;
}
.loadingio-spinner-spinner-4o1nzyijdek {
  z-index: 10;
  background: transparent;
  width: 200px;
  height: 200px;
  display: inline-block;
  overflow: hidden;
  left: 50%;
  //top: 50%;
  position: absolute;
  margin-left: -100px;
  margin-top: -100px;
}
.ldio-bz74ojoebh {
  z-index: 1;
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}
.ldio-bz74ojoebh div { box-sizing: content-box; }
/* generated by https://loading.io/ */