<div class="container-fluid">

  <div class="row hra-details pb-4">
    <div class="col-md-2 col-sm-4 mt-4">
      <mat-card class="example-card mat-card text-center" (click)="showlastconsultant()">
        <mat-card-header>
          <mat-card-title>Last Consultant</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer">
      <mat-card class="example-card mat-card text-center" (click)="investigation()">
        <mat-card-header>
          <mat-card-title>Investigation</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer">
      <!-- <button class="btn btn-warning"></button> -->
      <mat-card class="example-card mat-card text-center">
        <mat-card-header>
          <mat-card-title>Condition/ Symptemic</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer">
      <mat-card class="example-card mat-card text-center">
        <mat-card-header>
          <mat-card-title>Medications</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer" mat-icon-button>
      <mat-card class="example-card mat-card text-center" (click)="showprofile()">
        <mat-card-header>
          <mat-card-title>EHR</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 pointer" mat-icon-button>
      <mat-card class="example-card mat-card text-center" (click)="moveToZone()">
        <mat-card-header>
          <mat-card-title>Analysis</mat-card-title>
        </mat-card-header>
      </mat-card>
    </div>
  </div>

  <mat-sidenav-container>
    <mat-sidenav mode="side" [(opened)]="showPriscribtion" position="end">
      <!--
      <app-investigation></app-investigation>
      -->
    </mat-sidenav>
    <div class="master appoint container-fluid main-container">
      <div class="row mt-3">
        <div class="col-3 ml-0">
          <mat-accordion>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Present Disease</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                {{sideExpansion.disease}}
              </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Present Medicine</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                {{sideExpansion.medicine}}
              </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Allergy</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                {{sideExpansion.allergy}}
              </mat-panel-description>
            </mat-expansion-panel>
            <mat-expansion-panel>
              <mat-expansion-panel-header>
                <mat-panel-title>Others</mat-panel-title>
              </mat-expansion-panel-header>
              <mat-panel-description>
                {{sideExpansion.others}}
              </mat-panel-description>
            </mat-expansion-panel>
          </mat-accordion>
        </div>
        <form class="middle-table  col-8 ml-1" [formGroup]="formFirst">
          <div>
            <table class="table" style="width :100%;border: 2px solid #eae9e9;">

              <tr class="row" formGroupName="problems">
                <td class="col-md-8">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Problems</mat-label>
                    <input matInput formControlName='description'>
                  </mat-form-field>
                </td>
                <td class="col-md-4">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName='remarks'>
                  </mat-form-field>
                </td>
              </tr>
              <tr class="row" formGroupName="symptoms">
                <td class="col-md-8">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Symptoms</mat-label>
                    <input matInput formControlName='description'>
                  </mat-form-field>
                </td>
                <td class="col-md-4">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName='remarks'>
                  </mat-form-field>
                </td>
              </tr>
              <tr class="row" formGroupName='finding'>
                <td class="col-md-8">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Finding</mat-label>
                    <input matInput formControlName="description">
                  </mat-form-field>
                </td>
                <td class="col-md-4">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput width="100%" formControlName='remarks'>
                  </mat-form-field>
                </td>
              </tr>
              <tr class="row" formGroupName='recommendation'>
                <td class="col-md-8">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Recommendation</mat-label>
                    <input matInput width="100%" formControlName='description'>
                  </mat-form-field>
                </td>
                <td class="col-md-4">
                  <mat-form-field appearance="outline" class="full-width">
                    <mat-label>Remarks</mat-label>
                    <input matInput formControlName='remarks'>
                  </mat-form-field>
                </td>
              </tr>
            </table>
            <!--
            <button class="btn btn-primary btn-sm" [disabled]='!formFirst.valid '
              (click)="submitFirstForm()">Submit</button>
              -->
          </div>

        </form>
      </div>
    </div>
  </mat-sidenav-container>
  <div class="mt-4 recommendation-bottom">
    <form [formGroup]="newDoseForm">
      <div class="row">
        <div class="col-10">
          <label> 
            <h4>Recommendation For patient</h4>
          </label>
        </div>
        <div>
          <button class="btn btn-warning btn-sm" (click)=" addmedicineButtonClick()">Add Fields</button>
        </div>
      </div>
      <div formArrayName="recommendationForPatient">
       
        <div *ngFor="let element of newDoseForm.controls.recommendationForPatient.controls; let i = index">
          <div class="row mt-2" [formGroupName]="i">
            <div class="col-md-2">
              <mat-form-field class="full-width">
                <mat-label>Medicine Name</mat-label>
                <input matInput class="example-full-width" formControlName='medicineName'>
              </mat-form-field>
            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Morning Dose</mat-label>
                
                <mat-select formControlName='morningDose'>
                  <mat-option value="quater">1/4</mat-option>
                  <mat-option value="half">1/2</mat-option>
                  <mat-option value="one">1</mat-option>
                  <mat-option value="two">2</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="full-width" 
                >
                <mat-label>Noon Dose</mat-label>
                <mat-select formControlName='noonDose'>
                  <mat-option value="quater">1/4</mat-option>
                  <mat-option value="half">1/2</mat-option>
                  <mat-option value="one">1</mat-option>
                  <mat-option value="two">2</mat-option>
                </mat-select>
              </mat-form-field>

            </div>
            <div class="col-md-2">
              <mat-form-field appearance="outline" class="full-width">
                <mat-label>Night/Other Dose</mat-label>
                <mat-select formControlName='nightOtherDose'>
                  <mat-option value="quater">1/4</mat-option>
                  <mat-option value="half">1/2</mat-option>
                  <mat-option value="one">1</mat-option>
                  <mat-option value="two">2</mat-option>
                </mat-select>
              </mat-form-field>
            </div>

            <div class="col-md-3">
              <mat-form-field appearance="outline" [hideRequiredMarker]="true">
                <mat-label>Condition for Dose</mat-label>
                <mat-select formControlName='conditionForDose'>
                  <mat-option value="before_lunch">Before Luch</mat-option>
                  <mat-option value="after_lunch">After Lunch</mat-option>
                  <mat-option value="not_required">Not Required</mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="col-md-1" *ngIf="newDoseForm.get('recommendationForPatient').length > 1" style="align-self: center;">
              <button class="btn btn-white btn-round btn-just-icon mat-raised-button btn-sm" title="Delete"
                (click)="removeMedicineClick(i)">
                <mat-icon class="material-icons text-danger">delete</mat-icon>
              </button>
            </div>
          </div>
        </div>
        
      </div>
      <hr>
      <div class="row mt-2">

        <div class="col-md-4">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Investigation</mat-label>
            <input matInput formControlName='investigation'>
          </mat-form-field>
        </div>
        <div class="col-md-1"></div>

        <!--
        <div class="col-md-6">
          <mat-form-field appearance="outline" class="full-width">
            <mat-label>Recommendations</mat-label>

            

            <mat-select (selectionChange)="testSelectes($event)">
              <mat-option *ngFor="let test of testList; index as i" 
                [value]='i'>{{test.name}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        -->

        <div class="col-md-6">
          <mat-form-field class="example-full-width">
            <input type="text"
                  placeholder="Pick one"
                  aria-label="Number"
                  matInput
                  [formControl]="bloodTestControl"
                  [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
              <mat-option (onSelectionChange)="testSelectes($event, option.testId, i)"
                 *ngFor="let option of bloodTestFilters2 | async; let i = index" [value]="option.name"
               
              >
                {{option.name}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <!--
      <div>
        <button mat-raised-button class="btn btn-primary" [disabled]='!formSecond2.valid'
          (click)="submitSecondForm()">Submit</button>
      </div>
      -->
    </form>
  </div>


  <div class="analysis-menu mt-4">

    <div class="card ">
      <div class="card-header card-header-warning card-header-text">
        <div class="card-icon">
          <i class="material-icons">
            <i class="material-icons">healing</i>
          </i>
        </div>
        <h4 class="card-title">Select Zone</h4>
      </div>
      <div class="card-body ">
        <div class="analysis-tab" #analysisZone>
          <div class=" row ml-5  zone-select mt-3">
            <mat-tab-group #tabRef (selectedTabChange)="onTabChanges($event)">
              <mat-tab label="None"></mat-tab>
              <mat-tab label="Red"></mat-tab>
              <mat-tab label="Border"></mat-tab>
              <mat-tab label="Below"></mat-tab>
              <mat-tab label="Safe"></mat-tab>
            </mat-tab-group>
          </div>
        </div>


      </div>
    </div>

  </div>
  <div class="row">
    <div class="col-12" style="text-align : center">
      <button class="btn btn-info" (click)="finalSubmit()">Submit</button>
    </div>
  </div>
  <!--
  <div class="analysis-menu zone-part-bottom">
   
    <div *ngIf="analysis == true">
      <div class="mt-4" >
        <div class="ml-2" style="text-content : center">
          <button class="btn " [ngClass] = 'userZone == "Red" ? "btn-danger" : (userZone =="Green" ? "btn-success" : (userZone == "Yellow" ? "btn-warning" : "btn-primary")) ' mat-raised-button>Reason to put in {{userZone}}</button>
        </div>
        <div class="row mt-3">
          <div class="col-4">
            <mat-card class="example-card mat-card " style="height:100%" (click)="analysisSection('investigation')">
              <mat-card-header>
                  <mat-card-title >Investigation</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-4">
            <mat-card class="example-card mat-card " style="height:100%" (click)="analysisSection('lra')">
              <mat-card-header>
                  <mat-card-title >LRA</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
          <div class="col-4">
            <mat-card class="example-card mat-card " style="height:100%" (click)="analysisSection('recommendation')">
              <mat-card-header>
                  <mat-card-title >Recommendation</mat-card-title>
              </mat-card-header>
            </mat-card>
          </div>
        </div>
      </div>


      <div class="row mt-4 ml-4" *ngIf="analysisPort == 'lra'">
        <div class="col-10 ml-4" >
          <mat-card class="example-card mat-card "  >
            <mat-card-header>
              <mat-card-title class="row mat-display-3">LRA Details : </mat-card-title>
              
              <div class="row mt-3">
                <div *ngFor="let category of lraFromOfUser1" class=" ml-2">
                  <div *ngFor="let key of objectKeys(category)">
                    <mat-checkbox labelPosition="before" (change)="checkCheckBoxvalue(key, $event.checked)"> {{key}} : {{category[key]}}</mat-checkbox>
                  </div>
                </div>    
              </div>
              <div>
                <button (click)="submitreason()">Submit Reason</button>
              </div>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
      
    </div>
  </div>
  -->
</div>