<!-- <div class="row m-0 container-fluid">
  <div class="col-md-12">
    <div class="card ml-2 mr-2 mat-elevation-z2">
      <div class="card-header card-header-primary card-header-icon">
        <div class="card-icon">
          <i class="material-icons">speaker_notes</i>
        </div>
        <h4 class="card-title ">Feedback Portal</h4>
        <div class="row">
          <button class="col-8 col-lg-4 col-xl-3 btn btn-success" (click)="addfeedback()">Give feedback</button>
        </div>
      </div>
    </div>
  </div>
</div> -->

<div class="appoint container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card card-chart mat-elevation-z8">
        <div class="card-header card-header-icon card-header-danger">
          <div class="card-icon">
            <i class="material-icons">supervisor_account</i>
          </div>
          <h4 class="card-title">Employee's FeedBack</h4>
        </div>
        <div class="card-body">
          <div class="row ">
            <div class="col-12  ">
              <div class="card-chart">
                <div class="card-body">
                  <div class="chart-area">
                    <div>
                      <div>
                        <canvas baseChart id="linechart" #piechart>
                        </canvas>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="card-footer">
          <div class="row">
            <div class="col-md-12">
              <h6 class="card-category">Legend</h6>
            </div>
            <div class="col-md-12">
              <div style="width:100%;justify-content: space-around;display: flex;">
                <div>
                  <span>
                    <div
                      style="background-color: red; height: 10px;width: 10px; float: left; vertical-align: middle; margin-top: 6px; margin-right: 5px;">
                    </div>BAD
                  </span>
                </div>
                <div>
                  <span>
                    <div
                      style="background-color: #17a2b8; height: 10px;width: 10px; float: left; vertical-align: middle; margin-top: 6px;margin-right: 5px;">
                    </div>AVERAGE
                  </span>
                </div>
                <div>
                  <span>
                    <div
                      style="background-color: orange; height: 10px;width: 10px; float: left; vertical-align: middle; margin-top: 6px;margin-right: 5px;">
                    </div>GOOD
                  </span>
                </div>
                <div>
                  <span>
                    <div
                      style="background-color: green; height: 10px;width: 10px; float: left; vertical-align: middle; margin-top: 6px;margin-right: 5px;">
                    </div>BETTER
                  </span>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
    <!--
    <div class="col-md-12 mat-elevation-z8">
      <div class="card card-chart">
        <div class="card-header card-header-icon card-header-danger">
          <div class="card-icon">
            <i class="material-icons">comment</i>
          </div>
          <h4 class="card-title">Give FeedBack</h4>
        </div>
        <div class="card-body">
          <div class="form-check">
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked=""> BAD
              <span class="circle">
                <span class="check"></span>
              </span>
            </label>
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked=""> AVERAGE
              <span class="circle">
                <span class="check"></span>
              </span>
            </label>
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked=""> GOOD
              <span class="circle">
                <span class="check"></span>
              </span>
            </label>
            <label class="form-check-label">
              <input class="form-check-input" type="radio" name="exampleRadios" value="option1" checked=""> BETTER
              <span class="circle">
                <span class="check"></span>
              </span>
            </label>
          </div>
        </div>
        <div style="padding-left: 10px;">
          <div class="row">
            <div class="col-md-10">
              <h6 class="card-category">FeedBack Comment</h6>
              <div class="form-group bmd-form-group">
                <textarea class="form-control" type="text" name="max" cols="10" required="false" aria-required="true"
                  placeholder="Provide some feedback"></textarea>
              </div>
            </div>
          </div>
          <button class="btn btn-success mt-3 mb-3">
            <i class="material-icons">send</i>Submit
          </button>
        </div>
      </div>
    </div>
    -->
  </div>
</div>