<div>
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header card-header-info card-header-icon">
          <div class="card-icon shad ">
            <i class="material-icons">assignment</i>
          </div>
          <div class="row">
            <div class="col-md-6">
              <h4 class="card-title ">Employee Test Appointment</h4>
            </div>
            <div class="col-md-6"><button class="btn btn-rose">Add New Request</button></div>
          </div>
        </div>
        <div class="card-body">
          <div class="table-responsive">
          <!--
            <table class="table">
              <thead class=" text-primary">
                <tr>
                  <th>
                    S No.
                  </th>
                  <th>
                    Employee Name
                  </th>
                  <th>
                    age
                  </th>
                  <th>
                    Emp Id
                  </th>
                  <th>
                    Dept.
                  </th>
                  <th>
                    Pkg.
                  </th>
                  <th>
                    Location
                  </th>
                  <th>
                    Date of Request
                  </th>
                  <th>
                    Date of Appointment
                  </th>
                  <th>
                    Last Checkup date
                  </th>
                  <th>
                    Approved/Cancel
                  </th>
                  <th>
                    Checkup <br>
                    Done/Not Done
                  </th>
                  <th>
                    Report Added
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    11be45
                  </td>
                  <td>
                    Dakota Rice
                  </td>
                  <td>
                    65
                  </td>
                  <td>
                    Emp-iD
                  </td>
                  <td>
                    3738
                  </td>
                  <td class="">
                    Pkg-1
                  </td>
                  <td class="">
                    Delhi
                  </td>
                  <td class="">
                    12/06/20XX
                  </td>
                  <td class="">
                    12/06/20XX
                  </td>
                  <td class="">
                    12/06/20XX
                  </td>
                  <td class="">
                    Approved
                  </td>
                  <td class="">
                    Done
                  </td>
                  <td class="">
                    Yes
                  </td>
                </tr>
              </tbody>
            </table>
          -->
            <table mat-table [dataSource]="empdata" class="mytable-articles" >
              <ng-container matColumnDef="sno">
                <th mat-header-cell *matHeaderCellDef> S.NO </th>
                <td mat-cell *matCellDef="let element"> {{element.sno }} </td>
              </ng-container>

              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef> Name </th>
                <td mat-cell *matCellDef="let element"> {{element.name}} </td>
              </ng-container>

              <ng-container matColumnDef="age">
                <th mat-header-cell *matHeaderCellDef> Age </th>
                <td mat-cell *matCellDef="let element"> {{element.age}} </td>
              </ng-container>

              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>

              <ng-container matColumnDef="dept">
                <th mat-header-cell *matHeaderCellDef> Dept </th>
                <td mat-cell *matCellDef="let element"> {{element.dept}} </td>
              </ng-container>

              <ng-container matColumnDef="pkg">
                <th mat-header-cell *matHeaderCellDef>Package</th>
                <td mat-cell *matCellDef="let element"> {{element.pkg}} </td>
              </ng-container>

              <ng-container matColumnDef="location">
                <th mat-header-cell *matHeaderCellDef> location</th>
                <td mat-cell *matCellDef="let element"> {{element.location}} </td>
              </ng-container>

              <ng-container matColumnDef="dateReq">
                <th mat-header-cell *matHeaderCellDef> dateReq</th>
                <td mat-cell *matCellDef="let element"> {{element.dateReq}} </td>
              </ng-container>
              
              <ng-container matColumnDef="dateApp">
                <th mat-header-cell *matHeaderCellDef> dateApp</th>
                <td mat-cell *matCellDef="let element">{{element.dateApp}}</td>
              </ng-container>

              <ng-container matColumnDef="lastcheckup">
                <th mat-header-cell *matHeaderCellDef> Last checkup</th>
                <td mat-cell *matCellDef="let element">{{element.lastcheckup}}</td>
              </ng-container>

              <ng-container matColumnDef="approved">
                <th mat-header-cell *matHeaderCellDef> approved</th>
                <td mat-cell *matCellDef="let element">{{element.approved}}</td>
              </ng-container>

              <ng-container matColumnDef="done">
                <th mat-header-cell *matHeaderCellDef> Done</th>
                <td mat-cell *matCellDef="let element">{{element.done}}</td>
              </ng-container>

              <ng-container matColumnDef="repadd">
                <th mat-header-cell *matHeaderCellDef> Re-Appointment</th>
                <td mat-cell *matCellDef="let element">{{element.repadd}}</td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="col"></tr>
              <tr mat-row *matRowDef="let row; columns: col;"></tr>
            </table>
            <!--
            <ul class="pagination pagination-primary">
              <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons">chevron_left</i></a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">2</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#">3</a>
              </li>
              <li class="page-item">
                <a class="page-link" href="#"><i class="material-icons">chevron_right</i></a>
              </li>
            </ul>
            -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>