$bgColor :  #FAFAFA;

.hra-details {
background-image: linear-gradient(#00BCD4, white);
}
.mat-card-title{
text-align: center;
font-size: small;
}

table {
  width: 100%;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
  background-color: #00BCD4;
  color: white;
}
td{
    padding-top: 2%;;
}   
.user-details{
  background-color: $bgColor ;
}
.font-weight-bold {
  color: black;
  font-weight: bold;
}