.test-container {
  width: 400px;
  max-width: 100%;
  margin: 0 25px 25px 0;
  display: inline-block;
  vertical-align: top;
}

.test-list {
  border: solid 1px #ccc;
  min-height: 60px;
  padding: 8px;
  // max-height: 250px;
  background: white;
  border-radius: 4px;
  overflow-y: auto;
  overflow-x: none;
  display: flex;
  flex-wrap: wrap;
}

.test-box {
  padding: 10px 10px;
  border-bottom: solid 1px #ccc;
  color: rgba(0, 0, 0, 0.87);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  cursor: move;
  background: white;
  font-size: 14px;
}

.cdk-drag-preview {
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  opacity: 0;
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.test-box:last-child {
  border: none;
}

.test-list.cdk-drop-list-dragging .test-box:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.drag-title {
  align-items: center;
  display: flex;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
.mat-radio-group {
  display: inline-block;
}
.example-chip-list {
  width: 100%;
}
