 <div class="card card-signup card-plain" *ngIf="data == 'event'">
  <div class="row mt-0">
    <h5 class="col-11">Add Event</h5>
    <button type="button" class="close" (click)="closeDialog()">
      <i class="material-icons">clear</i>
    </button>
  </div>
  <div class="text-center">
    <div >
      <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
  
        <mat-step [stepControl]="firstStepper">
          <form [formGroup]="firstStepper">
            <ng-template matStepLabel>Event Info</ng-template>
            <div class="row">
              <div class="col-md-4"> 
                <mat-form-field>
                  <mat-label>Id</mat-label>
                  <input matInput formControlName="id" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput   name="name"
                    formControlName="name" required>
                  
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Start On</mat-label>
                  <input matInput [matDatepicker]="picker"
                   formControlName='starton' required>
                  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 increaseZindex">
                <mat-form-field>
                  <mat-label>Location</mat-label>
                  <input matInput formControlName="location" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Slots</mat-label>
                  <input matInput formControlName='slots' required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Last Booking date</mat-label>
                  <input matInput [matDatepicker]="picker1" 
                  formControlName='lastbookingdate' required>
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                  
                </mat-form-field>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 increaseZindex">
                <mat-form-field>
                  <mat-label>Price</mat-label>
                  <input matInput formControlName="price" required>
                </mat-form-field>
              </div>
              <div class="col-md-4 increaseZindex">
                <mat-form-field>
                  <mat-label>Details</mat-label>
                  <input matInput formControlName="details" required>
                </mat-form-field>
              </div>
            </div>
            <div>
              <button mat-button matStepperNext type="button" [disabled]="!firstStepper.valid">Next</button>
            </div>
          </form>
        </mat-step>
        
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="submit()">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>

<div class="card card-signup card-plain" *ngIf="data == 'article'">
  <div class="row mt-0">
    <h5 class="col-11">Add Article</h5>
    <button type="button" class="close" (click)="closeDialog()">
      <i class="material-icons">clear</i>
    </button>
  </div>
  <div class="text-center">
    <div >
      <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
  
        <mat-step [stepControl]="articleStepper">
          <form [formGroup]="articleStepper">
            <ng-template matStepLabel>Article Info</ng-template>
            <div class="row">
              <div class="col-md-4"> 
                <mat-form-field>
                  <mat-label>Id</mat-label>
                  <input matInput formControlName="id" required>
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Name</mat-label>
                  <input matInput   name="name"
                    formControlName="name" required>
                  
                </mat-form-field>
              </div>
              <div class="col-md-4">
                <mat-form-field>
                  <mat-label>Post By</mat-label>
                  <input matInput formControlName='postby' required>
                </mat-form-field>
              </div>
            </div>
            <div class="row ml-4">
              <mat-radio-group
                aria-labelledby="example-radio-group-label"
                class="example-radio-group"
                formControlName='show'
               >
                <mat-radio-button class="example-radio-button mr-4"  [value]="'show'">
                  Show
                </mat-radio-button>
                <mat-radio-button class="example-radio-button"  [value]="'hide'">
                  Hide
                </mat-radio-button>
                
                </mat-radio-group>
            </div>
            <div>
              <button mat-button matStepperNext type="button" [disabled]="!articleStepper.valid">Next</button>
            </div>
          </form>
        </mat-step>
        
        <mat-step>
          <ng-template matStepLabel>Done</ng-template>
          <p>You are now done.</p>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button mat-button (click)="stepper.reset()">Reset</button>
            <button mat-button (click)="submitarticle()">Submit</button>
          </div>
        </mat-step>
      </mat-horizontal-stepper>
    </div>
  </div>
</div>