<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-primary">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active text-white" href="#hospitals" data-toggle="tab">
                      <i class="material-icons">code</i> Registred Hospitals
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link text-white" href="#add-hospital" data-toggle="tab">
                      <i class="material-icons">add</i> Add New Hospital
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="hospitals">
                <table class="table">
                  <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Speciality</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1023</td>
                      <td>Hospital Name</td>
                      <td>Multi Speciality</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>1023</td>
                      <td>Hospital Name</td>
                      <td>Multi Speciality</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>1023</td>
                      <td>Hospital Name</td>
                      <td>Multi Speciality</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                    <tr>
                      <td>1023</td>
                      <td>Hospital Name</td>
                      <td>Multi Speciality</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="add-hospital">
                <form action="">
                  <input class="input-control" type="text">
                </form>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>