<div class="layer"></div>
<!-- Mobile menu overlay mask -->
<!-- 
<div id="preloader">
  <div data-loader="circle-side"></div>
</div> -->
<!-- End Preload -->

<header class="header_sticky">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-6">
        <div id="logo_home">
          <h1><a href="/" title="Healthcrum">Healthcrum</a></h1>
        </div>
      </div>
      <nav class="col-lg-9 col-6">
        <a class="cmn-toggle-switch cmn-toggle-switch__htx open_close"><span>Menu mobile</span></a>
        <ul id="top_access">

          <!-- <li ><a href="/login"><i class="pe-7s-add-user"></i></a></li> -->
          <li *ngIf="loggedIn" class="dropdown nav-item">
            <a href="#pablo" class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false">
              <img src="{{ user.photoUrl }}" style="width: 32px;border-radius: 50%;margin-right: 4px;">{{ user.name }}
              <div class="ripple-container"></div>
            </a>
            <div class="dropdown-menu">
              <!-- <h6 class="dropdown-header">Dropdown header</h6> -->
              <a routerLink="/patient/dashboard" class="dropdown-item">
                <i class="material-icons">account_circle</i>Dashboard
              </a>

              <div class="dropdown-divider"></div>
              <a href="#" class="dropdown-item" (click)="signOutUser()">
                <i class="material-icons">power_settings_new</i>SignOut
              </a>

            </div>
          </li>

        </ul>
        <div class="main-menu">
          <ul>
            <li class="submenu" routerLinkActive="active">
              <a routerLink="/home" class="show-submenu">Home</a>
            </li>
            <li class="submenu">
              <a href="#" class="show-submenu">Services<i class="icon-down-open-mini"></i></a>
              <ul>
                <li><a routerLink="/blood-test">Blood Test</a></li>
                <li><a routerLink="/hra">Health Risk Assessment</a></li>
                <li><a routerLink="/consultation">Consultation</a></li>
                <li><a routerLink="/medicines">Medicine</a></li>
                <li><a routerLink="/equipments">Equipments</a></li>
                <li><a routerLink="/welness">Wellness</a></li>
                <!-- <li><a routerLink="404.html">Personalized Care</a></li> -->
              </ul>
            </li>
            <!-- <li>
              <a href="404.html">HR & Doctors</a>
            </li> -->
            <li routerLinkActive="active"><a routerLink="/aboutus">About us</a></li>
            <li routerLinkActive="active"><a routerLink="/contactus">Contact us</a></li>
            <li *ngIf="!loggedIn" routerLinkActive="active"><a routerLink="/login">Signin</a></li>
          </ul>
        </div>
        <!-- /main-menu -->
      </nav>
    </div>
  </div>
  <!-- /container -->
</header>
<!-- /header -->

<router-outlet></router-outlet>

<!--Footer-->
<footer>
  <div class="container margin_60_35">
    <div class="row">
      <div class="col-lg-3 col-md-12">
        <p>
          <a href="/" title="Healthcrum" style="display: flex;align-items: center;">
            <img src="../../../assets/img/apple-icon.png" data-retina="true" alt="" style="width: 20%;"
              class="img-fluid"><span class="ml-1" style="font-size: 1.5rem;color: #323232;">Healthcrum</span>
          </a>
        </p>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5>About</h5>
        <ul class="links">
          <li><a href="#0">About us</a></li>
          <li><a href="blog.html">Blog</a></li>
          <li><a href="#0">FAQ</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5>Useful links</h5>
        <ul class="links">
          <li><a href="#0">Doctors</a></li>
          <li><a href="#0">Clinics</a></li>
          <li><a href="#0">Specialization</a></li>
          <li><a href="#0">Join as a Doctor</a></li>
          <li><a href="#0">Download App</a></li>
        </ul>
      </div>
      <div class="col-lg-3 col-md-4">
        <h5>Contact with Us</h5>
        <ul class="contacts">
          <li><a href="tel://+919755552909"><i class="icon_mobile"></i>+91-975 555 2909</a></li>
          <li><a href="mailto:info@healthcrum.com"><i class="icon_mail_alt"></i>info@healthcrum.com</a></li>
        </ul>
        <div class="follow_us">
          <h5>Follow us</h5>
          <ul>
            <li><a href="https://www.facebook.com/Healthcrum-1515207718517858/"><i class="social-facebook">
                  <fa-icon [icon]="fb"></fa-icon>
                </i></a></li>
            <li><a href="https://twitter.com/healthcrum"><i class="social-twitter">
                  <fa-icon [icon]="twitter"></fa-icon>
                </i></a></li>
            <li><a href="https://www.linkedin.com/company/healthcrum/"><i class="social-youtube">
                  <fa-icon [icon]="youtube"></fa-icon>
                </i></a></li>
            <li><a href="https://www.facebook.com/Healthcrum-1515207718517858/"><i class="social-insta">
                  <fa-icon [icon]="insta"></fa-icon>
                </i></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--/row-->
    <hr>
    <div class="row">
      <div class="col-md-8">
        <ul id="additional_links">
          <li><a href="#0">Terms and conditions</a></li>
          <li><a href="#0">Privacy</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <div id="copy">Copyright © 2020 Healthcrum. All Rights Reserved.</div>
      </div>
    </div>
  </div>
</footer>
<!--/footer-->

<!-- Classic Modal -->
<div class="modal fade" id="myLogin" tabindex="-1" role="dialog" style="overflow:none;">
  <div class="modal-dialog" role="document">
    <!-- <div class="modal-content"> -->

    <div class="modal-body">
      <div class="card card-signup">
        <h2 class="card-title text-center">Login</h2>
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 ml-auto">
              <div class="info info-horizontal">
                <div class="icon icon-rose">
                  <i class="material-icons">timeline</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Marketing</h4>
                  <p class="description">
                    We've created the marketing campaign of the website. It was a very interesting collaboration.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-primary">
                  <i class="material-icons">code</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Fully Coded in HTML5</h4>
                  <p class="description">
                    We've developed the website with HTML5 and CSS3. The client has access to the code using GitHub.
                  </p>
                </div>
              </div>
              <div class="info info-horizontal">
                <div class="icon icon-info">
                  <i class="material-icons">group</i>
                </div>
                <div class="description">
                  <h4 class="info-title">Built Audience</h4>
                  <p class="description">
                    There is also a Fully Customizable CMS Admin Dashboard for this product.
                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-5 mr-auto">
              <div class="social text-center">
                <button class="btn btn-just-icon btn-round btn-twitter">
                  <i class="fa fa-twitter"></i>
                </button>
                <button class="btn btn-just-icon btn-round btn-dribbble">
                  <i class="fa fa-dribbble"></i>
                </button>
                <button class="btn btn-just-icon btn-round btn-facebook">
                  <i class="fa fa-facebook"> </i>
                </button>
                <h4> or be classical </h4>
              </div>
              <form class="form" method="" action="#">
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">face</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="First Name...">
                  </div>
                </div>
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">mail</i>
                      </span>
                    </div>
                    <input type="text" class="form-control" placeholder="Email...">
                  </div>
                </div>
                <div class="form-group bmd-form-group">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">lock_outline</i>
                      </span>
                    </div>
                    <input type="password" placeholder="Password..." class="form-control">
                  </div>
                </div>
                <div class="form-check">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" value="" checked="">
                    <span class="form-check-sign">
                      <span class="check"></span>
                    </span>
                    I agree to the <a href="#something">terms and conditions</a>.
                  </label>
                </div>
                <div class="text-center">
                  <a href="#pablo" class="btn btn-primary btn-round">Get Started</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- </div> -->
  </div>
</div>
<!--  End Modal -->