<div class="main">
  <div class="row ">
    <div class="col-12 mat-elevation-z8">
      <div class="card-chart">
        <div class="card-body" >
          <div class="chart-area">
            <div>
              <div >
                <canvas baseChart id="linechart" #biglinechart>
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-12 mat-elevation-z8">
      <div class="card-chart">
        <div class="card-body" >
          <div class="chart-area">
            <div>
              <div >
                <canvas baseChart id="linechart" #biglinechart2>
                </canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>