mat-card-title{
    background-color: #00a0a8;
    color: white;
    font-family: Ubuntu,sans-serif;
}

.test-heading{
    background-color: #00a0a8;
    color: white;
    border-radius: 20px;
    padding: 5px;
}
.package-detils{
    box-shadow: 2px 2px 6px 0px #ccc;
    background-color: white;
    border-radius: 6px 6px;
    h2{
        font-family: Ubuntu,sans-serif;
        color:#00a0a8;
        font-size: 15px;
        font-weight: 600;
    }
}

.package-details-book h2 {
    background-color: #00a0a8;
    width: 100%;
    float: left;
    color: #fff;
    font-family: Ubuntu,sans-serif;
    border-radius: 6px 6px;
    padding: 18px 30px;
    margin: 8px 0px 10px 0;
    box-shadow: 2px 2px 6px 0px #ccc;
    text-transform: uppercase;
    font-size: 15px;
}
.package-info {
    background-color: white;
    width: 100%;
    float: left;
    border-radius: 6px 6px;
    box-shadow: 2px 2px 6px 0px #ccc;
    text-transform: uppercase;
    h2{
        margin: 4px 0px 5px 0;
        padding: 18px 30px;
        font-family: Ubuntu,sans-serif;
        color:#00a0a8;
        font-size: 15px;
        font-weight: 600;
    }
    .delete{
        padding-left: 30px;
        font-family: Ubuntu,sans-serif;
        color: red;
        text-decoration: line-through;
        margin-right: 5px;
    }
    .current{
        font-family: Lato,sans-serif;;
        color: #635f5f;
        font-size: 16px;
        line-height: 20px;
        font-weight: 600;
    }
}
.offers{
    padding: 8px 4px 8px 4px;
    background-color: #fff;
    border: 1px solid #e87528;
    margin-bottom: 8px;
    border-radius: 2px 0 17px;
    display: inline-block;
    h3 {
        font-size: small;
        color:#e87528; 
        font-weight: 600;
    }
}
.package-detils  h4 span {
    color: #00a0a8;
    font-family: Ubuntu,sans-serif;
    font-size: 15px;
    font-weight: 600;
}
.testnumber{
    text-align: center;
    align-self: center;
    label {
        font-size: xx-large;
        font-weight: 600;
    }
}