<div class="appoint container-fluid main-container">
  <div class="row hra-details pb-4" style="border-bottom: 2px solid #05968926;">
    <div class="col-md-2 col-sm-4 mt-4">
      <mat-card class="example-card mat-card card-bottom-border" style="height:100%">
        <mat-card-header>
          <mat-card-title>Allergy</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medical, Food</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4">
      <mat-card class="example-card mat-card card-bottom-border" style="height:100%">
        <mat-card-header>
          <mat-card-title>Family History</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medical, Food</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4">
      <mat-card class="example-card mat-card card-bottom-border" style="height:100%">
        <mat-card-header>
          <mat-card-title>Profession</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medical, Food</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4">
      <mat-card class="example-card mat-card card-bottom-border" style="height:100%">
        <mat-card-header>
          <mat-card-title>Any Major History</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medical, Food</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4 ">
      <mat-card class="example-card mat-card card-bottom-border" style="height:100%">
        <mat-card-header>
          <mat-card-title>Stress</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Professionsl, Personal</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2 col-sm-4 mt-4">
      <mat-card class="example-card mat-card card-bottom-border" style="height:100%">
        <mat-card-header>
          <mat-card-title>Insurance</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Name Type, Number</p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>


  <div class="row mt-3 mb-3">
    <!-- <div class="col-md-3">
      <div class="dd">
        <p class="txt-rotate">{{ name }}</p>

        <rg-gauge-chart [canvasWidth]="canvasWidth" [needleValue]="needleValue" [centralLabel]="centralLabel"
          [options]="options" [bottomLabel]="bottomLabel"></rg-gauge-chart>
      </div>
    </div> -->
    <!-- <div class="col-md-5">
      <div class="middle-box">
        <div class="row">
          <div class="col-md-6 p-0">
            <mat-card style="min-height:180px" class="zone-card danger-zone-card">
              <div class="danger-zone disease-box">
                <div class="disease-box mb-1">
                  <div class="row p-1">
                    <div class="col-9">
                      <p class="m-0"><b>Disease Name</b></p>
                      <ul class="m-0 disease-result-list">
                        <li>2016 - green</li>
                        <li>2017 - red</li>
                      </ul>
                    </div>
                    <div class="col-3 " style="align-self: center;">
                      <i class="material-icons text-danger" data-toggle="tooltip" data-placement="top"
                        title="test Graph detail will be here">info</i>
                    </div>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
          <div class="col-md-6 p-0">
            <mat-card style="min-height:180px" class="zone-card border-zone-card1">

              <div class="disease-box mb-1">
                <div class="row p-1">
                  <div class="col-9">
                    <p class="m-0"><b>Disease Name</b></p>
                    <ul class="m-0 disease-result-list">
                      <li>2016 - green</li>
                      <li>2017 - red</li>
                    </ul>
                  </div>
                  <div class="col-3 " style="align-self: center;">
                    <i class="material-icons text-primary" data-toggle="tooltip" data-placement="top"
                      title="test Graph detail will be here">info</i>
                  </div>
                </div>
              </div>

            </mat-card>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 p-0">
            <mat-card style="min-height:180px" class="zone-card border-zone-card2">

              <div class="disease-box mb-1">
                <div class="row p-1">
                  <div class="col-9">
                    <p class="m-0"><b>Disease Name</b></p>

                  </div>
                  <div class="col-3 " style="align-self: center;">
                    <i class="material-icons text-warning" data-toggle="tooltip" data-placement="top"
                      title="test Graph detail will be here">info</i>
                  </div>
                </div>
              </div>

            </mat-card>
          </div>
          <div class="col-md-6 p-0">
            <mat-card style="min-height:180px" class="zone-card safe-zone-card">
              <div class="disease-box mb-1">
                <div class="row p-1">
                  <div class="col-9">
                    <p class="m-0"><b>Disease B</b></p>
                    <ul class="m-0 disease-result-list">
                      <li>2016 - green</li>
                      <li>2017 - red</li>
                    </ul>
                  </div>
                  <div class="col-3 " style="align-self: center;">
                    <i class="material-icons text-success" data-toggle="tooltip" data-placement="top"
                      title="test Graph detail will be here">info</i>
                  </div>
                </div>
              </div>
              <div class="disease-box mb-1">
                <div class="row p-1">
                  <div class="col-9">
                    <p class="m-0"><b>Disease A</b></p>
                    <ul class="m-0 disease-result-list">
                      <li>2016 - green</li>
                      <li>2017 - red</li>
                    </ul>
                  </div>
                  <div class="col-3 " style="align-self: center;">
                    <i class="material-icons text-success" data-toggle="tooltip" data-placement="top"
                      title="test Graph detail will be here">info</i>
                  </div>
                </div>
              </div>
            </mat-card>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div class="col-md-2">
      
    </div> -->
    <div class="col-md-4">
      <div class="zones" style="width: 90%;">
        <mat-accordion>
          <mat-expansion-panel class="bg-danger text-white">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Danger Zone
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list style="padding-left:-20px">
              <mat-list-item *ngFor="let test of dangerZoneTests">
                <mat-icon mat-list-icon class="text-white">assignment</mat-icon>
                <div mat-line class="text-white">{{test.name}}</div>
                <div mat-line class="text-grey">value: {{test.value}} </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>

          </mat-expansion-panel>
          <mat-expansion-panel class="bg-primary text-white" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Border Zone 1
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list style="padding-left:-20px">
              <mat-list-item *ngFor="let test of dangerZoneTests">
                <mat-icon mat-list-icon class="text-white">assignment</mat-icon>
                <div mat-line class="text-white">{{test.name}}</div>
                <div mat-line class="text-grey">value: {{test.value}} </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="bg-warning text-white" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Border Zone 2
              </mat-panel-title>
            </mat-expansion-panel-header>

            <mat-list style="padding-left:-20px">
              <mat-list-item *ngFor="let test of dangerZoneTests">
                <mat-icon mat-list-icon class="text-white">assignment</mat-icon>
                <div mat-line class="text-white">{{test.name}}</div>
                <div mat-line class="text-grey">value: {{test.value}} </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-expansion-panel>

          <mat-expansion-panel class="bg-success text-white" (opened)="panelOpenState = true"
            (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Safe Zone
              </mat-panel-title>
            </mat-expansion-panel-header>
            <mat-list style="padding-left:-20px">
              <mat-list-item *ngFor="let test of dangerZoneTests">
                <mat-icon mat-list-icon class="text-white">assignment</mat-icon>
                <div mat-line class="text-white">{{test.name}}</div>
                <div mat-line class="text-grey">value: {{test.value}} </div>
                <mat-divider></mat-divider>
              </mat-list-item>
            </mat-list>

          </mat-expansion-panel>
        </mat-accordion>

      </div>
    </div>

  </div>



  <div class="row mt-2">
    <div class="col-md-3">
      <mat-card class="example-card mat-card {{top_status.red}}" style="height:100%">
        <mat-card-header>
          <mat-card-title>Ongoing Treatments</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Disease</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-3">
      <mat-card class="example-card mat-card {{top_status.green}}" style="height:100%">
        <mat-card-header>
          <mat-card-title>Regular Meditation</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medecine and Dose Time</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="example-card mat-card {{top_status.gy}}" style="height:100%">
        <mat-card-header>
          <mat-card-title>Present Condition</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medical, Food</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="example-card mat-card {{top_status.yellow}}" style="height:100%">
        <mat-card-header>
          <mat-card-title>Any Addon Medication</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p> Medicine Reason</p>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-2">
      <mat-card class="example-card mat-card {{top_status.ry}}" style="height:100%">
        <mat-card-header>
          <mat-card-title>Any Other Condition</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p></p>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div class="row mt-3">
    <div class="col-md-12">
      <div class="table-responsive" id="report">
        <table class="table text-center table-striped">
          <thead class="thead-dark">
            <tr>
              <th> Date </th>
              <th> Test </th>
              <th> Value </th>
              <th> Zone </th>
              <th>Normal Value</th>
              <th> Comparision </th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let test of lists;index as i" id="i">
              <td> {{i+1}} </td>
              <td> {{test.test}} </td>
              <td> 80 </td>
              <td>
                <fa-icon *ngIf="test.icon == 'purple'" [icon]="angry" size="2x" class="text-primary"></fa-icon>
                <fa-icon *ngIf="test.icon == 'angry'" [icon]="angry" size="2x" class="text-danger"></fa-icon>
                <fa-icon *ngIf="test.icon == 'sad'" [icon]="sad" size="2x" class="text-warning"></fa-icon>
                <fa-icon *ngIf="test.icon == 'smile'" [icon]="smile" size="2x" class="text-success"></fa-icon>
              </td>
              <td> 100-120 </td>
              <td>
                <div>
                  <canvas baseChart [datasets]="barChartData[i]" [labels]="barChartLabels[0]"
                    [options]="barChartOptions" [plugins]="barChartPlugins" [legend]="barChartLegend"
                    [chartType]="barChartType" (chartClick)="chartClicked($event,i)">
                  </canvas>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <button class="btn btn-primary">
        Previous Investigation
      </button>
      <button class="btn btn-info">
        Last Investigation
      </button>
      <button class="btn btn-success">
        Last 1 week Investigation
      </button>
      <button class="btn btn-warning">
        LAst 10 Month Investigation
      </button>
      <button class="btn btn-secondery">
        Last 6 month Investigation
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Custom</mat-card-title>
        </mat-card-header>
        <hr class="m-0">
        <mat-card-content>
          <mat-form-field color="accent">
            <mat-label>Inverstigation From</mat-label>
            <input matInput [matDatepicker]="picker1">
            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>

          <mat-form-field color="accent">
            <mat-label>Inverstigation To</mat-label>
            <input matInput [matDatepicker]="picker2">
            <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
            <mat-datepicker #picker2 color="primary"></mat-datepicker>
          </mat-form-field>
        </mat-card-content>
        <mat-card-footer>
          <button class="ml-2 btn btn-info">Search</button>
        </mat-card-footer>
      </mat-card>
    </div>

  </div>

  <!-- <div class="row">
    <div class="table pt-4 col-lg-5 col-sm-12">
      <table class="table">
        <thead>
          <tr>
            <th>Date</th>
            <th>Test Done</th>
            <th>Value</th>
            <th>Zone</th>
            <th>Normal Zone</th>
            <th>Comparison</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let test of lists;index as i">
            <td> {{i+1}} </td>
            <td> {{test.test}} </td>
            <td> 80 </td>
            <td>
              <fa-icon *ngIf="test.icon == 'purple'" [icon]="angry" size="2x" class="text-primary"></fa-icon>
              <fa-icon *ngIf="test.icon == 'angry'" [icon]="angry" size="2x" class="text-danger"></fa-icon>
              <fa-icon *ngIf="test.icon == 'sad'" [icon]="sad" size="2x" class="text-warning"></fa-icon>
              <fa-icon *ngIf="test.icon == 'smile'" [icon]="smile" size="2x" class="text-success"></fa-icon>
            </td>
            <td> 100-120 </td>
            <td> <button class="btn btn-xs btn-danger">See Result</button></td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="barchart col-sm-8 col-lg-5  pt-4">
      <div class="card-chart">
        <div class="card-body">
          <div class="chart-area">
            <canvas baseChart id="sidebarchart" class="bg-dark"> </canvas>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</div>



<div [class]="isRecommendationOpened ? 'side-recommendation opened' : 'side-recommendation closed'">
  <div class="visible-part" (click)="toggleRecommendation()">
    <!-- <div *ngIf="isRecommendationOpened" class="visible-part opened" (click)="toggleRecommendation()"> -->
    <span class="vertical-text animated infinite slideInRight delay-4s">Recommended</span>
  </div>
  <div class="recommendations">
    <mat-card class="example-card mat-card" style="height:100%">
      <mat-card-header>
        <mat-card-title>Reccommendation</mat-card-title>
      </mat-card-header>
      <hr class="m-0">
      <mat-card-content>
        <ol type="1" style="list-style: decimal;margin-left: 5px;">
          <li>Hba1c</li>
          <li>Triglyceride</li>
          <li>Regular Yoga</li>
          <li>Cardio Consultation</li>
          <li>Regular exercise </li>
        </ol>
      </mat-card-content>
    </mat-card>
  </div>
</div>