.mat-card-header .mat-card-title {
  font-size: 12px;
  font-weight: bold;
}
.txt-rotate {
  //   transform: rotate(-90deg);
  margin: 0;
  position: absolute;
  left: 35%;
  top: 75%;
  transform: translate(-50%, -75%);
  white-space: nowrap;
  font-size: 16px;
  font-weight: bold;
}

.dd {
  transform: rotate(90deg);
  margin-left: -63%;
  margin-top: 42%;
}

mat-card-content.mat-card-content p {
  font-size: 12px;
}

.card-bottom-border {
  border-bottom: 5px solid #4db4c5;
}

.green {
  background: #0dac54;
  color: #fff;
}
.green-yellow {
  background: #4caa05;
  color: #fff;
}

.yellow {
  background: #c9d50a;
  color: #fff;
}
.yello-red {
  background: #d5970a;
  color: #fff;
}
.red {
  background: #d5390a;
  color: #fff;
}
// .canvas-middle {
//   margin-left: -150px;
// }
.visible-part {
  padding: 12px;
  background: #1ab945;
  box-shadow: -4px 0px 6px 3px #c7c7c7;
  color: #fff;
  font-size: 12px;
  text-align: -webkit-left;
  font-family: cursive;
  text-transform: uppercase;
  cursor: pointer;
}
.closed {
  left: 97%;
  transition: 0.3s ease-in;
}
.opened {
  transition: 0.3s ease-out;
  //   left: %;
  right: 0;
}
.side-recommendation {
  display: flex;
  position: absolute;
  top: 43%;
  right: 0;
  overflow: hidden;
}
.vertical-text {
  writing-mode: vertical-rl;
  text-orientation: upright;
}
.text-grey {
  color: #e4e4e4 !important;
}
.mat-expansion-panel-body {
  padding: 0 !important;
}
@media screen and (max-width: 786px) {
  p.txt-rotate {
    left: 28%;
  }
  .canvas-middle {
    margin-left: 0;
  }
  .closed {
    left: 89%;
    transition: 0.3s ease-in;
  }
}

mat-form-field {
  margin-right: 12px;
}
.disease-result-list li {
  font-size: 0.6rem;
}
.disease-box {
  min-height: 40px;
  background: #f4f1f1;
  border-radius: 3px;
  box-shadow: 0 0 3px 0px #6c757d;
}
.zone-box {
  overflow: auto;
}
i:hover {
  cursor: pointer;
}
.border-zone-card1 {
  background: linear-gradient(45deg, transparent, purple);
}
.border-zone-card2 {
  background: linear-gradient(240deg, transparent, #ffd400);
}

.safe-zone-card {
  background: linear-gradient(120deg, transparent, #00ff4e);
}
.danger-zone-card {
  background: linear-gradient(336deg, transparent, #ff003b);
}

// animations
.bg-pan-bottom {
  -webkit-animation: bg-pan-bottom 8s both;
  animation: bg-pan-bottom 8s both;
}
@-webkit-keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}
@keyframes bg-pan-bottom {
  0% {
    background-position: 50% 0;
  }
  100% {
    background-position: 50% 100%;
  }
}
