<main>
  <div class="container-fluid p-3">

    <!-- <h3 class="test-heading">{{city}}</h3> -->
    <div class="row">
      <div class="col-2"></div>
      <div class="col-md-7 ">
        <div style="display:flex;border-radius: 5px;overflow: hidden;background: #fff;;">
          <div class="city-box">
            <mat-icon matPrefix style="align-self: center;color: #e7e7e7;margin-right: 5px;cursor: pointer;"
              (click)="setCurrentLocation()">room</mat-icon>
            <div class="input-group no-border city">
              <input type="text" placeholder="city" matInput [formControl]="myControl" [matAutocomplete]="autoCity">
              <mat-autocomplete #autoCity="matAutocomplete">
                <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>

          <div class="search-box">
            <div class="input-group no-border">
              <mat-chip-list #chipList aria-label="Fruit selection">
                <mat-chip *ngFor="let fruit of searchcart" [selectable]="selectable" [removable]="removable"
                  (removed)="remove(fruit)">
                  {{fruit}}
                  <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>

              <input [matChipInputFor]="chipList" [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                (matChipInputTokenEnd)="add($event)" class="search-box-input" type="text" matInput
                placeholder="Search packages/ profiles/ tests" [formControl]="mycontrol" name="searchText"
                (focus)="showModel()" (keyup)="showModel()" [matAutocomplete]="auto">
              <div>
                <mat-autocomplete #auto="matAutocomplete" [panelWidth]="600">
                  <ul class="mega-dropdown-menu row">
                    <li class="col-sm-4">
                      <ul>
                        <li class="dropdown-header">Single Test</li>
                        <li *ngFor="let test of singleTestFiltered | async; let i = index">
                          <a (click)="addMaindropdown(test)">{{test}}</a>
                          <mat-icon *ngIf="checkMaindropdown(test)" matSuffix class="" style="align-self: center;">
                            done_outline</mat-icon>
                        </li>
                      </ul>
                    </li>
                    <li class="col-sm-4">
                      <ul>
                        <li class="dropdown-header">Profile Test</li>
                        <li *ngFor="let test of profileTestFiltered | async; let i = index">
                          <a (click)="addMaindropdown(test)">{{test}}</a>
                          <mat-icon *ngIf="checkMaindropdown(test)" matSuffix class="" style="align-self: center;">
                            done_outline</mat-icon>
                        </li>
                      </ul>
                    </li>
                    <li class="col-sm-4">
                      <ul>
                        <li class="dropdown-header">Package Test</li>
                        <li *ngFor="let test of packageTestFiltered | async; let i = index">
                          <a (click)="addMaindropdown(test)">{{test}}</a>
                          <mat-icon *ngIf="checkMaindropdown(test)" matSuffix class="" style="align-self: center;">
                            done_outline</mat-icon>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <mat-option>
                  </mat-option>
                </mat-autocomplete>
              </div>
            </div>
            <mat-icon matSuffix style="align-self: center;">search</mat-icon>
          </div>

        </div>

      </div>
      <div class="">
        <button class="btn btn-info">{{mycart.length}} My Cart</button>
      </div>
      <div class="ordernow">
        <button class="btn btn-success" (click)="proceed()">Proceed</button>
      </div>
    </div>

    <!--
       drop down 

    <div #menu class="row"   style="position: absolute;width: 100%;z-index: 99;"  >
      <div class="col-md-8 m-auto" *ngIf="isSearched" >
        <ul class="mega-dropdown-menu row" >
          <li class="col-sm-4">
            <ul>
              <li class="dropdown-header">Package Test</li>
              <li *ngFor="let test of singleTest; let i = index">
                <a (click)="addMaindropdown(test)">{{test}}</a>
                <mat-icon *ngIf="checkMaindropdown(test)" matSuffix class="" style="align-self: center;">done_outline</mat-icon>
              </li>
            </ul>
          </li>
          <li class="col-sm-4">
            <ul>
              <li class="dropdown-header">Profile Test</li>
              <li *ngFor="let test of packageTest; let i = index">
                <a (click)="addMaindropdown(test)">{{test}}</a>
                <mat-icon *ngIf="checkMaindropdown(test)" matSuffix class="" style="align-self: center;">done_outline</mat-icon>
              </li>
            </ul>
          </li>
          <li class="col-sm-4 ">
            <ul>
              <li class="dropdown-header">Single Test</li>
              <li *ngFor="let test of profileTestFiltered | async; let i = index">
                <a (click)="addMaindropdown(test)">{{test}}</a>
                <mat-icon *ngIf="checkMaindropdown(test)" matSuffix class="" style="align-self: center;">done_outline</mat-icon>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>

    -->
    <div class="row">
      <!--
      <div class="col-sm-12 col-md-2 col-lg-2">
        <div class="card justify-content-center pt-4 pb-4">
          <h5 class="text-center">Apply Filters</h5>
          <hr>
          <div class=" mt-2">
            <div class="ml-4">
                <mat-checkbox (change)="singleTestValueChanges($event.checked)">Single test </mat-checkbox>
            </div>
            <div class="ml-4">
                <mat-checkbox (change)="packageTestValueChanges($event.checked)">Package Test</mat-checkbox>
            </div>
            <div class="ml-4">
                <mat-checkbox (change)="profileTestValueChanges($event.checked)">Profile Test</mat-checkbox>
            </div>
            <div class="">
              <mat-expansion-panel>
                <mat-expansion-panel-header>
                  <mat-panel-title>
                    Price
                  </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-checkbox labelPosition="after" class="col-12" 
                (change)="priceValueChanges(0 , 1000  ,$event.checked)">Less than 1000</mat-checkbox>
                <mat-checkbox labelPosition="after" class="col-12"
                (change)="priceValueChanges( 1000 , 2000 ,$event.checked)"
                >1000 - 2000</mat-checkbox>
                <mat-checkbox labelPosition="after" class="col-12"
                (change)="priceValueChanges (2000 , 4000 ,$event.checked)"
                >2000 - 4000</mat-checkbox>
                <mat-checkbox labelPosition="after" class="col-12"
                (change)="priceValueChanges( 4000, 99999999 ,$event.checked)"
                >above 4000</mat-checkbox>
            </mat-expansion-panel>
            </div>
          </div>
          <div class="col-12 text-center mt-3">
            <button class="btn btn-warning" (click)="applyFilters()">Apply Filters</button>
          </div>
        </div>
      </div>
      -->
      <div class="col-12">
        <div class="row mt-4">
          <div class="col-md-1"></div>
          <div class="col-md-10">
            <mat-toolbar color="primary" class="top-navbar">
              <div class="row m-auto">
                <div class="col-md-3 filter-property">
                  <mat-checkbox (change)="singleTestValueChanges($event.checked)" class="blood-test-filter">
                    Single test </mat-checkbox>
                </div>
                <div class="col-md-3 filter-property">
                  <mat-checkbox (change)="packageTestValueChanges($event.checked)" class="blood-test-filter">
                    Package Test</mat-checkbox>
                </div>
                <div class="col-md-3 filter-property">
                  <mat-checkbox (change)="profileTestValueChanges($event.checked)" class="blood-test-filter">
                    Profile Test</mat-checkbox>
                </div>
                <div class="col-md-3 filter-property">
                  <mat-menu #priceMenu="matMenu">
                    <button mat-menu-item>Below Rs.1000</button>
                    <button mat-menu-item>Rs.1000-Rs.2000</button>
                    <button mat-menu-item>Rs.2000-Rs.4000</button>
                    <button mat-menu-item>Above 4000</button>
                  </mat-menu>

                  <button mat-flat-button [matMenuTriggerFor]="priceMenu">Charges <mat-icon>keyboard_arrow_down
                    </mat-icon></button>
                </div>
              </div>

            </mat-toolbar>
          </div>
        </div>
      </div>

      <div class="col-md-1"></div>
      <div class=" col-md-10">
        <div class="row mt-2">
          <div class="col-md-6 col-xl-4  mt-3 ml-0 mb-4" *ngFor="let shownresult of  shownresultarray; let i = index">
            <div class="row">
              <div class="col-12">
                <div class="card mt-0 mat-elevation-z3">
                  <div class="card-header ">
                    <div class="row">
                      <div class="col-md-8 card-icon">
                        <i class="material-icons">grade</i>
                        <i class="material-icons">grade</i>
                        <i class="material-icons">grade</i>
                      </div>
                      <div class="offers col-md-4">
                        <h3 style="float : right">
                          54% Off
                        </h3>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <h4 class="card-title m-0">Blood Test</h4>
                      </div>
                      <div class="col-md-6 view-details">
                        <button class="btn btn-default" (click)="viewDetails(i)">View details</button>
                      </div>
                    </div>
                  </div>
                  <div class="card-body">
                    <div class="row">
                      <div class="col-6">
                        <h5>
                          <label>
                            Includes :
                          </label>
                        </h5>
                      </div>
                      <div class="col-6">
                        <label>14 Parameters</label>
                      </div>
                    </div>
                    <div class="row mt-1">
                      <div class="col-12 ">
                        <h5>
                          <span class="rupeesign delete-text">
                            ₹&nbsp;{{shownresult.healcrumprice}}
                          </span>
                          <span class="offer-price">
                            ₹{{shownresult.offerprice}}
                          </span>
                        </h5>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-6">
                        <button class="btn btn-danger booknow" (click)="booknow(i)">Book Now <mat-icon>arrow_forward
                          </mat-icon></button>
                      </div>
                      <div class="col-6" *ngIf="!checkcart(shownresult._id)">
                        <button class="btn btn-default" (click)="addTocart(i)">Add to Cart <mat-icon>add_shopping_cart
                          </mat-icon></button>
                      </div>
                      <div class="col-6" *ngIf="checkcart(shownresult._id)">
                        <button class="btn btn-danger" (click)="removeFromcart(i)">Remove <mat-icon>add_shopping_cart
                          </mat-icon></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>