<main>
  <div class="skew-section pb-5 pt-5 mb-4">
    <div class="row pt-2 pb-2 mr-0">

      <div class="col-lg-3 col-md-12 col-sm-12 pr-0">
        <div class="container pt-lg-4 pt-sm-2 pt-md-2">
          <div class="row">
            <ul class="nav  nav-pills-warning nav-pills-icons justify-content-center pb-2" role="tablist">
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link1" role="tablist">
                  <img src="../../../../assets/img/icon_cat_1.svg">
                  <span>HRA</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link2" role="tablist">
                  <img src="../../../../assets/img/icon_cat_4.svg">
                  <span>Blood Tests</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link3" role="tablist">
                  <img src="../../../../assets/img/icon_cat_9.svg">
                  <span>Consultation</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link4" role="tablist">
                  <img src="../../../../assets/img/icon_cat_10.svg">
                  <span>Medicine</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link5" role="tablist">
                  <img src="../../../../assets/img/icon_cat_7.svg">
                  <span>Equipments</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link6" role="tablist">
                  <img src="../../../../assets/img/icon_cat_11.svg">
                  <span>Wellness</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link7" role="tablist">
                  <img src="../../../../assets/img/icon_cat_12.svg">
                  <span>EMR/EHR</span>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link cards" data-toggle="tab" href="#link8" role="tablist">
                  <img src="../../../../assets/img/icon_cat_13.svg">
                  <span>Personalized care</span>
                </a>
              </li>
            </ul>
          </div>

        </div>
      </div>
      <div class="col-lg-9 col-md-12 pr-0 pt-lg-3">

        <div class="tab-content tab-subcategories">
          <div class="tab-pane" id="link1">
            <div class="row ml-0 mr-0">
              <div class="col-lg-4 col-md-6">
                <h2 class="mb-4">Health Risk Assessment</h2>
                <p>We help to check your lifestyle and habits and help you tas they effects directly to health.
                  We try to know you as much as possible to help to you without affecting your personal information.
                </p>
                <p>Get a handle on your health with a fast Health Risk Assessment(HRA). The HRA shows how your lifestyle
                  choices affect your health. See what you can do to be healthier and live a longer life.
                </p>
                <p><a routerLink="/patient/hra" class="btn btn-success animated infinite pulse delay-2s">Goto
                    Dashboard</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/home_svgs/undraw_doctor_kw5l.svg" class="img-fluid" alt="healthcrum"
                  style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link2">

            <div class="row ml-0 mr-0">
              <div class="col-lg-4 col-md-6">
                <h2 class="mb-4">Blood Tests</h2>
                <p>Order blood tests online with or without insurance or doctor visit. Walk-In Lab offers direct access
                  to
                  cheap blood work and lab testing with secure results.</p>
                <p>You don't have to go to a clinic or a hospital for your blood test. We deliver our services to your
                  home with fast and reliable test results.</p>
                <p><a routerLink="/blood-test" class="btn btn-success animated infinite pulse delay-2s">Book a Test</a>
                </p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/medecines.png" class="img-fluid" alt="healthcrum" style="height:25vw">
              </div>
            </div>

          </div>
          <div class="tab-pane" id="link3">
            <div class="row ml-0 mr-0">
              <div class=" col-lg-4 col-md-6">
                <h2 class="mb-4">Consultation</h2>
                <p>Consult with our Healthcrum Doctors to save your time and convenience. </p>
                <p>
                  <li>24/7 access to Healthcrum doctors</li>
                  <li>phone/ online video consultations</li>
                  <li>30 minutes average callback time</li>
                </p>
                <p><a routerLink="/consultation" class="btn btn-success animated infinite pulse delay-2s">Book
                    Appointment</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/banner_img.svg" class="img-fluid" alt="healthcrum" style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link4">
            <div class="row ml-0 mr-0">
              <div class=" col-lg-4 col-md-6">
                <h2 class="mb-4">Medicine</h2>
                <p>Healthcrum provides the facility to order your medicines from your home with your medical
                  prescriptions.</p>
                <p>We deliver medicines at your doorstep to save your precious time in standing long and busy lines in
                  medical stores.</p>
                <p><a routerLink="/medecines" class="btn btn-success animated infinite pulse delay-2s">Order
                    Medicine</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/home_svgs/undraw_medical_care_movn.svg" class="img-fluid"
                  alt="healthcrum" style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link5">
            <div class="row ml-0 mr-0">
              <div class="col-lg-4 col-md-6">
                <h2 class="mb-4">Equipments</h2>
                <p>Healthcrum provides a variety of medical equipments for professionaland non-professional use to be
                  purchased from our online store at convenient prices with fast and breakage-free delivery to your
                  desired location.</p>
                <p>So, grab your desired equipments or order in bulk for your clinic or professional use.</p>
                <p><a routerLink="/equipments" class="btn btn-success animated infinite pulse delay-2s">Buy
                    Equipments</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/home_svgs//undraw_doctors_hwty.svg" class="img-fluid" alt="healthcrum"
                  style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link6">
            <div class="row ml-0 mr-0">
              <div class=" col-lg-4 col-md-6">
                <h2 class="mb-4">Wellness</h2>
                <p>Healthcrum helps to stay fit and healthy with various programs.</p>
                <p>
                  <li>Webinar</li>
                  <li>SPA/GYM</li>
                  <li>Zumba/Yoga</li>
                  <li>Weight Loss</li>
                  <li>Ayurveda –Panchakarma</li>
                </p>
                <p><a routerLink="/login" class="btn btn-success animated infinite pulse delay-2s">Join Now</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/home_svgs/undraw_medicine_b1ol.svg" class="img-fluid" alt="healthcrum"
                  style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link7">
            <div class="row ml-0 mr-0">
              <div class=" col-lg-4 col-md-6">
                <h2 class="mb-4">Medical Records</h2>
                <p>Healthcrum is providing you an electronic health records and medical practice management solution.
                </p>
                <p>Highly secure and you can show to the doctor with just one tap.</p>
                <p><a routerLink="/login" class="btn btn-success">Learn More</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/home_svgs/undraw_medical_research_qg4d.svg" class="img-fluid"
                  alt="healthcrum" style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="link8">
            <div class="row ml-0 mr-0">
              <div class="col-lg-4 col-md-6">
                <h2 class="mb-4">Personalized Care</h2>
                <p>Your beloved one is missing medicine on time?
                  There are times when you are not with your beloved ones when they need you.
                </p>
                <p>Healthcrum ensures to fill this gap and make available a personalized assistance who will take care
                  of
                  your medicine time-table.</p>
                <p><a routerLink="/patient/reports" class="btn btn-success animated infinite pulse delay-2s">Learn
                    More</a></p>
              </div>
              <div class="col-lg-8 col-md-6">
                <img src="../../../../assets/img/home_svgs/undraw_doctors_hwty.svg" class="img-fluid" alt="healthcrum"
                  style="height:25vw">
              </div>
            </div>
          </div>
          <div class="tab-pane active" id="link9">
            <div class="row text-center">
              <!-- <div class="col-md-6">
                <div class="input-group no-border">
                  <input type="text" value="" class="input-search" placeholder="Search test, lab, hospitals etc.">
                  <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
                    <i class="material-icons">search</i>
                    <div class="ripple-container"></div>
                  </button>
                </div>
              </div> -->
              <div class=" col-lg-12 mt-5 text-center">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                  <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                  </ol>
                  <div class="carousel-inner">
                    <div class="carousel-item active">
                      <img class="d-block w-100" src="../../../../assets/img/home_svgs/report.svg" rel="nofollow"
                        alt="First slide" style="height:25vw">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../../../assets/img/home_svgs/report_2.svg" rel="nofollow"
                        alt="Second slide" style="height:25vw">
                    </div>
                    <div class="carousel-item">
                      <img class="d-block w-100" src="../../../../assets/img/home_svgs/report_3.svg" rel="nofollow"
                        alt="Third slide" style="height:25vw">
                    </div>
                  </div>

                </div>
                <!-- <img src="../../../../assets/img/home_svgs/report.svg" class="img-fluid" alt="healthcrum"
                  style="height:25vw"> -->
              </div>

            </div>

          </div>

        </div>
        <!-- <img src='' style="margin: -20px -30px 0px 12px"> -->

      </div>
      <!-- <div
      style="background: url(../../../../assets/img/curve_vector.svg) no-repeat;background-size:cover;width:100%;height:35vh;margin-top:-35px;"
      class="mt-n3"></div> -->
    </div>

  </div>
  <!-- /Hero -->

  <!-- Specializations -->
  <!-- <div class="container margin_120_95">
    <div class="main_title">
      <h2>Find by<b> Specialization</b></h2>
      <p>Choose your requirement from our fulcrum group of services and we will provide you the desired assistance and
        help.</p>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home" id="specialization">
          <i class="icon-success-4"></i>
          <img src="../../../../assets/img/icon_cat_1.svg" width="60" height="60" alt="">
          <h3>Health Risk Assessment</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_4.svg" width="60" height="60" alt="">
          <h3>Blood Tests</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_9.svg" width="60" height="60" alt="">
          <h3>Consultation</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_10.svg" width="60" height="60" alt="">
          <h3>Medicine</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_7.svg" width="60" height="60" alt="">
          <h3>Equipments</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_11.svg" width="60" height="60" alt="">
          <h3>Wellness</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_12.svg" width="60" height="60" alt="">
          <h3>Medical Record–HER/EMR</h3>
        </a>
      </div>
      <div class="col-lg-3 col-md-6">
        <a href="#0" class="box_cat_home">
          <i class="icon-info-4"></i>
          <img src="../../../../assets/img/icon_cat_13.svg" width="60" height="60" alt="">
          <h3>Personalized care</h3>
        </a>
      </div>
    </div>

  </div> -->
  <!-- /container Specializations -->

  <!-- <section class="ftco-services py-5">
    <div class="container">
      <div class="row no-gutters">
        <div class="col-md-4 ftco-animate py-5 nav-link-wrap">
          <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link px-4 active" id="v-pills-master-tab" data-toggle="pill" href="#v-pills-hra" role="tab"
              aria-controls="v-pills-master" aria-selected="true"> Health Rish Assessment</a>

            <a class="nav-link px-4" id="v-pills-buffet-tab" data-toggle="pill" href="#v-pills-blood" role="tab"
              aria-controls="v-pills-buffet" aria-selected="false"> Blood Tests</a>

            <a class="nav-link px-4" id="v-pills-fitness-tab" data-toggle="pill" href="#v-pills-consult" role="tab"
              aria-controls="v-pills-fitness" aria-selected="false"> Consultation</a>

            <a class="nav-link px-4" id="v-pills-reception-tab" data-toggle="pill" href="#v-pills-medicine" role="tab"
              aria-controls="v-pills-reception" aria-selected="false"> Medicine</a>

            <a class="nav-link px-4" id="v-pills-sea-tab" data-toggle="pill" href="#v-pills-equipments" role="tab"
              aria-controls="v-pills-sea" aria-selected="false"> Equipments</a>

            <a class="nav-link px-4" id="v-pills-spa-tab" data-toggle="pill" href="#v-pills-wellness" role="tab"
              aria-controls="v-pills-spa" aria-selected="false"> Wellness</a>

            <a class="nav-link px-4" id="v-pills-spa-tab" data-toggle="pill" href="#v-pills-mrecord" role="tab"
              aria-controls="v-pills-spa" aria-selected="false"> Medical Records</a>

            <a class="nav-link px-4" id="v-pills-spa-tab" data-toggle="pill" href="#v-pills-pcare" role="tab"
              aria-controls="v-pills-spa" aria-selected="false"> Personalized Care</a>
          </div>
        </div>
        <div class="col-md-8 ftco-animate p-4 p-md-1 d-flex align-items-center">

          <div class="tab-content pl-md-5" id="v-pills-tabContent" style="font-size: 16px;">

            <div class="tab-pane fade show active py-0" id="v-pills-hra" role="tabpanel"
              aria-labelledby="v-pills-master-tab">
              <img src="../../../../assets/img/icon_cat_1.svg" width="80" height="80" alt="hra">
              <h2 class="mb-4">Health Risk Assessment</h2>
              <p>We help to check your lifestyle and habits and help you tas they effects directly to health.
                We try to know you as much as possible to help to you without affecting your personal information.
              </p>
              <p>Get a handle on your health with a fast Health Risk Assessment(HRA). The HRA shows how your lifestyle
                choices affect your health. See what you can do to be healthier and live a longer life.
              </p>
              <p><a href="#" class="btn btn-primary">Book Appointment</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-blood" role="tabpanel" aria-labelledby="v-pills-buffet-tab">
              <img src="../../../../assets/img/icon_cat_4.svg" width="80" height="80" alt="blood test">
              <h2 class="mb-4">Blood Tests</h2>
              <p>Order blood tests online with or without insurance or doctor visit. Walk-In Lab offers direct access to
                cheap blood work and lab testing with secure results.</p>
              <p>You don't have to go to a clinic or a hospital for your blood test. We deliver our services to your
                home with fast and reliable test results.</p>
              <p><a href="#" class="btn btn-primary">Book a Test</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-consult" role="tabpanel" aria-labelledby="v-pills-fitness-tab">
              <img src="../../../../assets/img/icon_cat_9.svg" width="80" height="80" alt="">
              <h2 class="mb-4">Consultation</h2>
              <p>Consult with our Healthcrum Doctors to save your time and convenience. </p>
              <p>
                <li>24/7 access to Healthcrum doctors</li>
                <li>phone/ online video consultations</li>
                <li>30 minutes average callback time</li>
              </p>


              <p><a href="#" class="btn btn-primary">Book Appointment</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-medicine" role="tabpanel"
              aria-labelledby="v-pills-reception-tab">
              <img src="../../../../assets/img/icon_cat_10.svg" width="80" height="80" alt="">
              <h2 class="mb-4">Medicine</h2>
              <p>Healthcrum provides the facility to order your medicines from your home with your medical
                prescriptions.</p>
              <p>We deliver medicines at your doorstep to save your precious time in standing long and busy lines in
                medical stores.</p>
              <p><a href="#" class="btn btn-primary">Order Medicine</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-equipments" role="tabpanel" aria-labelledby="v-pills-sea-tab">
              <img src="../../../../assets/img/icon_cat_7.svg" width="80" height="80" alt="">
              <h2 class="mb-4">Equipments</h2>
              <p>Healthcrum provides a variety of medical equipments for professionaland non-professional use to be
                purchased from our online store at convenient prices with fast and breakage-free delivery to your
                desired location.</p>
              <p>So, grab your desired equipments or order in bulk for your clinic or professional use.</p>
              <p><a href="#" class="btn btn-primary">Buy Equipments</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-wellness" role="tabpanel" aria-labelledby="v-pills-spa-tab">
              <img src="../../../../assets/img/icon_cat_11.svg" width="80" height="80" alt="">
              <h2 class="mb-4">Wellness</h2>
              <p>Healthcrum helps to stay fit and healthy with various programs.</p>
              <p>
                <li>Webinar</li>
                <li>SPA/GYM</li>
                <li>Zumba/Yoga</li>
                <li>Weight Loss</li>
                <li>Ayurveda –Panchakarma</li>
              </p>
              <p><a href="#" class="btn btn-primary">Join Now</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-mrecord" role="tabpanel" aria-labelledby="v-pills-spa-tab">
              <img src="../../../../assets/img/icon_cat_12.svg" width="80" height="80" alt="">
              <h2 class="mb-4">Medical Records</h2>
              <p>Healthcrum is providing you an electronic health records and medical practice management solution.</p>
              <p>Highly secure and you can show to the doctor with just one tap.</p>
              <p><a href="#" class="btn btn-primary">Learn More</a></p>
            </div>

            <div class="tab-pane fade py-0" id="v-pills-pcare" role="tabpanel" aria-labelledby="v-pills-spa-tab">
              <img src="../../../../assets/img/icon_cat_13.svg" width="80" height="80" alt="">
              <h2 class="mb-4">Personalized Care</h2>
              <p>Your beloved one is missing medicine on time?
                There are times when you are not with your beloved ones when they need you.
              </p>
              <p>Healthcrum ensures to fill this gap and make available a personalized assistance who will take care of
                your medicine time-table.</p>
              <p><a href="#" class="btn btn-primary">Learn More</a></p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </section> -->
  <section class="skew-section-both bg-green-grad py-lg-3 py-5 py-md-4">
    <div class="container margin_120_95 ">
      <div class="main_title">
        <h2 class="text-white">Discover our <strong>online</strong> appointment</h2>
        <p class="text-white-100">Healthcrum provides quality healthcare to its patients in remote areas and who wants
          to avail health services
          at their homes.</p>
      </div>
      <div class="row add_bottom_30">
        <div class="col-lg-4">
          <div class="box_feat" id="icon_1">
            <!-- <span class="slide-right"></span> -->
            <h3>Find a Doctor</h3>
            <p>Choose your preferred doctor.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box_feat" id="icon_2">
            <!-- <span class="slide-right"></span> -->
            <h3>View profile</h3>
            <p>Have a check on your profile.</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="box_feat" id="icon_3">
            <h3>Book a visit</h3>
            <p>Book an appointment with easy steps.</p>
          </div>
        </div>
      </div>
      <!-- /row -->
      <p class="text-center"><a href="#"
          class="btn btn-round btn-secondary animated infinite pulse delay-2s">Find Doctor</a></p>
    </div>
    <!-- /container -->
  </section>

  <!-- /container -->

  <!--our partners-->
  <div class="main_title mt-4 py-5">
    <h2 class="site__title">Our <b>Partners</b></h2>
    <p class="text-secondary">Healthcrum® has brought India's largest NABL certified Healthcare Diagnostics Centres
      at one place. Now, global citizens can expect right
      Healthcare services at their doorsteps with quality guidelines without having second thought.</p>
    <div class="container mt-5">
      <ngx-slick-carousel class="customer-logos " [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img src="{{ slide.img }}">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>

  <!--End our partners-->

  <div id="app_section">


    <div class="row justify-content-around m-0">
      <div class="col-md-5 p-0">
        <img src="../../../../assets/img/main/app-ill_2.svg" alt="" class="img-fluid"
          style="margin-left: 90px;transform: scale(1.5);">
      </div>
      <div class="col-md-6">
        <h5 class="mt-3 text-white text-bold">Application</h5>
        <h3>Download the <strong>Healthcrum App</strong> Now!</h3>
        <p class="lead">Now, you can get track your services, view your checkups and much more with notifications and
          updates right on your phone so get the app now.</p>
        <div class="app_buttons" data-wow-offset="100">
          <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
            y="0px" viewBox="0 0 43.1 85.9" style="enable-background:new 0 0 43.1 85.9;" xml:space="preserve">
            <path stroke-linecap="round" stroke-linejoin="round" class="st0 draw-arrow"
              d="M11.3,2.5c-5.8,5-8.7,12.7-9,20.3s2,15.1,5.3,22c6.7,14,18,25.8,31.7,33.1" />
            <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-1"
              d="M40.6,78.1C39,71.3,37.2,64.6,35.2,58" />
            <path stroke-linecap="round" stroke-linejoin="round" class="draw-arrow tail-2"
              d="M39.8,78.5c-7.2,1.7-14.3,3.3-21.5,4.9" />
          </svg>
          <a href="#0" class="fadeIn mr-3"><img src="../../../../assets/img/apple_app.png" alt="" width="150"
              height="50" data-retina="true"></a>
          <a href="#0" class="fadeIn"><img src="../../../../assets/img/google_play_app.png" alt="" width="150"
              height="50" data-retina="true"></a>
        </div>

      </div>
      <!-- /row -->
    </div>
    <!-- /container -->
  </div>
</main>