<main>
  <div class="container-fluid pt-4">

    <div class="row top-details pb-4">
      <div class="col-sm-3 mt-4">
        <mat-card class="example-card mat-card text-center" (click)="uploadPrescription()">
          <mat-card-header>
            <mat-card-title>
              <div class="col-12">
                <div class="row">
                  <div class="col-1 padding-zero">
                    <mat-icon >cloud_upload</mat-icon>
                  </div>
                  <div class="col-11">
                     Upload prescription
                  </div>
                </div>
              </div>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-sm-3 mt-4 pointer">
        <mat-card class="example-card mat-card text-center" (click)="prescribeByHealthCrumDoctor()">
          <mat-card-header>
            <mat-card-title>
              <div class="col-12">
                <div class="row">
                  <div class="col-1 padding-zero">
                    <mat-icon >description</mat-icon>
                  </div>
                  <div class="col-11">
                    Prescribe by healthcrum doctor
                  </div>
                </div>
              </div>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-sm-3 mt-4 pointer">
        <!-- <button class="btn btn-warning"></button> -->
        <mat-card class="example-card mat-card text-center" (click)="uploadPrescription()">
          <mat-card-header>
            <mat-card-title>
              <div class="col-12">
                <div class="row">
                  <div class="col-1 padding-zero">
                    <mat-icon>announcement</mat-icon>
                  </div>
                  <div class="col-11">
                    Uploaded Prescription
                  </div>
                </div>
              </div>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
      <div class="col-sm-3 mt-4 pointer">
        <mat-card class="example-card mat-card text-center" (click)="onlineConsultation()">
          <mat-card-header>
            <mat-card-title>
              <div class="col-12">
                <div class="row">
                  <div class="col-1 padding-zero">
                    <mat-icon>account_box</mat-icon>
                  </div>
                  <div class="col-11">
                    Take online consultation
                  </div>
                </div>
              </div>
            </mat-card-title>
          </mat-card-header>
        </mat-card>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-1"></div>
      <div class="col-md-7 ">
        <div style="display:flex;border-radius: 5px;overflow: hidden;background: #fff;;">
          <div class="city-box">
            <mat-icon matPrefix style="align-self: center;color: #e7e7e7;margin-right: 5px;cursor: pointer;"
              (click)="setCurrentLocation()">room</mat-icon>
            <div class="input-group no-border city">
              <input type="text" placeholder="city" matInput [formControl]="myControl" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                  {{option}}
                </mat-option>
              </mat-autocomplete>
            </div>
          </div>
          <div class="search-box">     
            <div class="input-group no-border">
              <input  
                [formControl] = "searchText"
                [(ngModel)]="searchBarMain"
                class="search-box-input" 
                type="text" 
                #toggleButton
                placeholder= "Search Medicine"
                (keyup.enter)="searchBar()"
              >
            </div>
            <mat-icon matSuffix class="search-icon" style="align-self: center; cursor : pointer;" (click)=" searchBar()">search</mat-icon>
          </div>
        </div>   
      </div>
      <div class=""> 
        <button class="btn btn-info"> Cart <mat-icon>add_shopping_cart</mat-icon></button>
      </div>
      <div class="ordernow" style="padding-left : 3px">
        <button class="btn btn-custom" (click)="proceed()">Proceed</button>
      </div>
    </div>

    <div class="medicine-drop-down row category-menu display-in-block" style="justify-content : center">
      <div *ngFor="let category of menuBar; let i = index" class="dropdown-main">
        <div class="dropdown">
          <div class="row no-margin hover-effect">
            <div>
              <span><button class="dropbtn">{{category.name | titlecase}}
               <mat-icon class="drop-down-arrow dropbtn">arrow_drop_down_circle</mat-icon></button> </span>
              
            </div>
            
          </div>
          
          <div class="dropdown-content">

            <div  class="sub-category-div" *ngFor="let subcat of category.subcategory">
              
              <a href="#" class="sub-category-heading"> {{subcat.name | titlecase}} </a>
              <a href="#" class="s-s-category" *ngFor = "let sscat of subcat.subcategory">  {{sscat.name | titlecase}}</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-12 padding-null" >   
        <!--
        <mat-toolbar class="top-navbar padding-null">
          <div class="col-sm-3 col-lg-2 mt-1 p-0">
            <button class="filter btn btn-link" mat-flat-button [matMenuTriggerFor]="priceMenu">Price <mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>
          <div class="col-sm-3 col-lg-2 mt-1 p-0">
            <button class="filter btn btn-link" mat-flat-button [matMenuTriggerFor]="brandMenu">Brand <mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>
          <div class="col-sm-3 col-lg-2 mt-1 p-0">
            <button  class="filter btn btn-link" mat-flat-button [matMenuTriggerFor]="sortMenu">Sort <mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>
          <div class="col-sm-3 col-lg-2 mt-1 p-0">
            <button class="filter btn btn-link" mat-flat-button [matMenuTriggerFor]="discountMenu">Discount<mat-icon>keyboard_arrow_down</mat-icon></button>
          </div>
          <mat-menu #priceMenu ="matMenu">
            <div class="col-12">
              <mat-slider
                thumbLabel
                [displayWith]="formatLabel"
                tickInterval="1"
                min="1"
                max="100"
                [value]="priceValue"
                (change)="updatePrice($event)"
                >
              </mat-slider>
            </div>
            
          </mat-menu>
          
          <mat-menu #brandMenu ="matMenu">
            <div clas="col-12">
              <div clas="row" style="padding-left : 10px">
                <div clas="col-md-6" *ngFor="let brand of brands">
                  <mat-checkbox>{{brand}}</mat-checkbox>
                </div>
              </div>
            </div>
              
          </mat-menu>

          <mat-menu #sortMenu ="matMenu">
            <button mat-menu-item (click)="sortMedicine(true)" >Increasing price </button>
            <button mat-menu-item (click)="sortMedicine(false)">Decreasing price</button>
          </mat-menu>

          <mat-menu #discountMenu ="matMenu">
            <button mat-menu-item (click)="discount(1)">50%</button>
            <button mat-menu-item (click)="discount(2)">60%</button>
          </mat-menu>

        </mat-toolbar>
        -->
      </div>
    </div>

    <div class="row mt-2">
      <div class="col-sm-12 col-md-8 col-lg-9">

        <mat-tab-group>

          <mat-tab label="Vertical View">
            <div class="row bg-white mt-2">
              <div class="col-12">
                <p class="m-0 top-title">Tablets</p>
              </div>
              <div class="col-12 element" [ngClass]="tablets ? 'display-in-block' : 'display-in-line'">

                <div class="col-sm-6 col-md-3 " *ngFor="let tab of tablet">
                  <div  class="card card-product card-plain no-shadow doc-card" (click)="goToMedecine(1)">
                    <div class="card-header card-header-image">
                      <a href="#">
                        <img src="{{tab.img}}" alt="tablets">
                      </a>
                    </div>
                    <div class="card-body">
                      <div class="">
                        <p class="m-0">{{tab.name}} <label class="brand-name">({{tab.brand}})</label></p>
                      </div>
                      <div class="row">
                        <div class="col-12">
                          <span class="description col-">
                            {{tab.pieces}} pieces
                          </span>
                          <span class="stock ml-2">{{tab.stock}} stock</span>
                        </div>
                      </div>
                      <mat-divider></mat-divider>
                      <div class="mt-2" >
                        <div class="price-container">
                          <span>Rs.{{tab.price}}</span>
                          <span class="btn btn-link cart-label">Add to cart</span>
                        </div>
                      </div>
                    </div>
                  </div> 
                </div>
              </div>
            </div>

            <div class="row bg-white mt-2 mb-2">
              <div class="col-12">
                <p class="m-0 top-title">Capsules</p>
              </div>

              <div class="col-12 element" [ngClass]="capsules ? 'display-in-block' : 'display-in-line'">
                <div class="col-md-2" *ngFor="let i of items">
                  <div class="card card-product card-plain no-shadow doc-card" (click)="goToMedecine(2)">
                    <div class="card-header card-header-image">
                      <a href="#">
                        <img src="../../../../assets/img/capsule.png" alt="...">
                      </a>
                    </div>
                    <div class="card-body">
                      <p class="m-0">Protien A</p>
                      <span class="description">
                        20 pcs.
                      </span>
                    </div>
                    <div class="card-footer justify-content-between">
                      <div class="price-container">
                        <span> ₹ 1200</span>
                      </div>
                    </div>
                  </div> <!-- end card -->
                </div>
              </div>
            </div>

            <div class="row bg-white">
              <div class="col-12">
                <p class="m-0 top-title">Syrups</p>
              </div>
              <div class="col-12 element" [ngClass]="syrups ? 'display-in-block' : 'display-in-line'">
                <div class="col-md-2" *ngFor="let i of items">
                  <div class="card card-product card-plain no-shadow doc-card" (click)="goToMedecine(3)">
                    <div class="card-header card-header-image">
                      <a href="#">
                        <img src="../../../../assets/img/syrup.png" alt="...">
                      </a>
                    </div>
                    <div class="card-body">
                      <p class="m-0">Cystone</p>
                      <span class="description">
                        1 pcs.
                      </span>
                    </div>
                    <div class="card-footer justify-content-between">
                      <div class="price-container">
                        <span> ₹ 250</span>
                      </div>
                    </div>
                  </div> <!-- end card -->
                </div>
              </div>
            </div>

          </mat-tab>

          <mat-tab label="Horizontal View">
            <mat-card class=" mt-2" *ngFor="let tab of tablet">
              <mat-card-content>
                <div class="col-12">
                  <div class="row">
                    <div class="col-4">
                      <img
                        src="{{tab.img}}"
                        class="img-class"
                      >
                    </div>
                    <div class="col-4">
                      <div class="row">
                        <div class="col-12 justify-content-center">
                          <h3 class="heading-name">{{tab.name}}</h3>
                          <span class="heading-span">{{tab.brand}} | {{tab.stock}} stock</span>
                        </div>
                        <div class="price-div col-12 mt-4 justify-content-center">
                          <h4 class="main-price">
                            Rs.{{tab.price}}
                          </h4>
                          <label> / {{tab.pieces}} pieces</label>
                        </div>
                      </div>
                    </div>
                    <div class="col-4 justify-content-center">
                      <div style="float : right" > 
                        <button class="btn btn-common btn-cart">Add to cart</button>
                      </div>
                      <div class="mt-3" style="float : right">
                        <button class="btn btn-common btn-detail">View Details</button>
                      </div>
                    </div>
                  </div>
                </div>
              </mat-card-content>
            </mat-card>
          </mat-tab>
        </mat-tab-group>
        
        <div class="row">
          <div class="col-md-3 ml-auto mr-auto mb-3 mt-3">
            <div style="display:flex">
              <button *ngIf="isNext" rel="tooltip" class="btn btn-rose mr-3 btn-round" data-original-title="go back"
                title="go back">
                <i class="material-icons" (click)="goPrev">keyboard_arrow_left</i>
              </button>
              <button rel="tooltip" class="btn btn-rose btn-round" data-original-title="go forward" title="go forward">
                <i class="material-icons" (click)="goNext">keyboard_arrow_right</i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>