.element {
  -ms-overflow-style: none;
}
.element {
  overflow: -moz-scrollbars-none;
}
.element::-webkit-scrollbar {
  width: 0 !important;
}
.doc-card:hover {
  box-shadow: 0 0 4px 1px #d1d1d1;
  padding: 6px;
  transition: ease-out 0.3s;
  cursor: pointer;
}
.top-title {
  width: fit-content;
  background: #15c9d1;
  padding: 5px 20px;
  color: #fff;
  box-shadow: 0px 6px 6px 0px #c7c5c5;
}
.card .card-header.card-header-image img {
  height: 150px;
  object-fit: contain;
}
.display-in-line {
  display: flex;
  overflow-y: auto;
}
.display-in-block {
  display: flex;
  flex-wrap: wrap;
}

.brand-name{
  font-size: smaller;
}
.stock{
  float: right;
}
.cart-label{
  cursor: pointer;
  float: right;
  padding: 0;
  margin-top: 0;
  &:hover{
    transform: scale(1.05);

  }
}

// fot top search bar
$bg : #eff4f7;
$yellow :#E87528;
$blue : #00A0A8;

.city-box {
    display: flex;
    background: #1ba89b;
    padding-left: 5px;
    color: #fff;
    width: 40%;
    input{
        background-color: transparent;
        border: none;
        color: white;
    }
} 
.input-group {
    height: 100%;
}
.search-box {
    padding-left: 5px;
    width: 100%;
    background: white;
    display: flex;
    height: 45px;
    padding-right: 10px;
    .search-box-input{
        width: 100%;
        border: none;
    }
}

// top search bar end

.filter{
  color: black;
  padding-left: 0;
}

.img-class {
  width: 150px;
}

.heading-name{
  margin: 0;
}
.main-price{
  display: inline;
  font-size: large;
  font-weight: bold;
  color: $blue;
}

.btn-common{
  border-radius: 5px;;
}

.btn-cart{
  color: white;
  background-color: $blue;
}
.btn-detail{
  color: $blue;
  background-color: white;
}
.price-container{
  color: $blue;
  font-weight: 600;
}

.btn-custom {
  background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
}
.btn-custom:hover {
  background: linear-gradient(to right, rgb(4, 158, 112), #107d6e);
}
@media only screen and (max-width: 500px){
  .stock {
    float: none;
  }
}