.full-width {
  width: 100%;
}
.bg-pan-left {
  -webkit-animation: bg-pan-left 8s both;
  animation: bg-pan-left 8s both;
}
@-webkit-keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
@keyframes bg-pan-left {
  0% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
.tab-icon {
  margin-right: 8px;
}
.w-65 {
  width: 65% !important;
}
