<div class="appoint container-fluid">
  <h4 style="margin-top: 5em; margin-bottom: 0;">On Going Service</h4>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div style="border-color: red;" class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#pablo" class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">timer</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-info btn-round">Cancel</a>
        </div>
      </div>
    </div>
  </div>
  <h4 style="margin-top: 5em; margin-bottom: 0;">Past Service</h4>
  <div class="row">
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic">
            <i class="material-icons timer">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic icon-rose">
            <i class="material-icons timer">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic icon-rose">
            <i class="material-icons timer">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic icon-rose">
            <i class="material-icons timer success">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic icon-rose">
            <i class="material-icons timer success">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card card-pricing card-raised">
        <div class="card-body">
          <h6 class="card-category">Service Name</h6>
          <div class="ic icon-rose">
            <i class="material-icons timer success">done</i>
          </div>
          <h3 class="card-title">4 days</h3>
          <p class="card-description">
            About Service
          </p>
          <a href="#" class="btn btn-warning btn-round">View Info</a>
        </div>
      </div>
    </div>
  </div>
</div>