.bg-green {
    background: linear-gradient(to right,#5CD1CB, #28c1b5);
}
.align-center {
    text-align: center;
}

@mixin white-color {
    color: white;
}
.top-label{
    @include white-color;
    padding-top: 15px;
    font-size: large;
}
.top-icon{
    @include white-color;
}
.order-number{
    @include white-color;
}
.order-date{
    @include white-color;
}
td{
    @include white-color
}

.pdf-button{
    color: #4DCCC6;
    background-color: white;
    &:hover{
        @include white-color;
        background-color: #4DCCC6;
    } 
}


// for the pdf

.top-logo{
    height: 250px;
    width: 320px;
}

#pdf{
    // height: 720px;
     width: 720px;
}