/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

/*ftco-home*/

.ftco-services .nav-link-wrap {
    background: #167ce9; }
    @media (min-width: 768px) {
    .ftco-services .nav-link-wrap {
    margin-top: -40px; } }
@media (max-width: 767.98px) {
    .ftco-services .nav-link-wrap {
    background: #167ce9;
    margin-top: 30px; } }

.ftco-services .nav-pills p {
margin-bottom: 0; }

.ftco-services .nav-pills .nav-link {
float: left;
border-radius: 0;
margin-bottom: 0;
color: rgba(255, 255, 255, 0.6);
font-size: 20px;
font-weight: 400;
position: relative; }
.ftco-services .nav-pills .nav-link:after {
    position: absolute;
    top: 20px;
    bottom: 10px;
    right: 0;
    width: 0;
    height: 0;
    content: '';
    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent #fafafa transparent transparent;
    opacity: 0; }
.ftco-services .nav-pills .nav-link span {
    font-size: 24px;
    margin-right: 5px;
    color: rgba(255, 255, 255, 0.6); }
.ftco-services .nav-pills .nav-link.active, .ftco-services .nav-pills .nav-link:hover {
    color: #fff;
    font-size: 20px;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    background: transparent;
    font-weight: 700; }
    .ftco-services .nav-pills .nav-link.active:after, .ftco-services .nav-pills .nav-link:hover:after {
    opacity: 1; }
    .ftco-services .nav-pills .nav-link.active span, .ftco-services .nav-pills .nav-link:hover span {
    color: #fff; }
    @media (max-width: 767.98px) {
    .ftco-services .nav-pills .nav-link.active:after, .ftco-services .nav-pills .nav-link:hover:after {
        opacity: 0; } }
@media (max-width: 767.98px) {
    .ftco-services .nav-pills .nav-link {
    display: block;
    width: 100%; } }

.ftco-services .tab-content .tab-pane .icon {
font-size: 100px;
color: #167ce9;
line-height: 1.2; }

.ftco-services .tab-content .tab-pane h2 {
font-size: 28px; }

.ftco-section-2 {
position: relative;
display: block;
width: 100%;
overflow-x: hidden; }