$bg : #eff4f7;
$yellow :#E87528;
$blue : #00A0A8;

.city-box {
    display: flex;
    background: #1ba89b;
    padding-left: 5px;
    color: #fff;
    width: 40%;
    input{
        background-color: transparent;
        border: none;
        color: white;
    }
} 
.input-group {
    height: 100%;
}
.search-box {
    padding-left: 5px;
    width: 100%;
    background: white;
    display: flex;
    height: 45px;
    padding-right: 10px;
    .search-box-input{
        width: 100%;
        border: none;
    }
}

.container-fluid{
    background-color: $bg;
    overflow: scroll;
    height: 80%;
}
.example-full-width{
    width: 100%;
    background-color: white;
}

.img-circle{
    border-radius: 50%;   
    height: 200px;
    width: 180px;
    margin-top: 5px;
}

.top-navbar{
    background: linear-gradient(to right, #17c0d3, #027e8e);
    button{
        margin-right: 4rem;;
    }
}

.btn{
    width: 100%;
    //border-radius: 25px;
}
.btn-round {
    border-radius: 25px;
}

.btn-danger{
    background-color: $yellow;
    color: white;
}

.doctor-card {
    background-color: white;
}
.doctor-feedback{
    margin-top: -15px;
    margin-left: -15px;
}
.doctor-image{
   // margin-top: -10px;
}

@media screen and (min-width : 1200px) {
    .center{
        width: 60%;
    }
    .consultation-image {
        width: 70%;
    }
}
@media screen and (max-width : 1199px) {
    .center{
        width: 80%;
    }
    .consultation-image {
        width: 80%;
    }
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  //  height: 100%;
    //width: 80%;
}

.doctor-name > h4 {
    color : $blue;
    text-align: center;
    font-weight: 600;
    font-size: 20px;
    font-family: cursive;
}
.consultation-div{
    margin-top: -20px;
    border: 1px solid black;
}

.consultation-div-horizontal, .consultation-div {
   
    margin-top : -15px;
    .consultation-heading{
        color: white;
        background: linear-gradient(to right, #17c0d3, #027e8e);
        margin-left: -15px;
        padding: 5px;
    }
}

.image-data{
    color: black;
    font-size: smaller;
}
.emergency-image {
    width: 80%;
}
.emergency-time{
    margin-top: -15px;
}

.doctor-location-image{
   // margin: -15px;
    width: 50px
}
.text-center{
    text-align: center;
}







// style for horizontal

.feedback-horizontal{
    margin-top: -15px;
}

table{
    width: 100%;
}
.consultation-horizontal{
    padding-right: 0;;
}

.consultation-image-horizontal{
    width: 35px;
}
.emergency-image-horizontal{
    width: 50px;
}

.horizontal-location{
    width: 45px;
    cursor: pointer;
}

.consultation-port-new{
   background-color: $yellow;
   margin: 5px;
   border-radius: 10px;
   padding: 5px;
    .consultation-label-top{
     //   color: white;
        margin-left: 10px;
    }
    label{
        color: white;
    }
}
.consultation-border{
    border: 1px solid black;
}
.emergency-section{
    border: 1px solid black;
    margin-top: 10px;
}
.normal-fee-heading{
    color: $yellow;
    font-size: small;
    text-align: center;
}
.normal-fee-cost{
    text-align: center;
    color: $yellow;
    font-weight: 600;
    
}

.emergency-fee{
    color: black;
    margin-left: 2px;
    //font-size: smaller;
    //font-weight: 600;
    padding: 0;
}

// .emergency-time-div {
//     //margin-top: -10px;
// }

.emergency-time{
    color: black;
    font-size: small;
}

.bottom-view-details{
    color: #0C9DAE;
    font-size: x-large;
    font-family: serif;
    cursor: pointer;
}
.bottom-view-feedback{
    color: black;
    font-family: cursive;
    margin-top: 8px;
}

.active-feedback{
   // color: coral;
    color: #E87528;
}
.passive-feedback{
    color: #f7e5c3
}
.cursor-pointer{
    cursor: pointer;
    :hover{
        background-color: $bg;
    }
}

.logo{
    width: 25px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 5px;
}
.search-icon {
    cursor: pointer;
    &:hover{
        background-color: $bg;
    }   
}

.not-found{
    padding: 10px;
    background-color: white;
    margin-top: 25px;
}