<div class="container-fluid p-3" #main>

  <!--
  <div class="col-md-2"></div>
  <div class="mt-4 col-md-9">
    <div class="row">
      <div class="col-8">
        <form class="example-form">
          <mat-form-field class="example-full-width">
            <mat-label>Search Doctor</mat-label>
            <input matInput class="bg-white" >
            <mat-icon matSuffix style="align-self: center;">search</mat-icon>
          </mat-form-field>
        </form>
      </div>
    </div>
  </div>
  -->
  <div class="row">
    <div class="col-2"></div>
    <div class="col-md-7 ">
      <div style="display:flex;border-radius: 5px;overflow: hidden;background: #fff;;">
        <div class="city-box">
          <mat-icon matPrefix style="align-self: center;color: #e7e7e7;margin-right: 5px;cursor: pointer;"
            (click)="setCurrentLocation()">room</mat-icon>
          <div class="input-group no-border city">
            <input type="text" placeholder="city" matInput [formControl]="myControl" [matAutocomplete]="auto">
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let option of filteredCities | async" [value]="option">
                {{option}}
              </mat-option>
            </mat-autocomplete>
          </div>
        </div>
        
        <div class="search-box">     
          <div class="input-group no-border">
            <input  
              [(ngModel)]="searchBarMain"
              class="search-box-input" 
              type="text" 
              #toggleButton
              placeholder= "Search Doctor"
            >
          </div>
          <div class="consultation">
            <mat-form-field style="padding-top: 4px">
              <mat-label>Select an option</mat-label>
              <mat-select [(value)]="searchBy" (selectionChange)="searchByFunction($event)">
                <mat-option value="name">Search by name</mat-option>
                <mat-option value="speciality">Search by speciality</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <mat-icon matSuffix class="search-icon" style="align-self: center;" (click)=" searchBar()">search</mat-icon>
        </div>
      </div>   
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-12">   
      <mat-toolbar color="primary" class="top-navbar">
        <mat-menu #streamMenu ="matMenu">
          <button mat-menu-item (click)="getStream('Ayurvedic')" >Ayurvedic</button>
          <button mat-menu-item (click)="getStream('Allopathic')">Allopathic</button>
          <button mat-menu-item (click)="getStream('Homeophathic')">Homeophathic</button>
        </mat-menu>
        
        <mat-menu #specialityMenu ="matMenu">
          <button mat-menu-item (click)="getSpeciality('heart')">Heart Specialist</button>
          <button mat-menu-item (click)="getSpeciality('skin')">Skin Speciality</button>
          <button mat-menu-item (click)="getSpeciality('lung')">Lungs Speciality</button>
          <button mat-menu-item (click)="getSpeciality('dentist')">Dentist</button>
        </mat-menu>

        <mat-menu #genderMenu ="matMenu">
          <button mat-menu-item (click)="getGender('male')" >Male</button>
          <button mat-menu-item (click)="getGender('female')">Female</button>
        </mat-menu>

        <mat-menu #experienceMenu ="matMenu">
          <button mat-menu-item (click)="getExperience(2)">Below 2 years</button>
          <button mat-menu-item (click)="getExperience(5)">2 years to 5 years</button>
          <button mat-menu-item (click)="getExperience(10)">Above 5 years</button>
        </mat-menu>

        <mat-menu #healthcrumMenu ="matMenu">
          <button mat-menu-item (click)="getDoctorType(true)">Healthcrum Doctor</button>
          <button mat-menu-item (click)="getDoctorType(true)">Other doctors</button>
        </mat-menu>

        <mat-menu #consultationMenu ="matMenu">
          <button mat-menu-item (click)="getConsultation('tele')">Telephonic consultation</button>
          <button mat-menu-item (click)="getConsultation('video')">Video consultation</button>
          <button mat-menu-item (click)="getConsultation('emergency')">Physical consultation</button>
          <button mat-menu-item (click)="getConsultation('physical')">Physical consultation</button>
        </mat-menu>

        <mat-menu #ratingMenu ="matMenu">
          <button mat-menu-item (click)="getRating(1)">1 stars</button>
          <button mat-menu-item (click)="getRating(2)">2 stars</button>
          <button mat-menu-item (click)="getRating(3)">3 stars</button>
          <button mat-menu-item (click)="getRating(4)">4 stars</button>
          <button mat-menu-item (click)="getRating(5)">5 stars</button>
        </mat-menu>

        <button class="" mat-flat-button [matMenuTriggerFor]="streamMenu">Stream <mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-flat-button [matMenuTriggerFor]="specialityMenu">Speciality <mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-flat-button [matMenuTriggerFor]="genderMenu">Gender <mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-flat-button [matMenuTriggerFor]="experienceMenu">Experience <mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-flat-button [matMenuTriggerFor]="healthcrumMenu">Type of doctor <mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-flat-button [matMenuTriggerFor]="consultationMenu">consultation <mat-icon>keyboard_arrow_down</mat-icon></button>
        <button mat-flat-button [matMenuTriggerFor]="ratingMenu">Rating <mat-icon>keyboard_arrow_down</mat-icon></button>
      </mat-toolbar>
    </div>
  </div>

 
  <div class="col-md-1"></div>
  <div class="col-md-9">
    <div class="row" *ngIf="!horizontal">
      <div 
        class="col-md-6 col-lg-4 mt-4  mt-3 ml-0 mb-4 "
       *ngFor="let doctor of doctors; let i = index" >    
        <div class="row">
          <div class="col-12 ">
              <mat-card  class=" doctor-card" style="padding-top : 0">  
                <div class="row feedback-horizontal">
                  <i class="material-icons" [ngClass]="i < rating ? 'active-feedback' : 'passive-feedback' " 
                  *ngFor="let star of ratingArray; let i = index">grade</i>
                  <div class="logo-div">
                    <img
                      src="./assets/img/consulation/logo.png"
                      class="logo"
                    >
                  </div>  
                </div>
                <div class="row">
                  <div class="col-12 doctor-image">
                    <img src={{doctor.profilepic}} 
                    alt="loading..."                         
                    class="center img-circle">
                  </div>
                </div>
                <div class="row mt-0">
                  <div class="col-md-12 doctor-name mt-0">
                    <h4 class=" m-0 ">{{doctor.name}}</h4>
                  </div>
                </div>
                <!--
                <div class="row">
                  <div class="col-12">
                    <table class="table">
                      <tbody>
                        <tr>
                          <td>Speciality :</td>
                          <td>{{doctor.speciality}}</td>
                        </tr>
                        <tr>
                          <td>Degree :</td>
                          <td>{{doctor.degree}}</td>
                        </tr>
                        <tr>
                          <td>Experience :</td>
                          <td>{{doctor.experience}}</td>
                        </tr>   
                      </tbody>
                    </table>
                  </div>
                </div>
                -->
                <div class="row mt-2">
                  <div class="col-4 text-center">
                    <!--<label>Specialist</label>-->
                    {{doctor.speciality}}
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-4 text-center">
                    <!--<label>Degree</label>-->
                    <label style="color : black" *ngFor="let deg of doctor.qualification">{{deg | uppercase}}</label>
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-3 text-center">
                    <!--<label>Experience</label>-->
                  {{doctor.experience}}+</div>
                </div>
                <div class="row mt-1 ml-1 mr-1">

                <!--
                  <div class="col-12">
                    <label class="consultation-heading mat-elevation-z5">
                      Consultation
                    </label>
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-4">
                        <img
                          src="./assets/img/consulation/blood-test/video.png"
                          class="consultation-image"
                        >
                        <label class="image-data">
                          8am-6pm
                        </label>
                      </div>
                      <div class="col-4">
                        <img
                          src="./assets/img/consulation/blood-test/telephone.jpg"
                          class="consultation-image"
                        >
                        <label class="image-data">
                          8am-6pm
                        </label>
                      </div>
                      <div class="col-4">
                        <img
                          src="./assets/img/consulation/blood-test/physicalMeeting.jpg"
                          class="consultation-image"
                        >
                        <label class="image-data">
                          8am-6pm
                        </label>
                      </div>
                    </div>
                  </div>
                  
                  <div class="col-12 emergency-section">
                      <mat-divider></mat-divider>
                    <div class="row">
                      
                      <div class="col-5 mt-1">
                        <img
                          src="./assets/img/consulation/blood-test/emergency1.jpg"
                          class="emergency-image"
                        >
                      </div>
                      
                      <div class="col-7 mt-2">
                        <div class="row">
                          <div class="col-12 emergency-fee mt-1">
                            <h5>Fee : Rs 1500</h5>
                          </div>
                          <div class="col-12 emergency-time">
                            <h4>24 hrs</h4>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>   
                -->
                  <div class="col-12 consultation-port-new">
                    <div class="row"> 
                      <div class="col-12">
                        <label class="consultation-label-top">
                          BOOK APPOINTMENT
                        </label>
                      </div>
                      <div class="col-12">
                        <label class="consultation-label-bottom">
                          Click Preferred Mode of Consultation
                        </label>
                      </div>
                    </div> 
                  </div>
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3 cursor-pointer" style="padding : 0">
                        <div class="cursor-pointer" (click)="openDialog('video', i)">
                          <div>
                            <img
                              src="./assets/img/consulation/blood-test/video.png"
                              class="consultation-image-horizontal "
                            >
                          </div>
                          <div>
                            <label class="image-data">
                              {{doctor.consultationTiming.video.from}} - {{doctor.consultationTiming.video.to}}
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3 cursor-pointer" style="padding : 0">
                        <div  class=" cursor-pointer" (click)="openDialog('tele', i)">
                          <div>
                            <img
                              src="./assets/img/consulation/blood-test/telephone.jpg"
                              class="consultation-image-horizontal center"
                            >
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.tele.from}} - {{doctor.consultationTiming.tele.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3 cursor-pointer" style="padding : 0">
                        <div  class=" cursor-pointer" (click)="openDialog('physical', i)">
                          <div>
                            <img
                              src="./assets/img/consulation/blood-test/physicalMeeting.jpg"
                              class="consultation-image-horizontal center"
                            >
                          </div>
                          <label class="image-data">
                             {{doctor.consultationTiming.physical.from}} - {{doctor.consultationTiming.physical.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3 cursor-pointer"style="padding : 0">
                        <div class=" cursor-pointer" (click)="openDialog('chat', i)">
                          <div>
                            <img
                              src="./assets/img/consulation/blood-test/phone.jpg"
                              class="consultation-image-horizontal center"
                            >
                          </div>
                          <label class="image-data">
                            8am-6pm
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-12 emergency-section">
                    <div class="row">
                      <div class="col-5">
                        <div class="row mt-1">
                          <div class="col-md-12" style="padding : 0">
                            <label class="normal-fee-heading">
                              Consultation Fee 
                            </label>
                          </div>
                          
                          <div class="col-md-4 normal-fee-cost">
                            Rs.{{doctor.consultationFees}}/-
                          </div>
                        </div>
                      </div>
                       <mat-divider [vertical]="true"></mat-divider>
                      <div class="col-6">
                        <div class="row ">
                          <div class="col-5 mt-1" style="padding : 0">
                            <img
                              src="./assets/img/consulation/blood-test/emergency1.jpg"
                              class="emergency-image-horizontal"
                            >
                          </div>
                          <div class="col-7 mt-1" class="cursor-pointer">
                            <div class="row" class="cursor-pointer">
                              <div class="col-12 emergency-fee mt-1" class="cursor-pointer">
                                <label class="emergency-fee" tyle="font-size : smaller;padding-left: 15px;">Fee : {{doctor.emergencyFees}}</label>
                              </div>
                              <div class="col-12 emergency-time-div" class="cursor-pointer">
                                <label class="emergency-time">24 hrs</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <div class="col-6 mt-3">
                        <label style="color : black">City  :  Mohali</label>
                      </div>
                      <div class="col-6">
                        <div class="row">
                          <div class="col-5">
                            <img
                              src="./assets/img/consulation/blood-test/location.jpg"
                              class="doctor-location-image"
                            >
                          </div>
                          <div class="col-7 mt-3">
                            5 KM
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <!--
                  <div class="col-12">
                    <button class="btn  booknow" >Book Appointment <mat-icon>arrow_forward</mat-icon></button>
                  </div>
                  -->
                  <div class="col-12">
                    <button class="btn btn-info booknow" (click)="knowMore(i)" ><mat-icon>control_point</mat-icon>View profile</button>
                  </div>
                </div>
                
              </mat-card>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="horizontal">
      <div class="row horizontal-port mt-4" *ngFor="let doctor of doctors; let i = index"> <!--Apply loop here-->
        <div class="col-12">
          <mat-card  class=" doctor-card">  
            <div class="row ">
              <div class="col-4">
                <div class="row feedback-horizontal">
                  
                  <i class="material-icons" [ngClass]="ind < rating ? 'active-feedback' : 'passive-feedback' " 
                  *ngFor="let star of ratingArray let ind = index">grade</i> 
                </div>
                <div class="row">
                  <div class="col-12 doctor-image">
                    <img src={{doctor.profilepic}} 
                    alt="loading..."                         
                    class="center img-circle">
                  </div>
                </div>
                <!--
                <div class="row">
                  <div class="col-10">
                      <button class="btn btn-danger booknow" >Book Appointment <mat-icon>arrow_forward</mat-icon></button>
                    </div>
                  <div class="col-10">
                      <button class="btn btn-info booknow" (click)="knowMore(i)" ><mat-icon>control_point</mat-icon> Know More</button>
                    </div>
                </div>
                -->
              </div>

              <div class="col-3">
                <div class="row mt-0">
                  <div class="col-md-12 doctor-name mt-0">
                    <h4 class=" m-0 ">{{doctor.name }}</h4>
                  </div>
                </div>
                <div class="row mt-4">
                  
                  <div class="col-4 text-center">
                    <!--<label>Specialist</label>-->
                    {{doctor.speciality | titlecase }}
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-4 text-center">
                  <!--  <label>Degree</label> 
                  {{doctor.degree}}-->
                    <label style="color : black" *ngFor="let deg of doctor.qualification">{{deg | titlecase}}</label>
                  </div>
                  
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-3 text-center">
                  <!--  <label>Experience</label> -->
                  {{doctor.experience}} years</div>
                  
                </div>
                
                <div class="row mt-3">
                  <div class="col-4 text-center">
                    <div>
                    <!--  <label>City</label> -->
                    </div>
                   {{doctor.location.city | titlecase}}
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-4 text-center">
                    <div>
                    <!--  <label>Distance</label> -->
                    </div>
                    5 Km
                  </div>
                  <mat-divider [vertical]="true"></mat-divider>
                  <div class="col-3 text-center">
                    <div>
                    <!--  <label>Location</label> -->
                    </div>
                    <img
                      src="./assets/img/consulation/blood-test/location.jpg"
                      class="horizontal-location"
                    >
                  </div>
                </div>
              </div>

              <div class="col-5 consultation-horizontal">
                <div class="row consultation-div-horizontal ml-4 mr-1">
                  
                  <div class="col-12 consultation-port-new">
                    <div class="row"> 
                      <div class="col-9" style="padding-right : 0">
                        <div class="row">
                          <div class="col-md-12">
                            <label class="consultation-label-top">
                              BOOK APPOINTMENT
                            </label>
                          </div>
                          <div class="col-md-12">
                            <label class="consultation-label-bottom">
                              Click Preferred Mode of Consultation
                            </label>
                          </div>
                        </div>
                      </div>
                      <div class="col-3" style="padding : 0; font-size : large; color : white">
                        Rs.{{doctor.consultationFees}}/-
                      </div>
                    </div> 
                  </div>
                  
                  <div class="col-12">
                    <div class="row">
                      <div class="col-3 " (click)="openDialog('video', i)">
                        <div class="consultation-border cursor-pointer text-center">
                          <div class="center">
                            <img
                              src="./assets/img/consulation/blood-test/video.png"
                              class="consultation-image-horizontal"
                            >
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.video.from}} - {{doctor.consultationTiming.video.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3" (click)="openDialog('telephonic', i)">
                        <div  class="consultation-border cursor-pointer text-center">
                          <div  class="center">
                            <img
                              src="./assets/img/consulation/blood-test/telephone.jpg"
                              class="consultation-image-horizontal"
                            >
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.tele.from}} - {{doctor.consultationTiming.tele.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3" (click)="openDialog('physical', i)">
                        <div  class="consultation-border cursor-pointer text-center">
                          <div class="center">
                            <img
                              src="./assets/img/consulation/blood-test/physicalMeeting.jpg"
                              class="consultation-image-horizontal"
                            >
                          </div>
                          <label class="image-data">
                            {{doctor.consultationTiming.physical.from}} - {{doctor.consultationTiming.physical.to}}
                          </label>
                        </div>
                      </div>
                      <div class="col-3" (click)="openDialog('chat', i)">
                        <div  class="consultation-border cursor-pointer text-center">
                          <div class="center">
                            <img
                              src="./assets/img/consulation/blood-test/phone.jpg"
                              class="consultation-image-horizontal"
                            >
                          </div>
                          <label class="image-data ">
                            {{doctor.chat}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                  <!--
                  <div class="col-12">
                    <label class="consultation-heading mat-elevation-z5">
                      Consultation
                    </label>
                  </div>

                  <div class="col-12">
                    <div class="row">
                      <div class="col-4">
                        <div>
                          <img
                            src="./assets/img/consulation/blood-test/video.png"
                            class="consultation-image-horizontal"
                          >
                        </div>
                        <label class="image-data">
                          8am-6pm
                        </label>
                      </div>
                      <div class="col-4">
                        <div>
                          <img
                            src="./assets/img/consulation/blood-test/telephone.jpg"
                            class="consultation-image-horizontal"
                          >
                        </div>
                        <label class="image-data">
                          8am-6pm
                        </label>
                      </div>
                      <div class="col-4">
                        <div>
                          <img
                            src="./assets/img/consulation/blood-test/physicalMeeting.jpg"
                            class="consultation-image-horizontal"
                          >
                        </div>
                        <label class="image-data">
                          8am-6pm
                        </label>
                      </div>
                    </div>
                  </div>
                  -->
                  <div class="col-12 emergency-section">
                    <div class="row">
                      <div class="col-7 cursor-pointer" (click)="openDialog('emergency', i)">
                        <div class="row cursor-pointer">
                          <div class="col-md-4 mt-1">
                            <img
                              src="./assets/img/consulation/blood-test/emergency1.jpg"
                              class="emergency-image-horizontal"
                            >
                          </div>
                          <div class="col-md-2"></div>
                          <div class="col-6 mt-1 cursor-pointer">
                            <div class="row">
                              <div class="col-12 emergency-fee mt-1">
                                <label class="emergency-fee">Fee : {{doctor.emergencyFees}}/-</label>
                              </div>
                              <div class="col-12 emergency-time-div" style="margin-top : -5px">
                                <label class="emergency-time">24 hrs</label>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>   
                </div>
              </div>
            </div>
            <mat-divider></mat-divider>
            <div class="row">
              <div class="col-4">
                <div class="center">
                  <label class="bottom-view-details" (click)="knowMore(i)">View profile</label>
                </div>
              </div>
              <div class="col-3">
                <div class="center ">
                  <label class="bottom-view-feedback">40 Feedbacks</label>
                </div>
              </div>
              <div class="col-4 logo-div">
                <img
                  src="./assets/img/consulation/logo.png"
                  class="logo"
                  style="margin-top: 5px; width : 35px"
                >
              </div>  
            </div>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>