$bg : #eff4f7;
$yellow :#E87528;
$blue : #00A0A8;

@mixin font-family {
    font-family: serif;
}

@mixin sans-serif-font {
    font-family: sans-serif;
}

.common-font {
    @include font-family()
}

.city-box {
    display: flex;
    background: #1ba89b;
    padding-left: 5px;
    color: #fff;
    width: 40%;
    input{
        background-color: transparent;
        border: none;
        color: white;
    }
} 
.input-group {
    height: 100%;
}
.search-box {
    padding-left: 5px;
    width: 100%;
    background: white;
    display: flex;
    height: 45px;
    padding-right: 10px;
    .search-box-input{
        width: 100%;
        border: none;
    }
}

.container-fluid{
    background-color: $bg;
    //overflow: scroll;
}
.example-full-width{
    width: 100%;
    background-color: white;
}

.img-circle{
    border-radius: 50%;   
    height: 180px;
    width: 180px;
    margin-top: 5px;
}

.top-navbar{
    background: linear-gradient(to right, #17c0d3, #027e8e);
    button{
        margin-right: 4rem;;
    }
}

.btn{
    width: 100%;
    //border-radius: 25px;
}
.btn-round {
    border-radius: 25px;
}

.btn-danger{
    background-color: $yellow;
    color: white;
}

.doctor-card {
    background-color: white;
}
.doctor-feedback{
    margin-top: -15px;
    margin-left: -15px;
}

@media screen and (min-width : 1200px) {
    .center{
        width: 60%;
    }
    .consultation-image {
        width: 70%;
    }
}
@media screen and (max-width : 1199px) {
    // .center{
    //     width: 80%;
    // }
    // .consultation-image {
    //     width: 80%;
    // }
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
  //  height: 100%;
    //width: 80%;
}

.doctor-name > h4 {
    color : $blue;
    text-align: center;
    //font-weight: 600;
    font-size: 20px;
   @include font-family()
}
.consultation-div{
    margin-top: -20px;
    border: 1px solid black;
    //padding: 0;
}

.consultation-div-horizontal, .consultation-div {
   
    margin-top : 5px;
    margin-right: 20px !important;
    .consultation-heading{
        color: white;
        background: linear-gradient(to right, #17c0d3, #027e8e);
        margin-left: -15px;
        padding: 5px;
    }
}


.emergency-image {
    width: 80%;
}
.emergency-time{
    margin-top: -15px;
}

.doctor-location-image{
   // margin: -15px;
    width: 50px
}
.text-center{
    //font-family: sans-serif;
    text-align: center;
}







// style for horizontal

.feedback-horizontal{
    margin-top: -15px;
}

table{
    width: 100%;
}
.consultation-horizontal{
    padding: 0;
    padding-right: 0;
    margin-top: 2px;
}

.consultation-image-horizontal{
    width: 35px;
}
.emergency-image-horizontal{
    width: 50px;
}

.horizontal-location{
    width: 45px;
    cursor: pointer;
}

.consultation-port-new{
   background-color: $yellow;
  // margin-bottom: 5px;
   border-radius: 5px 5px 0 0;
  // padding: 5px
    label{
        color: white;
    }
}
.padding-top {
    padding-top: 5px;
}
.consultation-border{
    // border: 1px solid black;
    // border-radius: 3px;
    padding-top: 5px;
    color: black;
    .image-data{
         color: inherit;
         cursor: inherit;
         //@include font-family();
         @include sans-serif-font() ;
         font-size: small;
    }
    &:hover {
        color: white;
        background: linear-gradient(to right, #17c0d3, #027e8e);
        border: transparent;
    }
}
.emergency-section{
    //border: 1px solid black;
    border-radius: 3px;
    margin-top: 4px;
    transition: 0.2 ease-in;
    cursor: pointer;
    &:hover {
        transform: scale(0.9);
    }
    
}
.normal-fee-heading{
    color: $yellow;
    font-size: small;
    text-align: center;
}
.normal-fee-cost{
    text-align: center;
    color: $yellow;
    font-weight: 600;
    
}
.bookconsultation-div{
    padding: 0;
  //  padding-right: 3px; 
}

.emergency-fee{
    color: black;
    margin-left: 2px;
    //font-size: smaller;
    //font-weight: 600;
    padding: 0;
}

// .emergency-time-div {
//     //margin-top: -10px;
// }

.emergency-time{
    color: black;
    font-size: small;
}

.bottom-view-details{
    color: #0C9DAE;
    font-size: large;
    margin-bottom: 0;
    margin-top: 4px;
   @include font-family();
    cursor: pointer;
}
.bottom-view-feedback{
    color: black;
    @include font-family();
    margin-top: 8px;
}

.active-feedback{
   // color: coral;
    color: #E87528;
}
.passive-feedback{
    color: #f7e5c3
}
.cursor-pointer{
    cursor: pointer;
    
}

.logo{
    width: 25px;
    position: absolute;
    right: 25px;
    top: 0;
    margin-right: 5px;
}
.search-icon {
    cursor: pointer;
    &:hover{
        background-color: $bg;
    }   
}

.not-found{
    padding: 10px;
    background-color: white;
    margin-top: 25px;
}

.book-appointment-row{
    background-color: #eaeff2;
    //padding: 5px 0px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}
.example-radio-button {
    margin: 5px;
}
.filter-checkbox{
    display: flex;
    flex-direction: column;
    margin: 0 10px;
    
}
.filter-div{
    justify-content: center;
    margin: 0;
}
#navbarSupportedContent{
    .navbar-nav{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}
a {
    cursor: pointer;
}
.before-filter{
    justify-content: center;
}
.navbar{
    padding: 0;
    justify-content: space-evenly;
    width: 100%;
}
#navbarSupportedContent{
    width: 100%;
    ul {
        width: inherit;
        justify-content: space-evenly !important;
    }
}
.dropdown-menu{
    background-color: white !important;
    //  display: flex !important;
    // flex-direction: column;
    height: auto !important;
    padding: 10px;
}
.before-filter{
    font-size: inherit;
}
.after-filter{
    font-weight: bold !important;
}
.sort-div{
    padding: 0;
    .hover-effect{
        margin: 0;
        &:hover{
            color: white;
        }
    }
}
