<div style="margin-top: 7em;" class="appoint container-fluid">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header card-header-icon card-header-rose">
        <div class="card-icon">
          <i class="material-icons">assignment</i>
        </div>
        <h4 class="card-title ">Medical Records</h4>
      </div>
      <div class="card-body table-full-width table-hover">
        <div class="table-responsive">
          <table class="table">
            <thead class="">
              <tr>
                <th>
                  ID
                </th>
                <th>
                  Report Type
                </th>
                <th>
                  Patient's Name
                </th>
                <th>
                  Location
                </th>
                <th>
                  Lab Name
                </th>
                <th>
                  Report Date
                </th>
                <th>
                  Report Status
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr class="table-warning">
                <td>
                  1
                </td>
                <td>
                  Blood Report
                </td>
                <td>
                  patient Name
                </td>

                <td>
                  Place
                </td>
                <td>
                  Lab Name
                </td>

                <td>
                  12/12/20xx
                </td>
                <td>
                  Waiting for approval
                </td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Approve Report">
                    <i class="material-icons text-success">done</i>
                  </button>
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Dis-approve Report">
                    <i class="material-icons text-danger">clear</i>
                  </button>
                </td>
              </tr>
              <tr class=" table-warning">
                <td>
                  2
                </td>
                <td>
                  Urine Reports
                </td>
                <td>
                  Patient name
                </td>
                <td>
                  Delhi
                </td>
                <td>
                  Lab Name
                </td>

                <td>
                  12/12/20xx
                </td>
                <td>
                  Waiting for approval
                </td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Approve Report">
                    <i class="material-icons text-success">done</i>
                  </button>
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Dis-approve Report">
                    <i class="material-icons text-danger">clear</i>
                  </button>
                </td>
              </tr>
              <tr class="table-success">
                <td>
                  3
                </td>
                <td>
                  Kidney Reports
                </td>
                <td>
                  Patient Name
                </td>
                <td>
                  Delhi
                </td>
                <td>
                  Lab Name
                </td>

                <td>
                  12/12/20xx
                </td>
                <td>
                  Approved
                </td>
                <td>

                </td>
              </tr>
              <tr class="table-warning">
                <td>
                  4
                </td>
                <td>
                  Nerve Reports
                </td>
                <td>
                  Patient Name
                </td>
                <td>
                  Delhi
                </td>
                <td>
                  Lab Name
                </td>
                <td>
                  12/12/20xx
                </td>
                <td>
                  Waiting for approval
                </td>
                <td class="td-actions">
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Approve Report">
                    <i class="material-icons text-success">done</i>
                  </button>
                  <button type="button" rel="tooltip" data-placement="left" title="" class="btn btn-link"
                    data-original-title="Dis-approve Report">
                    <i class="material-icons text-danger">clear</i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>