<div class="main-content">
  <div class="container-fluid">

    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">

                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active text-white" href="#Tests" data-toggle="tab">
                      <i class="material-icons">code</i> All Tests
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link text-white" href="#add-Test" data-toggle="tab">
                      <i class="material-icons">add</i> Add New Test
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="Tests">
                <table class="table">
                  <thead class="text-warning">
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let test of testList;index as i">
                      <td>{{ i+1 }}</td>
                      <td>{{test.name}}</td>
                      <td class="td-actions text-right">
                        <button mat-raised-button type="button" matTooltip="Edit Task" [matTooltipPosition]="'above'"
                          class="btn btn-primary btn-link btn-sm btn-just-icon">
                          <i class="material-icons">edit</i>
                        </button>
                        <button mat-raised-button type="button" matTooltip="Remove" [matTooltipPosition]="'above'"
                          class="btn btn-danger btn-link btn-sm btn-just-icon">
                          <i class="material-icons">close</i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="tab-pane" id="add-Test">
                <div class="container-fluid">
                  <nz-spin [nzSpinning]="testAddingLoader">
                  <form class="form">
                    <div class="card-body">
                      <div class="row" style="justify-content: space-between;">
                        <div class="col-md-4">
                          <mat-form-field class="full-width">
                            <mat-label>Test Name</mat-label>
                            <input matInput id="fname" [(ngModel)]="test_name" name="test_name" required>
                          </mat-form-field>
                         
                        </div>
                        <div class="col-md-6">

                          <div class="row">
                            <div class="col-4" style="display:flex;"><b style="align-self:center">Prescribed
                                Range</b></div>
                            <div class="col-4">
                              <mat-form-field class="full-width">
                                <mat-label>From</mat-label>
                                <input matInput id="range_from"  [(ngModel)]="range_from"  name="range_from" required>
                              </mat-form-field>
                             
                            </div>
                            <div class="col-4">
                              <mat-form-field class="full-width">
                                <mat-label>To</mat-label>
                                <input matInput id="range_to"  [(ngModel)]="range_to"  name="range_to" required>
                              </mat-form-field>
                              
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row">
                        <div class="col-lg-4 col-md-4">
                         
                          <mat-form-field class="full-width">
                            <mat-label>When get tested ?</mat-label>
                            <textarea matInput rows="4" [(ngModel)]="when" name="when" required></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4">
                         
                          <mat-form-field class="full-width">
                            <mat-label>Why Get Tested ?</mat-label>
                            <textarea matInput rows="4" [(ngModel)]="why" name="why" required></textarea>
                          </mat-form-field>
                        </div>
                        <div class="col-lg-4 col-md-4">
                         
                          <mat-form-field class="full-width">
                            <mat-label>What will be tested ?</mat-label>
                            <textarea matInput rows="4" [(ngModel)]="what" name="what" required></textarea>
                          </mat-form-field>
                        </div>
                      </div>

                      <div class="row mt-5">
                        <div class="col-md-4" style="align-self: center;">
                          <b for="Sample" class="mr-3">Sample Required ?</b>
                          <mat-radio-group aria-label="Sample">
                            <mat-radio-button class="mat-primary" value="1" (click)="sampleRequiredYes()">Yes
                            </mat-radio-button>
                            <mat-radio-button class="mat-primary" value="2" (click)="sampleRequiredNo()">No
                            </mat-radio-button>
                          </mat-radio-group>
                        </div>
                        <div class="col-md-4" *ngIf="sample_required">
                          <mat-form-field class="full-width">
                            <mat-label>Sample Of ?</mat-label>
                            <textarea matInput rows="4" [(ngModel)]="sample" name="sample"></textarea>
                          </mat-form-field>
                         
                        </div>
                      </div>

                      <div class="row mt-5">
                        <div class="col-md-4">
                          <b for="Fasting" class="mr-3">Fasting Required ?</b>
                          <mat-radio-group aria-label="Fasting">
                            <mat-radio-button class="mat-primary" value="1" (click)="changeFastingYes()">Yes
                            </mat-radio-button>
                            <mat-radio-button class="mat-primary" value="2" (click)="changeFastingNo()">No
                            </mat-radio-button>
                          </mat-radio-group>

                        </div>

                        <div *ngIf="fasting" class="col-md-4">
                          <mat-form-field class="full-width">
                            <mat-label>Times (in Hrs.)</mat-label>
                            <input matInput  [(ngModel)]="fasting_time" name="fasting_time">
                          </mat-form-field>
                       
                        </div>
                      </div>

                      <div class="row mt-5">
                        <div class="col-lg-6">

                          <div class="row ml-1">
                            <div class="mt-1 mr-3">
                              <p>Recommended For ?</p>
                            </div>
                            <mat-checkbox class="mr-2" [(ngModel)]="male" name="male">Male</mat-checkbox>
                            <mat-checkbox class="mr-2" [(ngModel)]="female" name="female">Female</mat-checkbox>
                            <mat-checkbox class="mr-2" [(ngModel)]="kids" name="kids">Kids</mat-checkbox>
                          </div>

                        </div>
                      </div>

                      <div class="row mt-5">
                        <div class="col-lg-4 col-md-4">
                          <mat-form-field class="full-width">
                            <mat-label>Recommended Age</mat-label>
                            <input matInput  [(ngModel)]="recommended_age" name="recommended_age" required>
                          </mat-form-field>
                         
                        </div>
                        <div class="col-lg-8 col-md-8">

                          <div class="row">
                            <div class="col-md-3"><label class="bmd-label-floating">Reporting Time</label></div>
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>From</mat-label>
                                <input matInput type="time" [(ngModel)]="reporting_from"
                                name="reporting_from" required>
                              </mat-form-field>
                              
                            </div>
                            
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>To</mat-label>
                                <input matInput type="time" [(ngModel)]="reporting_to" name="reporting_to" required>
                              </mat-form-field>
                             
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- <hr> -->
                      <div class="row mt-5">
                        <div class="col-md-4">
                          <mat-form-field class="full-width">
                            <mat-label>MRP</mat-label>
                            <input matInput type="number" [(ngModel)]="mrp" name="mrp" required>
                          </mat-form-field>
                      
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="full-width">
                            <mat-label>Offer Price</mat-label>
                            <input matInput type="number" [(ngModel)]="offer_price" name="offer_price" required>
                          </mat-form-field>
                          
                        </div>
                        <div class="col-md-4">
                          <mat-form-field class="full-width">
                            <mat-label>Healthcrum Price</mat-label>
                            <input matInput type="number" [(ngModel)]="healthcrum_price" name="healthcrum_price" required>
                          </mat-form-field>
                         
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer justify-content-center">
                      <button  class="btn btn-info" (click)="saveSingleTest()">Add Test</button>
                    </div>
                  </form>
                </nz-spin>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>