<div class="appoint container-fluid">
  <div class="row">
    <mat-tab-group style="width : 100%">
      <mat-tab label="Upcoming appointments"> 
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon">
              <div class="card-icon shad ">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title ">Upcoming Appointments</h4>
            </div>
            <div class="card-body">
              <div class="example-header">
                <mat-form-field>
                  <mat-label>Filter Appointments</mat-label>
                  <input matInput (keyup)="filternew($event.target.value)" >
                </mat-form-field>
              </div>
               <div *ngIf="loading" class="loadingio-spinner-spinner-4o1nzyijdek"><div class="ldio-bz74ojoebh">
                <div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div>
                </div></div>
              <div class="table-responsive">
          
                <table mat-table [dataSource]="newTableData">

                  <ng-container matColumnDef="appointmentNum">
                    <th mat-header-cell *matHeaderCellDef> Appointment No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.appointmentNum}} </td>
                  </ng-container>

                  <ng-container matColumnDef="patient_name">
                    <th mat-header-cell *matHeaderCellDef>Patient Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="patientEmail">
                    <th mat-header-cell *matHeaderCellDef> Patient Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.patientEmail}} </td>
                  </ng-container>

                  <ng-container matColumnDef="appointmentType">
                    <th mat-header-cell *matHeaderCellDef>Appointment Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.appointmentType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Appointment Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Appointment time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                  </ng-container>
                  <ng-container matColumnDef="others">
                    <th mat-header-cell *matHeaderCellDef>Action </th>
                    <td mat-cell *matCellDef="let element; index as i"> 
                      <button mat-raised-button type="button" matTooltip="Approve" [matTooltipPosition]="'above'"
                        class="btn btn-success btn-link btn-sm btn-just-icon" (click)="doAction('accepted', i)">
                        <i class="material-icons" style="color : white">done</i>
                      </button>
                      <button mat-raised-button type="button" matTooltip="cancel" [matTooltipPosition]="'above'"
                        class="btn btn-danger btn-link btn-sm btn-just-icon" (click)="doAction('rejected', i)">
                        <i class="material-icons">close</i>
                      </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #newAppointments [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Confirmed appointments"> 
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon">
              <div class="card-icon shad ">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title">Confirmed Appointments</h4>
            </div>
            <div class="card-body">
              <div class="example-header">
                <mat-form-field>
                  <mat-label>Filter Appointments</mat-label>
                  <input matInput (keyup)="filterConfirm($event.target.value)" >
                </mat-form-field>
              </div>
              <div class="table-responsive">
                

                <table mat-table [dataSource]="confirmTableData">

                  <ng-container matColumnDef="appointmentNum">
                    <th mat-header-cell *matHeaderCellDef> Appointment No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.appointmentNum}} </td>
                  </ng-container>

                  <ng-container matColumnDef="patient_name">
                    <th mat-header-cell *matHeaderCellDef>Patient Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="patientEmail">
                    <th mat-header-cell *matHeaderCellDef> Patient Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.patientEmail}} </td>
                  </ng-container>

                  <ng-container matColumnDef="appointmentType">
                    <th mat-header-cell *matHeaderCellDef>Appointment Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.appointmentType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Appointment Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Appointment time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                  </ng-container>
                  <ng-container matColumnDef="others">
                    <th mat-header-cell *matHeaderCellDef>Give Prescription </th>
                    <td mat-cell *matCellDef="let element; index as i"> 
                      <button mat-raised-button type="button" 
                        matTooltip="Give prescription" [matTooltipPosition]="'above'"
                        (click)="goToEprescription(i)"
                          class="btn btn-info btn-link btn-sm btn-just-icon">
                          <mat-icon>input</mat-icon>
                        </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #confirmeAppointments [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Past appointments">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-icon">
              <div class="card-icon shad ">
                <i class="material-icons">assignment</i>
              </div>
              <h4 class="card-title ">Past Appointments</h4>
            </div>
            <div class="card-body">
              <div class="example-header">
                <mat-form-field>
                  <mat-label>Filter Appointments</mat-label>
                  <input matInput (keyup)="filterpast($event.target.value)" >
                </mat-form-field>
              </div>
              <div class="table-responsive">
                <table mat-table [dataSource]="pastTableData">

                  <ng-container matColumnDef="appointmentNum">
                    <th mat-header-cell *matHeaderCellDef> Appointment No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.appointmentNum}} </td>
                  </ng-container>

                  <ng-container matColumnDef="patient_name">
                    <th mat-header-cell *matHeaderCellDef>Patient Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.patient_name}} </td>
                  </ng-container>

                  <ng-container matColumnDef="patientEmail">
                    <th mat-header-cell *matHeaderCellDef> Patient Email</th>
                    <td mat-cell *matCellDef="let element"> {{element.patientEmail}} </td>
                  </ng-container>

                  <ng-container matColumnDef="appointmentType">
                    <th mat-header-cell *matHeaderCellDef>Appointment Type </th>
                    <td mat-cell *matCellDef="let element"> {{element.appointmentType}} </td>
                  </ng-container>

                  <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef>Appointment Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
                  </ng-container>

                  <ng-container matColumnDef="time">
                    <th mat-header-cell *matHeaderCellDef>Appointment time </th>
                    <td mat-cell *matCellDef="let element"> {{element.time}} </td>
                  </ng-container>
                  <ng-container matColumnDef="others">
                    <th mat-header-cell *matHeaderCellDef>Given Prescription </th>
                    <td mat-cell *matCellDef="let element; index as i"> 
                      <button mat-raised-button 
                          (click)="getPdf(element.orderId)"
                          type="button" matTooltip="view" [matTooltipPosition]="'above'"
                          class="btn btn-info btn-link btn-sm btn-just-icon">
                          <i class="material-icons">visibility</i>
                        </button>
                    </td>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator #pastAppointments [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>