$bg : #1BA89B;

.img-doctor {
    width: 220px;
    height: 220px;
    border-radius: 15px 15px 0 0;
}

.image-div{
    width: 220px;
    background: transparent;
}

.bg-greenMix{
  
   border-radius: 20px;
}

.name-label{
    width: 100%;
    color:  #1BA89B;
    text-align: center;
    vertical-align: text-top;
}

.doctor-name{
   // background-color: white;
    border-radius: 20px;
}

.top-consultation{
    color: $bg;
    width: 80%;
    text-align: center;
    font-size: large;
    text-decoration: underline;
}

.top-icon{
    color: #1BA89B;
    font-size: x-large;
}

.right-side{
    border-radius: 20px;
}

.individual-slot{
    border: 1px solid black;
}

.active {
    background-color: red;
    color: white;
    border: none;
}

.passive {
    background-color: white;
    color: black;
    border: 1px solid black;
}

.slot-button{
    width: 90px;
    height: 30px;
    padding: 0;
}

.default {
    background-color: white;
    color: black;
}

.otp-main-div{
    margin-left: 35%;
}

.otp-image{
   // margin-left: 100%;
    height: 220px;
    width: 220px;
}
.partial-width{
   width: 75%;
}

.btn-success {
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
}
.btn-success:hover {
    background: linear-gradient(to right, rgb(4, 158, 112), #107d6e);
}

.btn-custom {
    background-color: white;
    color: $bg;
}
.btn-custom:hover {
    background: linear-gradient(to right, rgb(82, 184, 113), #107d6e);
    color: white;
}
.width-seventy{
    width: 70%;
}

.resend-otp{
    color: white;
   // cursor: pointer;
    label{
        color: white;
        cursor: pointer;
    }
}

  // third stepper
.full-width {
    width: 100%;
}
.payment-button{
    background-color: white;
    color: $bg;
}

.mat-horizontal-stepper-header { 
    pointer-events: none !important; 
}

.logo{
    width: 40px;
    position: absolute;
    right: 0;
    top: 0;
    margin-right: 10px;
}

.width-full{
    width: 100%;
}

.btn-resend-otp{
    color: $bg;
    background-color: white;
    border: 1px solid $bg;
    &:hover{
        color: $bg;
        background-color: white;
    }
}

.myloading{
    width: 70x;
    height: 70px;
    z-index: 1;
}


@keyframes ldio-bz74ojoebh {
    0% { opacity: 1 }
    100% { opacity: 0 }
  }
  .ldio-bz74ojoebh div {
    left: 94px;
    top: 48px;
    position: absolute;
    animation: ldio-bz74ojoebh linear 1s infinite;
    background: #fe718d;
    width: 12px;
    height: 24px;
    border-radius: 6px / 12px;
    transform-origin: 6px 52px;
  }.ldio-bz74ojoebh div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -0.9166666666666666s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -0.8333333333333334s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.75s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.6666666666666666s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.5833333333333334s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.5s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.4166666666666667s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.3333333333333333s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.25s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.16666666666666666s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.08333333333333333s;
    background: #fe718d;
  }.ldio-bz74ojoebh div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
    background: #fe718d;
  }
  .loadingio-spinner-spinner-4o1nzyijdek {
    width: 200px;
    height: 200px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
    left: 50%;
    top: 50%;
    margin-top: -100px;
    margin-left: -100px;
    position: absolute;
  }
  .ldio-bz74ojoebh {
    z-index: 1;
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-bz74ojoebh div { box-sizing: content-box; }
  /* generated by https://loading.io/ */