<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div class="main main-raised m-auto">
        <div class="row m-0">
          <div class="card card-login m-0">
            <form class="form">
              <div class="text-center p-2">
                <h3 class="py-1 text-center mt-1 heading-title">Join Healthcrum</h3>
                <div class="social-pane">
                  <div class="row justify-content-center">
                    <div class="col-md-4">
                      <button class="btn btn-social btn-google mb-3" style="width:100%" (click)="signupWithGoogle()">
                        <span>
                          <fa-icon [icon]="google" class="fa-google-icon"></fa-icon>
                        </span> <span>Sign up with Google</span>
                      </button>
                    </div>
                    <div class="col-md-4">
                      <button class="btn btn-social btn-facebook mb-3" style="width:100%"
                        (click)="signupWithFacebook()">
                        <span>
                          <fa-icon [icon]="fb" class="fa-google-icon"></fa-icon>
                        </span> <span>Sign up with Facebook</span></button>
                    </div>
                  </div>

                </div>
                <div class="or-line">
                  <hr>
                  <h4 class="text-center m-0">OR</h4>
                </div>
              </div>

              <div class="card-body">

                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Full Name</mat-label>
                      <input type="text" matInput placeholder="Full Name" [(ngModel)]="user_name" name="user_name">
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Email Address</mat-label>
                      <input type="email" matInput placeholder="example@example.com" [(ngModel)]="user_email"
                        name="user_email">
                    </mat-form-field>

                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Phone Numer</mat-label>
                      <input type="tel" matInput placeholder="+91 9823xxxxxx" 
                      [(ngModel)]="user_mob" name="user_mob" pattern="[1-9]{1}[0-9]{9}">
                    </mat-form-field>

                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Select your Gender</mat-label>

                      <mat-select (selectionChange)="selectGender($event.value)">
                        <mat-option value="male">Male</mat-option>
                        <mat-option value="female">Female</mat-option>
                        <mat-option value="other">Other</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" *ngIf="!social">
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Password</mat-label>
                      <input type="password" matInput [(ngModel)]="user_pass" name="user_pass">
                    </mat-form-field>

                  </div>
                  <div class="col-md-6">
                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Confirm Password</mat-label>
                      <input type="password" matInput [(ngModel)]="user_cpass" name="user_cpass">
                    </mat-form-field>

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">

                    <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Date of Birth</mat-label>
                      <input matInput [matDatepicker]="picker" [formControl]="user_dob">
                      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">

                  </div>
                </div>

                <div class="row" style="align-items: center;background: #f8fbfd;">
                  <div class="col-md-4 text-center">
                    <h4>Signup As</h4>
                  </div>
                  <div class="col-md-8">
                    <ul class="nav nav-pills nav-pills-info nav-pills-icons" role="tablist">

                      <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab" (click)="setUserType('patient')">
                          <i>
                            <fa-icon [icon]="patient"></fa-icon>
                          </i> Patient
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab" (click)="setUserType('employee')">
                          <i>
                            <fa-icon [icon]="company"></fa-icon>
                          </i> Employee
                        </a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" href="#" role="tab" data-toggle="tab" (click)="setUserType('doctor')">
                          <i>
                            <fa-icon [icon]="doctor"></fa-icon>
                          </i> Doctor
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>

                <div class="row mt-3" *ngIf="user_type == 'employee'">
                  <div class="col-md-6">
                     <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Employee Id</mat-label>
                      <input matInput [(ngModel)]="employeeId" name="employeeId">
                    </mat-form-field>
                  </div>
                  <div class=" col-md-6">
                     <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Organisation </mat-label>
                      <mat-select  [(ngModel)]="companyId" name="companyId" (selectionChange)="getCompantBranches()">
                        <mat-option [value]="corp._id" *ngFor="let corp of corporates">{{corp.name}}</mat-option>
                      
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                     <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Branch</mat-label>
                      <mat-select  [(ngModel)]="branchId" name="branchId" (selectionChange)="getDepartments()">
                        <mat-option [value]="branch._id" *ngFor="let branch of branches">{{branch.branch_name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  </div>
                  <div class="col-md-6">
                     <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label>Department</mat-label>
                      <mat-select  [(ngModel)]="departmentId" name="deptId">
                        <mat-option [value]="department._id" *ngFor="let department of departments">{{department.name}}</mat-option>
                      </mat-select>
                      
                    </mat-form-field>
                  </div>
                </div>

                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <div class="form-check">
                        <label class="form-check-label">
                          <input class="form-check-input" type="checkbox" [(ngModel)]="agree" 
                          (click)="showAgree()" name="checkboox">
                          <span class="form-check-sign">
                            <span class="check"></span>
                          </span>
                          <b>Agree to </b><a (click)="openDialog()">terms and conditions</a>
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="py-4 px-5">
                <div class="row" style="align-items: center;">
                  <div class="col-md-6">
                    <button class="btn  btn-success" (click)="signupUser()">Signup Now</button>
                  </div>
                  <div class="col-md-6" style="font-size : unset">
                    <h4 style="font-size : unset">Already have account ? 
                      <a routerLink="/login" style="color:#ffad33; font-size : unset">Login now</a> </h4>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
