<main>
  <div class="bg_color_2">
    <div class="container margin_60_35">
      <div id="login-2">
        <h1>Hr Login</h1>
        <ngx-flip [flip]="flipDiv">
          <div front class="front" >
            <form>
              <div class="box_form clearfix" style="text-align: center;justify-content: center;display: flex;">
               <h3>HR LOGIN</h3>
                <div class="box_login last" style="border:none">
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Login Id</mat-label>
                    <input type="text" matInput [(ngModel)]="user_email" name="user_email"
                      placeholder="Email / phone number/ healthcrum id" required>
                  </mat-form-field>
            
                  <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Password</mat-label>
                    <input type="password" matInput [(ngModel)]="user_pass" name="user_pass" required>
                  </mat-form-field>
                  <div class="form-group">

                    <a href="#" class="forgot">
                     <small>Forgot password?</small></a>
                  </div>
                  <div class="form-group">
                    <input class="btn btn-success" type="submit" value="Login" (click)="loginLocal()">
                  </div>
                </div>
              </div>
            </form>
          </div>
     
        </ngx-flip>
        <!-- <p class="text-center link_bright">Do not have an account yet? <a routerLink="/signup"><strong
              style="color: #fff700;">Register
              now!</strong></a></p> -->
      </div>
      <!-- /login -->
    </div>
  </div>
</main>


<!-- Modal -->
<div class="modal fade" id="forgotModal" tabindex="-1" role="dialog" aria-labelledby="forgotModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header bg-info">
        <h5 class="card-title text-white" id="forgotModalLabel">Get Password Reset Link</h5>
        <button type="button" class="close text-white" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-row">
          <div class="col">
            <input type="email" class="form-control" placeholder="Email Address" required>
          </div>
          <div class="col">
            <button (click)="sendResetLink()" class="btn btn-primary btn-round">
              <i class="material-icons">send</i> Send
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>