<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-12 col-md-12">
        <div class="card">
          <div class="card-header card-header-tabs card-header-info">
            <div class="nav-tabs-navigation">
              <div class="nav-tabs-wrapper">
                <ul class="nav nav-tabs" data-tabs="tabs">
                  <li class="nav-item">
                    <a mat-button class="nav-link active text-white" href="#unverified" data-toggle="tab"
                      (click)="getUnverifiedDoctors()">
                      <i class="material-icons">
                        <fa-icon [icon]="doc_icon"></fa-icon>
                      </i> Un-Approved Doctors
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link text-white" href="#verified" data-toggle="tab"
                      (click)="getVerifiedDoctors()">
                      <i class="material-icons">
                        <fa-icon [icon]="doc_icon"></fa-icon>
                      </i> Approved Doctors
                      <div class="ripple-container"></div>
                    </a>
                  </li>
                  <li class="nav-item">
                    <a mat-button class="nav-link text-white" href="#add-doctor" data-toggle="tab" (click)="resetEdit()">
                      <i class="material-icons">
                        <fa-icon [icon]="doc_add"></fa-icon>
                      </i> Register New Doctor
                      <div class="ripple-container"></div>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="tab-content">
              <div class="tab-pane active" id="unverified">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">
                          <fa-icon [icon]="doc_icon"></fa-icon>
                        </i>
                      </div>
                      <h4 class="card-title">Un-verified Doctors</h4>
                    </div>
                    <div class="card-body">
                      <div class="approve-doctor">
                        <button nz-button nzType="info" [disabled]="setOfCheckedId.size === 0"
                          [nzLoading]="loadingUnverified" (click)="ApproveDoctors()">
                          Approve Doctors
                        </button>
                        <span>Selected {{ setOfCheckedId.size }} items</span>
                      </div>
                      <div class="table-responsive">
                        <nz-table class="mt-3" #unverifiedTable nzShowPagination nzShowSizeChanger nzBordered
                          [nzData]="unverifiedDoctorData" [nzLoading]="loadingUnverified"
                          (nzCurrentPageDataChange)="onCurrentPageDataChange($event)">
                          <thead>
                            <tr>

                              <th>
                                <mat-checkbox [(ngModel)]="checked" [(indeterminate)]="indeterminate"
                                  (change)="onAllChecked($event.checked)" color="primary">
                                </mat-checkbox>
                              </th>

                              <th>Employee Name</th>
                              <th>Email</th>
                              <th>Contact</th>
                              <th>HealthcrumID</th>
                              <th>Registered On</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of unverifiedTable.data;index as i">
                              <td>
                                <mat-checkbox [checked]="setOfCheckedId.has(data.userId._id)"
                                  (change)="onItemChecked(data.userId._id,$event.checked)" color="primary">
                                </mat-checkbox>
                              </td>
                              <td> {{ data.name}}</td>
                              <td>
                                {{ data.userId.email }}
                              </td>
                              <td>
                                {{data.userId.phone}}
                              </td>
                              <td>
                                {{data.userId.healthcrumId}}
                              </td>
                              <td>
                                {{data.createdAt | date : 'fullDate'}}
                              </td>
                              <td class="td-actions text-right">
                                <button mat-raised-button type="button" matTooltip="view doctor profile"
                                  [matTooltipPosition]="'above'" (click)="openDialog(i)"
                                  class="btn btn btn btn-primary btn btn-link btn btn-sm btn btn-just-icon mt-2">
                                  <i class="material-icons">visibility</i>
                                </button>

                                <button type="button" matTooltip="disapprove doctor"
                                  class="btn btn btn btn-danger btn btn-link btn btn-sm btn btn-just-icon" nz-popconfirm
                                  [matTooltipPosition]="'above'" nzPopconfirmTitle="Sure to disapprove?">
                                  <i class="material-icons">close</i>
                                </button>
                              </td>
                              <!-- <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data._id)">Delete</a> -->
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="tab-pane" id="verified">
                <div class="col-md-12">
                  <div class="card">
                    <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                        <i class="material-icons">
                          <fa-icon [icon]="doc_icon"></fa-icon>
                        </i>
                      </div>
                      <h4 class="card-title">Verified Doctors</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                        <nz-table class="mt-3" #verifiedTable nzBordered [nzData]="verifiedDoctorData"
                          [nzLoading]="loadingVerified">
                          <thead>
                            <tr>
                              <th>Name</th>
                              <th>Email</th>
                              <th>Contact</th>
                              <th>HealthcrumID</th>
                              <th>Speciality</th>
                              <th>Stream</th>
                              <th>Registered On</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr *ngFor="let data of verifiedTable.data;index as i" class="editable-row">

                              <td> {{ data.name}}</td>
                              <td>
                                {{ data.userId.email }}
                              </td>
                              <td>
                                {{data.userId.phone}}
                              </td>
                              <td>
                                {{data.userId.healthcrumId}}
                              </td>
                              <td> {{ data.speciality }} </td>
                              <td> {{ data.stream }} </td>
                              <td>
                                {{data.createdAt | date : 'fullDate'}}
                              </td>
                              <td class="td-actions text-center">
                                <button mat-raised-button type="button" matTooltip="Edit Task"
                                  [matTooltipPosition]="'above'" class="btn btn btn btn-info btn btn-link btn btn-sm btn btn-just-icon"
                                 (click)="openApprovedDialog(i)">
                                 <i class="material-icons">visibility</i></button>
                                 &nbsp;
                                <button mat-raised-button type="button" matTooltip="Edit Task" href="#add-doctor" data-toggle="tab"
                                  [matTooltipPosition]="'above'" class="btn btn btn btn-primary btn btn-link btn btn-sm btn btn-just-icon"  (click)="enableEditmode(i)">
                                  <i class="material-icons">edit</i>
                                </button>
                                &nbsp;
                                <button type="button" class="btn btn btn btn-danger btn btn-link btn btn-sm btn btn-just-icon" nz-popconfirm
                                  nzPopconfirmTitle="Sure to delete?">
                                  <i class="material-icons">close</i>
                                </button>
                              </td>
                              <!-- <a nz-popconfirm nzPopconfirmTitle="Sure to delete?" (nzOnConfirm)="deleteRow(data._id)">Delete</a> -->
                            </tr>
                          </tbody>
                        </nz-table>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="tab-pane" id="add-doctor">
                <button *ngIf="doctor_edit.enabled" mat-button class="btn btn-warning mt-4 mb-4" href="#verified" data-toggle="tab"
                (click)="goBack()">back</button>
                <nz-spin [nzSpinning]="loading" >
                <div class="container-fluid">
                  <mat-horizontal-stepper #stepper>
                    <mat-step [stepControl]="firstFormGroup" errorMessage="Fill the required fields" editable>
                      <form [formGroup]="firstFormGroup">
                        <ng-template matStepLabel>Personal Informations</ng-template>
                        <div class="container mt-5 mb-4">
                          <div class="row">
                            <div class="col-md-3 m-auto">
                              <div class="fileinput text-center fileinput-new" data-provides="fileinput">
                                <div class="fileinput-new thumbnail">
                                  <img *ngIf="doctor_edit.imageURl == ''" src="../../../assets/img/profile.svg" alt="profile_img">
                                  <img *ngIf="doctor_edit.imageURl != ''" src="{{doctor_edit.imageURl}}" alt="profile_img">
                                </div>
                                <div class="fileinput-preview fileinput-exists thumbnail"></div>
                                <div>
                                  <div class="btn btn-info btn-round btn-file">
                                    <div class="fileinput-new">Doctor Image</div>
                                    <div class="fileinput-exists">Change</div>
                                    <input type="hidden" value="" name=".">
                                    <input type="file" (change)="logoUpload($event)">
                                    <div class="ripple-container"></div>
                                  </div>
                                  <a href="#" class="btn btn-danger btn-round fileinput-exists"
                                    data-dismiss="fileinput"><i class="fa fa-times"></i> Remove<div
                                      class="ripple-container">
                                      <div class="ripple-decorator ripple-on ripple-out"
                                        style="left: 43.4125px; top: 30.9875px; background-color: rgb(255, 255, 255); transform: scale(15.5094);">
                                      </div>
                                    </div></a>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-9">
                              <div class="row">
                                <div class="col-md-6">
                                  <mat-form-field class="full-width">
                                    <mat-label>Doctor Name</mat-label>
                                    <input matInput placeholder="Full Name" formControlName="name">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                  <mat-form-field class="full-width">
                                    <mat-label>Select Gender</mat-label>
                                    <mat-select formControlName="gender">
                                      <mat-option *ngFor="let gender of genderList" [value]="gender">{{gender}}
                                      </mat-option>
                                    </mat-select>
                                  </mat-form-field>
                                </div>
                              </div>
                              <div class="row">
                                <div class="col-md-6">
                                  <div class="row">
                                    <div class="col-12">
                                      <mat-form-field class="full-width">
                                        <mat-label>Registration Number</mat-label>
                                        <input matInput placeholder="Registration Number"
                                          formControlName="registrationNumber">
                                      </mat-form-field>
                                    </div>
                                    <div class="col-12">
                                      <mat-form-field class="full-width">
                                        <mat-label>Choose a DOB</mat-label>
                                        <input matInput [matDatepicker]="picker" formControlName="dob">
                                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                        <mat-datepicker touchUi #picker></mat-datepicker>
                                      </mat-form-field>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-md-6">
                                  <mat-form-field class="full-width">
                                    <mat-label>About Doctor</mat-label>
                                    <textarea matInput placeholder="About doctor" rows="4"
                                      formControlName="about"></textarea>
                                  </mat-form-field>
                                </div>
                              </div>

                            </div>
                          </div>
                        </div>
                        <div>
                          <button mat-button matStepperNext  class="btn btn-info">Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="secondFormGroup" errorMessage="Fill the required fields" editable>
                      <form [formGroup]="secondFormGroup">
                        <ng-template matStepLabel>Doctor Address</ng-template>
                        <div class="container mt-5 mb-4">
                          <div class="row mt-3">
                            <div class="col-md-4 my-auto">
                              <div class="row">
                                <div class="col-md-12">
                                  <mat-form-field class="full-width">
                                    <mat-label>City</mat-label>
                                    <input matInput placeholder="city" formControlName="city">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                  <mat-form-field class="full-width">
                                    <mat-label>State</mat-label>
                                    <input matInput placeholder="state" formControlName="state">
                                  </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                  <mat-form-field class="full-width">
                                    <mat-label>Area name</mat-label>
                                    <textarea matInput formControlName="area" name="area"></textarea>
                                  </mat-form-field>
                                </div>
                                <div class="col-md-12">
                                  <mat-form-field class="full-width">
                                    <mat-label>Address</mat-label>
                                    <textarea matInput formControlName="address" name="address"></textarea>
                                  </mat-form-field>
                                </div>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom" [disableDefaultUI]="false"
                                [zoomControl]="false" (mapClick)="mapClicked($event)" style="height:300px">
                                <agm-marker (markerClick)="clickedMarker(marker.label, 1)" [latitude]="marker.lat"
                                  [longitude]="marker.lng" [label]="marker.label" [markerDraggable]="marker.draggable"
                                  (dragEnd)="markerDragEnd(marker, $event)"></agm-marker>
                              </agm-map>
                            </div>
                          </div>
                        </div>
                        <div>
                          <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                          <button mat-button matStepperNext class="btn btn-info">Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="thirdFormGroup" errorMessage="Fill the required fields" editable>
                      <form [formGroup]="thirdFormGroup">
                        <ng-template matStepLabel>Qualification and Experience</ng-template>
                        <div class="container mt-5 mb-4">
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Doctor Qualification</mat-label>
                                <input matInput placeholder="Doctor Qualification" formControlName="qualification">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Doctor Speciality</mat-label>
                                <input matInput placeholder="Doctor Speciality" formControlName="speciality">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Experience</mat-label>
                                <input matInput placeholder="Experience" formControlName="experience">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">

                            <div class=" col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Language</mat-label>
                                <mat-select multiple formControlName="languages">
                                  <mat-option value="english">English</mat-option>
                                  <mat-option value="hindi">Hindi</mat-option>
                                  <mat-option value="tamil">Tamil</mat-option>
                                  <mat-option value="Bengoli">Bengoli</mat-option>
                                  <mat-option value="urdu">Urdu</mat-option>
                                  <mat-option value="santhali">Santhali</mat-option>
                                  <mat-option value="gujrati">Gujrati</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class=" col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Stream</mat-label>
                                <mat-select formControlName="stream">
                                  <mat-option value="Ayurveda">Ayurveda</mat-option>
                                  <mat-option value="Allopathic">Allopathic</mat-option>
                                  <mat-option value="Homeophathic">Homeophathic</mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4 my-auto">
                              <mat-slide-toggle formControlName="fromHealthcrum">From Healthcrum ?
                              </mat-slide-toggle>
                            </div>
                          </div>
                        </div>

                        <div>
                          <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                          <button mat-button matStepperNext class="btn btn-info">Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="fourthFormGroup" errorMessage="Fill the required fields" editable>
                      <form [formGroup]="fourthFormGroup">
                        <ng-template matStepLabel>Consultation and Timing</ng-template>
                        <div class="container mt-5 mb-4">
                          <div class="row">
                            <div class="col-md-4 my-auto">
                              <mat-slide-toggle formControlName="video">Video Consultation
                              </mat-slide-toggle>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.video">
                              <mat-form-field class="full-width">
                                <mat-label>Available From</mat-label>
                                <input matInput type="time" formControlName="video_from">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.video">
                              <mat-form-field class="full-width">
                                <mat-label>Available to</mat-label>
                                <input matInput type="time" formControlName="video_to">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 my-auto">
                              <mat-slide-toggle formControlName="chat">Chat Consultation</mat-slide-toggle>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.chat">
                              <mat-form-field class="full-width">
                                <mat-label>Available From</mat-label>
                                <input matInput type="time" formControlName="chat_from">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.chat">
                              <mat-form-field class="full-width">
                                <mat-label>Available to</mat-label>
                                <input matInput type="time" formControlName="chat_to">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 my-auto">
                              <mat-slide-toggle formControlName="tele">Tele Consultation</mat-slide-toggle>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.tele">
                              <mat-form-field class="full-width">
                                <mat-label>Available From</mat-label>
                                <input matInput type="time" formControlName="tele_from">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.tele">
                              <mat-form-field class="full-width">
                                <mat-label>Available to</mat-label>
                                <input matInput type="time" formControlName="tele_to">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-4 my-auto">
                              <mat-slide-toggle formControlName="physical">Physical Consultation</mat-slide-toggle>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.physical">
                              <mat-form-field class="full-width">
                                <mat-label>Available From</mat-label>
                                <input matInput type="time" formControlName="physical_from">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.physical">
                              <mat-form-field class="full-width">
                                <mat-label>Available to</mat-label>
                                <input matInput type="time" formControlName="physical_to">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class=" col-md-4 my-auto">
                              <mat-slide-toggle formControlName="emergency">Emergency consultation</mat-slide-toggle>
                            </div>
                            <div class="col-md-4" *ngIf="fourthFormGroup.value.emergency">
                              <mat-form-field class="full-width">
                                <mat-label>Emergency consultation Fee</mat-label>
                                <input matInput placeholder="Emergency Fee" type="number"
                                  formControlName="emergencyFees">
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row mt-3">
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Consultation Fee</mat-label>
                                <input matInput placeholder="Consultation Fee" type="number"
                                  formControlName="consultationFees">
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Select Working Days</mat-label>
                                <mat-select multiple formControlName="days" name="days">
                                  <mat-option *ngFor="let day of daysName" [value]="day.value">
                                    {{day.name}}
                                  </mat-option>
                                </mat-select>
                              </mat-form-field>
                            </div>
                          </div>

                        </div>

                        <div>
                          <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                          <button mat-button matStepperNext class="btn btn-info">Next</button>
                        </div>
                      </form>
                    </mat-step>
                    <mat-step [stepControl]="fifthFormGroup" errorMessage="Fill the required fields" editable>
                      <form [formGroup]="fifthFormGroup">
                        <ng-template matStepLabel>Account Details</ng-template>
                        <div class="container mt-5 mb-4">
                          <h5 class="text-info">Account Credentials</h5>
                          <div class="row">
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Doctor Email ID</mat-label>
                                <input matInput placeholder="Email ID" formControlName="email" required>
                              </mat-form-field>
                            </div>
                            <div class="col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>Contact Number</mat-label>
                                <input matInput placeholder="Contact Number" formControlName="contact" required>
                              </mat-form-field>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-lg-4 col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>New password</mat-label>
                                <input matInput [type]="phide ? 'password' : 'text'" formControlName="password">
                                <button mat-icon-button matSuffix (click)="phide = !phide"
                                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{phide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </mat-form-field>
                            </div>
                            <div class="col-lg-4 col-md-4">
                              <mat-form-field class="full-width">
                                <mat-label>confirm password</mat-label>
                                <input matInput [type]="hide ? 'password' : 'text'" formControlName="cpassword">
                                <button mat-icon-button matSuffix (click)="hide = !hide"
                                  [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                </button>
                              </mat-form-field>
                            </div>
                          </div>
                        </div>

                        <div>
                          <button mat-button matStepperPrevious class="btn btn-secondary">Back</button>
                          <button *ngIf="!doctor_edit.enabled" mat-button (click)="addDoctor()" class="btn btn-success"> Submit</button>
                          <button *ngIf="doctor_edit.enabled" mat-button (click)="addDoctor()" class="btn btn-success"> Update Profile</button>
                        </div>
                      </form>
                    </mat-step>

                  </mat-horizontal-stepper>

                </div>
              </nz-spin>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>