<div>
  <div class="container">
    <div class="doctor-view">
      <div class="row heading-row">
        <div class="col-12">
          <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
              <div class="row">
                <div class="col-12 text-center medicine-name-div">
                  <h2 class="title medicine-name"> Medicine Name </h2>
                  <div class="medicine-brand-div">
                    <span class="medicine-brand"> Brand name | In stock </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-2"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-5">
          <div class="text-center">
            <img *ngIf="type==1" src="../../../../assets/img/tablet.png" class=" mt-5 medicine-image">
            <img *ngIf="type==2" src="../../../../assets/img/capsule.png" class="medicine-image mt-5">
            <img *ngIf="type==3" src="../../../../assets/img/syrup.png" class="medicine-image mt-5">
          </div>
        </div>
        <div class="col-md-7 col-sm-6">
          <!--
          <div class="row">
            <div class="col-12">
              <h2 class="title"> Medicine Name </h2>
            </div>
          </div>
          -->
          <div class="row">
            <div class="col-6">
              <table class="table top-table">
                <tr>
                  <td>Package size : </td>
                  <td> 10 pieces</td>
                </tr>
                <tr>
                  <td>Form : </td>
                  <td>Tablet</td>
                </tr>
              </table>
            </div>
          </div>
          <h3 class="div-price" style="color: #38c0d7;">HealthCrum Price : ₹ 150</h3>
          
          <div class="row">
            <div class="col-12">
              <div class="row">
                <div class="comparison-div" *ngFor="let company of affilication; index as i">
                  <img
                    src="{{company.src}}"
                    class="comparison-img"
                  >
                  <div class="font-large text-center" style="background-color : white">
                    Rs. {{company.price}}
                  </div>
                  <div class="go-store font-large text-center" (click)="goTOstore(i)" >
                      Go to store 
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4 mb-2">
        <div class="col-md-1"></div>
        <div class="col-md-10">
           Medicine aims to promote and maintain health and wellbeing.Conventional modern medicine is sometimes 
          called allopathic medicine.
          It involves the use of drugs or surgery, often supported by counseling and lifestyle measures.
          Alternative and complementary types of medicine include acupuncture, homeopathy, herbal medicine, 
          art therapy, traditional Chinese medicine, and many more.
        </div>
      </div>
    </div>
    <div class="book-section mt-2 mb-2">
      <div class="row">
        <div class="col-12 text-center">
          <button class="btn btn-info">Order Now</button>
          <button class="btn btn-custom">Add to cart</button>
        </div>
      </div>
    </div>
    <div class="single-medicine-bottom-section mb-2">
      <mat-accordion class="example-headers-align" multi>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            
              Description about medicine
            
          </mat-expansion-panel-header>
            Medicine aims to promote and maintain health and wellbeing.Conventional modern medicine is sometimes 
            called allopathic medicine.
             It involves the use of drugs or surgery, often supported by counseling and lifestyle measures.
             Alternative and complementary types of medicine include acupuncture, homeopathy, herbal medicine, 
             art therapy, traditional Chinese medicine, and many more.
        </mat-expansion-panel>

        <mat-expansion-panel class="mt-2">
          <mat-expansion-panel-header>
            
             Review
            
          </mat-expansion-panel-header>
            Medicine aims to promote and maintain health and wellbeing.Conventional modern medicine is sometimes 
            called allopathic medicine.
             It involves the use of drugs or surgery, often supported by counseling and lifestyle measures.
             Alternative and complementary types of medicine include acupuncture, homeopathy, herbal medicine, 
             art therapy, traditional Chinese medicine, and many more.
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
</div>

<!-- Classic Modal -->
<div class="modal fade" id="myLogin" tabindex="-1" role="dialog" style="overflow:none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <i class="material-icons">clear</i>
        </button>
      </div>
      <div class="modal-body text-center">
        <div class="row">
          <div class="col-12">
            <h5>Are you the patient ?</h5>
          </div>

          <div class="col-12">
            <button class="btn btn-link btn-success mr-3">Yes<div class="ripple-container">
                <div class="ripple-decorator ripple-on ripple-out"
                  style="left: 23.8875px; top: 28.2px; background-color: rgb(54, 244, 139); transform: scale(8.51094);">
                </div>
              </div></button>
            <button class="btn btn-link btn-danger mr-3">No<div class="ripple-container">
                <div class="ripple-decorator ripple-on ripple-out"
                  style="left: 23.8875px; top: 28.2px; background-color: rgb(244, 67, 54); transform: scale(8.51094);">
                </div>
              </div></button>
          </div>
        </div>
        <div class="row"> </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-link">Nice Button<div class="ripple-container"></div></button>
        <button type="button" class="btn btn-danger btn-link" data-dismiss="modal">Close<div class="ripple-container">
            <div class="ripple-decorator ripple-on ripple-out"
              style="left: 23.8875px; top: 28.2px; background-color: rgb(244, 67, 54); transform: scale(8.51094);">
            </div>
          </div></button>
      </div>
    </div>
  </div>
</div>
<!--  End Modal -->