<div class="master container-fluid">
  <div class="row">
    <mat-toolbar>
      <mat-select>
        <option value="" disabled [value]=""  selected>Select your option</option>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
      <!--<button class="ml-5 btn-sm" [matMenuTriggerFor]="menu"  >Menu</button>
      <mat-menu #menu="matMenu" [(ngModel)]='currentpackage' (change)="branchChange()">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      -->
      <!--
      <button class="btn btn-primary"> 
        Packages for branch : {{package}} 
      </button>
      -->
    </mat-toolbar>
  </div>
  <div class="row mt-4 mat-elevation-z8 ml-2 mr-2 mb-4" >
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card >
        <mat-card-title class="red-title">Danger Zone</mat-card-title>
        <mat-card-footer>4 person</mat-card-footer>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f70707'"
          [innerStrokeColor]="'#edbdc4'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
          [showSubtitle]="false"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="purple-title">Need Attention</mat-card-title>
        <mat-card-footer>4 person</mat-card-footer>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#7A67BB'"
          [innerStrokeColor]="'#bac9f2'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
          [showSubtitle]="false"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="yellow-title">Border Line</mat-card-title>
        <mat-card-footer>10 person</mat-card-footer>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#FDB900'"
          [innerStrokeColor]="'#f9e8bb'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
          [showSubtitle]="false"
        ></circle-progress>
      </mat-card>
    </div>
    
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="green-title">Green Zone</mat-card-title>
        <mat-card-footer>20 person</mat-card-footer>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
          [titleFontSize]="50"
          [showSubtitle]="false"
        ></circle-progress>
      </mat-card>
    </div>
  </div>

<!--
  <div class="row mt-4 mat-elevation-z8 ml-2 mr-2 mb-4" >
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="7"
          [showInnerStroke]="false"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [showSubtitle]='false'
          [backgroundPadding] = "5"
          [backgroundColor] = "'#FDB900'"
          [outerStrokeColor] = "'#FFFFFF'"
          [innerStrokeColor] = "'#FDB900'"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="7"
          [showInnerStroke]="false"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [showSubtitle]='false'
          [backgroundPadding] = "5"
          [backgroundColor] = "'#F33527'"
          [outerStrokeColor] = "'#FFFFFF'"
          [innerStrokeColor] = "'#FDB900'"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
        ></circle-progress>
      </mat-card>
    </div>
  </div>

   <div class="row mt-4 mat-elevation-z8 ml-2 mr-2 mb-4" >
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
     <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f70707'"
          [innerStrokeColor]="'#edbdc4'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
  </div>

  -->
</div>

