<div class="master container-fluid">
  <div class="row m-auto">
    <div class="col-3">
      <mat-form-field appearance="outline" class="full-width">
        <mat-label>Select package</mat-label>
        <mat-select (selectionChange)="onChange($event.value)">
          <mat-option *ngFor="let package of totalpackages" [value]="package.name">
            {{package.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>
  <div class="row m-auto showresult">
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="red-title text-center">Danger Zone</mat-card-title>
        <mat-card-footer class="card-footer bg-danger">{{currentData.red}} Employees</mat-card-footer>
        <circle-progress [percent]="percentage.red" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f70707'" [innerStrokeColor]="'#edbdc4'" [animation]="true" [animationDuration]="300"
          [responsive]='true' [titleFontSize]="50" [showSubtitle]="false"></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="purple-title text-center">Need Attention</mat-card-title>
        <mat-card-footer class="card-footer bg-purple">{{currentData.purple}} Employees</mat-card-footer>
        <circle-progress [percent]="percentage.purple" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#7A67BB'" [innerStrokeColor]="'#bac9f2'" [animation]="true" [animationDuration]="300"
          [responsive]='true' [titleFontSize]="50" [showSubtitle]="false"></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="yellow-title text-center">Border Line</mat-card-title>
        <mat-card-footer class="card-footer bg-warning">{{currentData.yellow}} Employees</mat-card-footer>
        <circle-progress [percent]="percentage.yellow" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#FDB900'" [innerStrokeColor]="'#f9e8bb'" [animation]="true" [animationDuration]="300"
          [responsive]='true' [titleFontSize]="50" [showSubtitle]="false"></circle-progress>
      </mat-card>
    </div>

    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <mat-card-title class="green-title text-center">Green Zone</mat-card-title>
        <mat-card-footer class="card-footer bg-success">{{currentData.green}} Employees</mat-card-footer>
        <circle-progress [percent]="percentage.green" [radius]="100" [outerStrokeWidth]="16" [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'" [innerStrokeColor]="'#C7E596'" [animation]="true" [animationDuration]="300"
          [responsive]='true' [titleFontSize]="50" [titleFontSize]="50" [showSubtitle]="false"></circle-progress>
      </mat-card>
    </div>
  </div>

  <!--
  <div class="row mt-4 mat-elevation-z8 ml-2 mr-2 mb-4" >
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="7"
          [showInnerStroke]="false"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [showSubtitle]='false'
          [backgroundPadding] = "5"
          [backgroundColor] = "'#FDB900'"
          [outerStrokeColor] = "'#FFFFFF'"
          [innerStrokeColor] = "'#FDB900'"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="7"
          [showInnerStroke]="false"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [showSubtitle]='false'
          [backgroundPadding] = "5"
          [backgroundColor] = "'#F33527'"
          [outerStrokeColor] = "'#FFFFFF'"
          [innerStrokeColor] = "'#FDB900'"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
        ></circle-progress>
      </mat-card>
    </div>
  </div>

   <div class="row mt-4 mat-elevation-z8 ml-2 mr-2 mb-4" >
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
     <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#78C000'"
          [innerStrokeColor]="'#C7E596'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
    <div class="col-lg-3 col-sm-6 mt-4 mb-4">
      <mat-card>
        <circle-progress
          [percent]="85"
          [radius]="100"
          [outerStrokeWidth]="16"
          [innerStrokeWidth]="8"
          [outerStrokeColor]="'#f70707'"
          [innerStrokeColor]="'#edbdc4'"
          [animation]="true"
          [animationDuration]="300"
          [responsive]='true'
          [titleFontSize]="50"
        ></circle-progress>
      </mat-card>
    </div>
  </div>

  -->
</div>