.top-label{
    color: black;
}
.red-title {
   color: #E91E63;
}
.purple-title{
    color: #7A67BB;
}
.yellow-title {
    color: #FDB900;
}
.green-title{
    color: #78C000;
}

// .showresult{
//     background-image: linear-gradient(#FFA603, #FAD08B);
// }