
<div class="container-fluid">
  <div class="row">
    <div class="col-md-7  ml-2 mt-4 mr-1">  
      <div class="row"> 
        <div class="col-12">
          <div class="row package-details-book">
            <div class="col-6">
              <h2>Package Details</h2>
            </div>
          </div>
          <div *ngFor="let shownresultarray of shownresultarrays; let i = index">
            <div class="package-details bg-white mat-elevation-z4 col-12 mb-4">
              <div class=" row" *ngIf="shownresultarray.type == 'video'">
                <div class="col-12 top-left">
                  <h4> 
                    <span class="test-heading"> 
                      <mat-icon class="mr-2">videocam</mat-icon>  Video Consultation
                    </span>
                  </h4>
                </div>
              </div>

              <div class="row" *ngIf="shownresultarray.type == 'telephonic'">
                <div class="col-12 top-left">
                  <h4> 
                    <span class="test-heading"> 
                      <mat-icon class="mr-2">perm_phone_msg</mat-icon> Telephonic Consultation
                    </span>
                  </h4>
                </div>
              </div>

              <div class="row" *ngIf="shownresultarray.type == 'physical'">
                <div class="col-12 top-left">
                  <h4> 
                    <span class="test-heading"> 
                      <mat-icon class="mr-2">meeting_room</mat-icon> Physical Consultation
                    </span>
                  </h4>
                </div>
              </div>

              <div class="row" *ngIf="shownresultarray.type == 'emergency'">
                <div class="col-12 top-left">
                  <h4> 
                    <span class="test-heading"> 
                      <mat-icon class="mr-2">announcement</mat-icon> Emergency Consultation
                    </span>
                  </h4>
                </div>
              </div>
              <div class="row">
                <div class="col-12 doctor-name">
                  <h2  class="doctor-name">{{shownresultarray.docname}}</h2>
                </div>
                <div class="col-md-2"></div>
                <div class="col-md-8" style="text-align : center">
                  <table class="table">
                    <tr>
                      <td>Date</td>
                      <td>{{shownresultarray.date | date}}</td>
                    </tr>
                    <tr>
                      <td>Time</td>
                      <td>{{shownresultarray.timeslot}}</td>
                      
                    </tr>
                    <tr>
                      <td>Amount</td>
                      <td>Rs. {{shownresultarray.offerprice}}</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 ml-1 mt-4" >
      <div class="row package-details-book">
        <h2>Balance Details</h2>
      </div>
      <div  *ngFor="let shownresultarray of shownresultarrays; let i = index">
        <div class=" col-12 package-info mb-4">
          <div class="col-12">
            <div class="row">
              <div class="col-8" style="padding: 0;">
                <h2> Book Consultation</h2>
              </div>
              <div class="offers col-4">
                <h3 style="margin: 0;">
                  Offer applied
                </h3>
              </div>  
              <div class="col-12">
                <!--
                <label class="delete"> ₹ {{shownresultarray.healcrumprice}}</label> 
                -->
                <label class="current">  ₹ {{shownresultarray.offerprice }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row overall mb-2" >
        <div class="col-12 bg-white mat-elevation-4">
          <table class="table">
            <tbody>
              <tr>
                <td>Total price</td>
                <td>{{shownresultarrays[0].offerprice}}</td>
              </tr>
              <!--
              <tr>
                <td>You save :</td>
                <td> {{shownresultarrays[0]. healcrumprice - shownresultarrays[0].offerprice}}</td>
              </tr>
              -->
            </tbody>
          </table>
          <div class="row">
            <div class="col-10 m-auto">
              <button class="btn full-width btn-placeorder" 
                
                (click)="placeorder()">Place Order
                <mat-icon>arrow_forward</mat-icon>
              </button>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--
<div class="container-fluid" id="pdf" #content>
  
  <div class="row">
    <div class="col-12 mt-4">
      <div class="row">
        <div class="col-5 ">
          <img
          src="./assets/img/consulation/downloadpdf/logo1.png"
          class="top-logo"
          >
        </div>
        <div class="col-7">
          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-1">
                  <mat-icon class="color-green"> location_on</mat-icon>
                </div>
                <div class="col-10">
                  <label class="top-label">Mohali, Punjab</label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-1">
                  <mat-icon class="color-green"> contact_mail</mat-icon>
                </div>
                <div class="col-10">
                  <label class="top-label">contact@healthcrum.com</label>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <div class="row">
                <div class="col-1">
                  <mat-icon class="color-green">perm_phone_msg</mat-icon>
                </div>
                <div class="col-10">
                  <label class="top-label">9874563210</label>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="row">
                <div class="col-1">
                   <mat-icon class="color-green">language</mat-icon>
                </div>
                <div class="col-10">
                   <label class="top-label">www.healthcrum.com</label>
                </div>
              </div>
            </div>
          </div>
          <mat-divider></mat-divider>
        </div>
      </div>  
      
      <div class="row mt-3">
        <div class="col-4">
          <label class="color-green">Invoice issue to :</label>
          <label class="top-label">{{eData.name}}</label>
        </div>
        <div class="col-4"></div>
        <div class="col-4">
          <label class="color-green">Bill No :</label>
          <label class="top-label">FL1236547</label>
        </div>
      </div>
      <div class="row bg-green mt-3">
        <div class="col-10" style="padding : 7px">
          <label class="color-white" style="font-size : larger;">Payment Successfull</label>
        </div>
        <div class="col-2 align-right">
          <label>
            <mat-icon class="top-icon color-white " 
              style = "font-size: x-large; margin-top: 6px;">check_circle_outline</mat-icon>
          </label>
        </div>
      </div>
      <div class="row mt-2 bg-lightgrey">
        <div class="col-12">
          <div class="row mt-2 ">
            <div class="col-6">
              <label class="color-black">Name</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.name}}</label>
            </div>
          </div>

          <div class="row ">
            <div class="col-6">
              <label class="color-black">Gender</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.gender}}</label>
            </div>
          </div>

          <div class="row  ">
            <div class="col-6">
              <label class="color-black">FSHPL ID:</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">15245321</label>
            </div>
          </div>
        </div>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>
      
      <div  class=" row mt-1 bg-lightgreen">
        <div class="col-12">
          <div class="row mt-2 ">
            <div class="col-6">
              <label class="color-black">Date of request</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.requestDate}}</label>
            </div>
          </div>

          <div class="row ">
            <div class="col-6">
              <label class="color-black">Date of checkup</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.checkupDate}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="color-black">Center:</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.centerName}}</label>
            </div>
          </div>
        </div>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>

      <div class="row mt-1 bg-lightgrey">
        <div class="col-12">
          <div class="row mt-2 ">
            <div class="col-6">
              <label class="color-black">Test/Service list</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">Video consultation</label>
            </div>
          </div>

          <div class="row  bg-lightgrey">
            <div class="col-6">
              <label class="color-black">Service provider</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.serviceProvider}}</label>
            </div>
          </div>

          <div class="row">
            <div class="col-6">
              <label class="color-black">Benefeciary name</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">Anything</label>
            </div>
          </div>
        </div>
        <mat-progress-bar mode="determinate" value="50"></mat-progress-bar>
      </div>   

      <div class="row mt-1 git bg-lightgreen ">
        <div class="col-12">
          <div class="row mt-2 ">
            <div class="col-6">
              <label class="color-black">Payment mode</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.paymentMode}}</label>
            </div>
          </div>

          <div class="row ">
            <div class="col-6">
              <label class="color-black">Payment status</label>
            </div>
            <div class="col-6 align-right">
              <label class="color-black">{{eData.status}}</label>
            </div>
          </div>
        </div>
        
      </div>     
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-6 " style="padding : 0">
      <table class="table">
        <tbody>
          <tr>
            <td>MRP :</td>
            <td>{{eData.mrp}}</td>
          </tr>
          <tr>
            <td>Discount price :</td>
            <td>{{eData.discountPrice }}</td>
          </tr>
          <tr>
            <td>Total :</td>
            <td>{{eData.totalPrice}}</td>
          </tr>
          <tr>
            <td>IGST/Tax percentage :</td>
            <td>{{eData.gstPercent}}</td>
          </tr>
          <tr>
            <td>IGST/Tax Amount</td>
            <td>{{eData.gstAmount}}</td>
          </tr>
          <tr>
            <td class="color-green">Grand Total :</td>
            <td>{{eData.total}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
</div>

 <button class="btn pdf-button" (click)="saveAsPDF()">Save as pdf <mat-icon>picture_as_pdf</mat-icon></button>
 -->